<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="connection.autocommit">true</property>
		  <!--Use ehcache as cache manager -->
		<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<!-- <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property> -->
		<property name="hibernate.cache.use_minimal_puts">false</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_structured_entries">true</property>
		<property name="hibernate.cache.provider_configuration_file_resource_path">ehcache.xml</property>
		<!-- default sql loaded when use auto create mode for h2 database only -->
		<property name="hibernate.hbm2ddl.import_files">sql/h2/import-common.sql,sql/h2/import-mails.sql,sql/h2/import-embedded.sql</property>
		<mapping resource="org/linagora/linshare/core/domain/entities/LogEntry.hbm.xml"/>

		<mapping resource="org/linagora/linshare/core/domain/entities/LdapPattern.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/UserProvider.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/ContactProvider.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/AllowedContact.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/LdapConnection.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/Policy.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/Functionality.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/Unit.hbm.xml"/>

		<mapping resource="org/linagora/linshare/core/domain/entities/AbstractDomain.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/DomainAccessRule.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/DomainAccessPolicy.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/DomainPolicy.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/Account.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/ThreadMember.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/LdapAttribute.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/TechnicalAccountPermission.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/AccountPermission.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/MailingList.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/MailingListContact.hbm.xml"/>

		<mapping resource="org/linagora/linshare/core/domain/entities/Entry.hbm.xml"/> 
		<mapping resource="org/linagora/linshare/core/domain/entities/Document.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/RecipientFavourite.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/Contact.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/AnonymousUrl.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/Signature.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/Cookie.hbm.xml"/>

		<mapping resource="org/linagora/linshare/core/domain/entities/MailLayout.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/MailFooterLang.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/MailFooter.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/MailContentLang.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/MailContent.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/MailConfig.hbm.xml"/>

		<mapping resource="org/linagora/linshare/core/domain/entities/MimeType.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/MimePolicy.hbm.xml"/>

		<mapping resource="org/linagora/linshare/core/domain/entities/UploadRequest.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/UploadRequestGroup.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/UploadRequestHistory.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/UploadRequestTemplate.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/UploadRequestUrl.hbm.xml"/>

		<mapping resource="org/linagora/linshare/core/domain/entities/UploadProposition.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/UploadPropositionAction.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/UploadPropositionFilter.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/UploadPropositionRule.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/WelcomeMessages.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/WelcomeMessagesEntry.hbm.xml"/>

		<mapping resource="org/linagora/linshare/core/domain/entities/ShareEntryGroup.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/MailActivation.hbm.xml"/>

		<mapping resource="org/linagora/linshare/core/domain/entities/AsyncTask.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/OperationHistory.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/Quota.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/Statistic.hbm.xml"/>
		<mapping resource="org/linagora/linshare/core/domain/entities/BatchHistory.hbm.xml"/>

		<mapping resource="org/linagora/linshare/core/domain/entities/UpgradeTask.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
