#DATABASE INFORMATION
database.username=username
database.password=password
database.name=esafe
database.port=5432
database.host=localhost
database.driver.class=org.postgresql.Driver

#Home directory for jackRabbit
home.directory=file:/tmp/repository

#Content access information
repository.username=user
repository.password=password


