# In order to use an external configuration file for linshare, use this key for JAVA_OPS
# JAVA_OPTS="${JAVA_OPTS} -Dlinshare.config.path=file:/etc/linshare/"

#******************** MAIL CONFIGURATION TO SEND MAIL INFORMATION TO USER

mail.smtp.host=smtp.yourdomain.com
mail.smtp.port=25
mail.smtp.sender=linShare@yourdomain.com
mail.smtp.user=user
mail.smtp.password=password
mail.smtp.auth.needed=false
mail.smtp.charset=UTF-8

#******************* DATASTORE
#uncomment this line to encrypt the files
#linshare.datastore.class=org.linagora.linshare.core.dao.EncDbDataStore

#******************** DATABASE
### PostgreSQL
linshare.db.username=linshare
linshare.db.password=linshare
linshare.db.driver.class=org.postgresql.Driver
linshare.db.url=jdbc:postgresql://localhost:5432/linshare
linshare.db.dialect=org.hibernate.dialect.PostgreSQLDialect
linshare.db.persistence_manager=org.apache.jackrabbit.core.persistence.bundle.PostgreSQLPersistenceManager
### MySQL
#linshare.db.username=linshare
#linshare.db.password=linshare
#linshare.db.driver.class=com.mysql.jdbc.Driver
#linshare.db.url=jdbc:mysql://localhost:3306/linshare
#linshare.db.dialect=org.hibernate.dialect.MySQL5Dialect
#linshare.db.persistence_manager=org.apache.jackrabbit.core.persistence.bundle.MySqlPersistenceManager

#show sql command in console (true in debug mode)
linshare.db.show_sql=false
#format sql command in console (true in debug mode)
linshare.db.format_sql=false
#generate statistics with hibernate
linshare.db.gen_stats=false
# can be create, create-drop, update, validate, choose validate for production
linshare.db.hbm2ddl.auto=validate


#******************** GENERAL PROPERTIES

#max input type file slots in upload form
linshare.default.maxUpload=10
#Maximum size (in bytes) of a single upload request Defaults to -1 (no limit).
linshare.default.maxUploadSize=-1
#linshare url which is used in mail templates. give a different internal url if internal
# user connect with a different url (e.g. CAS url)
linshare.info.url.base=http://localhost:8080/linshare/
linshare.info.url.internal=http://localhost:8080/linshare/
#directory of the jws application to decrypt document (jwsDecrypt.jar)
javawebstart.decrypt.url.suffixcodebase=applet
#set to true in tapestry production environnement
linshare.productionMode=true
#local work directory to encrypt/decrypt data
linshare.encipherment.tmp.dir=/var/lib/linshare/tmp
#local work directory to sign data
linshare.signature.tmp.dir=/var/lib/linshare/tmp/linSignDocuments
#directory used to store shared files
linshare.files.directory=/var/lib/linshare/repository

# internal user see all other internal user by default in the Users tab ?
linshare.users.internal.defaultView.showAll=false

#******************** VIRUS SCANNER
#uncomment those properties if you want to enable clamav virus scanner feature
#virusscanner.clamav.host=localhost
#virusscanner.clamav.port=3310


#******************** SSO 
sso.button.hide=true
# extra config for CAS sso (disable springContext-security and use configuration springContext-securityCAS.xml)
sso.cas.url=http://localhost:8081/cas-server-webapp-3.3.5
sso.cas.url.login=http://localhost:8081/cas-server-webapp-3.3.5/login
sso.cas.url.serviceId=http://localhost:8080/linshare/j_spring_cas_security_check
# LemonLDAP::NG / SiteMinder HTTP request authenticator
sso.header.user=Auth-User


#******** TSA Authority (optional)
tsa.url=http://localhost:8080/signserver/tsa?signerId=1


#******** Secured storage
linshare.secured-storage.disallow=false
linshare.secured-storage.disallowed.job.file-cleaner.activate=false
linshare.secured-storage.disallowed.job.file-cleaner.cron=0 0 0 1 1 ?

#******************** Syntax for CRON
# 	 Field				Mandatory	Allowed Values			Allowed Special Characters
# 1. Second				yes			0-59					, - * /	
# 2. Minutes			yes			0-59					, - * /
# 3. Hours				yes			0-23					, - * /
# 4. Day of month		yes			1-31					, - * ? / L W
# 5. Month				yes			1-2 or JAN-DEC			, - * /
# 6. Day of week		yes			1-7 or SUN-SAT			, - * ? / L #
# 7. Year 				no			empty, 1970-2099		, - * /
#
# Legend : ? : no specific value
#		 : L : last
#		 : W : weekday



#******** Domain
linshare.domain.visible=false