
#******************** LDAP FOR AUTHENTICATION
#if you use ssl with ldap put ldaps in url
ldap.auth.url=ldap://localhost:389
ldap.auth.base=dc=linagora,dc=com
ldap.auth.baseDN=ou=test,o=linShare
ldap.auth.key=mail={0}
ldap.hash.algo=SHA
# Strategy is SIMPLE, DEFAULT_TLS, or EXTERNAL_TLS for SASL connection. TLS is not supported at this time by linShare
ldap.auth.strategy=SIMPLE
#Leave ldap ssl configuration empty if not used. Give path to a java trustore.
ldap.auth.ssl.trustore.file=
ldap.auth.ssl.trustore.password=

#Leave userDN and password empty for anonymous connection to LDAP
ldap.auth.userDN=cn=nss,dc=linagora,dc=com
ldap.auth.password=nss

#paging ldap search: pageSize < sizelimit of the ldap
# Use only with compatible directories, 0 instead
#ldap.pageSize=400
ldap.pageSize=0

#******************** MAIL CONFIGURATION TO SEND MAIL INFORMATION TO USER

mail.smtp.host=smtp.linagora.com
mail.smtp.sender=linShare@linagora.com
mail.smtp.user=user
mail.smtp.password=password
mail.smtp.auth.needed=false
mail.smtp.charset=UTF-8


#******************** DATABASE
### PostgreSQL
linshare.db.username=linshare
linshare.db.password=linshare
linshare.db.driver.class=org.postgresql.Driver
linshare.db.url=jdbc:postgresql://localhost:5432/linshare
linshare.db.dialect=org.hibernate.dialect.PostgreSQLDialect
linshare.db.persistence_manager=org.apache.jackrabbit.core.persistence.bundle.PostgreSQLPersistenceManager
### H2 
#linshare.db.username=sa
#linshare.db.password=
#linshare.db.driver.class=org.h2.Driver
#linshare.db.url=jdbc:h2:file:linshare
#linshare.db.dialect=org.hibernate.dialect.H2Dialect
#linshare.db.persistence_manager=org.apache.jackrabbit.core.persistence.bundle.H2PersistenceManager


#show sql command in console (true in debug mode)
linshare.db.show_sql=false
#format sql command in console (true in debug mode)
linshare.db.format_sql=false
#generate statistics with hibernate
linshare.db.gen_stats=false
# can be create, create-drop, update, validate, choose validate for production
linshare.db.hbm2ddl.auto=validate


#******************** GENERAL PROPERTIES

#linshare roles do not modify
role.admin=admin
role.user=simple
role.public=public
#max input type file slots in upload form
linshare.default.maxUpload=10
#Maximum size (in bytes) of a single upload request Defaults to -1 (no limit).
linshare.default.maxUploadSize=-1
#linshare url which is used in mail templates
linshare.info.urlShare=http://localhost:8080/linshare/
#set to true in tapestry production environnement
linshare.productionMode=false
#local work directory to encrypt/decrypt data
linshare.encipherment.tmp.dir=/tmp
#local work directory to sign data
linshare.signature.tmp.dir=/tmp/linSignDocuments

#******************** BATCH AND CRON

# Batches are launched every days at 0a.m
job.cron.expression=0 0 0 * * ?
# Fetching consistency batch is launched at 2a.m
job.consistency.cron.expression=0 0 2 * * ?

# Minimal version for Flash player (requested for upload support)
linshare.flash.version.minimal=10.0.1
# Comma separated list of supported OS for upload with flash client (Windows,Mac,Linux)
linshare.flash.allowed.agents=Windows

#******************** VIRUS SCANNER
#uncomment those properties if you want to enable clamav virus scanner feature
#virusscanner.clamav.host=localhost
#virusscanner.clamav.port=3310

# Home for jackrabbit files
linshare.files.directory=/home/you/tmp/repository

