# In order to use an external configuration file for linshare, use this key for JAVA_OPS
# JAVA_OPTS="${JAVA_OPTS} -XX:MaxPermSize=256m -Djava.awt.headless=true -Xms512m -Xmx1538m -XX:-UseSplitVerifier"
# JAVA_OPTS="${JAVA_OPTS} -Dlinshare.config.path=file:/etc/linshare/"
# JAVA_OPTS="${JAVA_OPTS} -Dlog4j.configuration=file:/etc/linshare/log4j.properties"



#******************** MAIL CONFIGURATION TO SEND MAIL INFORMATION TO USER

mail.smtp.host=smtp.yourdomain.com
mail.smtp.port=25
mail.smtp.user=user
mail.smtp.password=password
mail.smtp.auth.needed=false
mail.smtp.charset=UTF-8

#******************* DATASTORE
#uncomment this line to encrypt the files
#linshare.datastore.class=org.linagora.linshare.core.dao.EncDbDataStore

#******************** DATABASE
### PostgreSQL
linshare.db.username=linshare
linshare.db.password=linshare
linshare.db.driver.class=org.postgresql.Driver
linshare.db.url=jdbc:postgresql://localhost:5432/linshare
linshare.db.dialect=org.hibernate.dialect.PostgreSQLDialect
linshare.db.persistence_manager=org.apache.jackrabbit.core.persistence.bundle.PostgreSQLPersistenceManager
### MySQL
#linshare.db.username=linshare
#linshare.db.password=linshare
#linshare.db.driver.class=com.mysql.jdbc.Driver
#linshare.db.url=jdbc:mysql://localhost:3306/linshare
#linshare.db.dialect=org.hibernate.dialect.MySQL5Dialect
#linshare.db.persistence_manager=org.apache.jackrabbit.core.persistence.bundle.MySqlPersistenceManager

#show sql command in console (true in debug mode)
linshare.db.show_sql=false
#format sql command in console (true in debug mode)
linshare.db.format_sql=false
#generate statistics with hibernate
linshare.db.gen_stats=false
# can be create, create-drop, update, validate, choose validate for production
linshare.db.hbm2ddl.auto=validate


#******************** GENERAL PROPERTIES
#set to true in tapestry production environnement
linshare.productionMode=true
#local work directory to encrypt/decrypt data
linshare.encipherment.tmp.dir=/var/lib/linshare/tmp
#local work directory to sign data
linshare.signature.tmp.dir=/var/lib/linshare/tmp/linSignDocuments
#directory used to store shared files
linshare.files.directory=/var/lib/linshare/repository

# internal user see all other internal user by default in the Users tab ?
linshare.users.internal.defaultView.showAll=false

# Externalized translations
# 1. create an empty file in the following directory for every WEB-INF/app*.properties files.
# 2. create another empty file named app_en.properties
# NB:
# - You just need to add the keys you want to override to these files.
# - All key presents in app.properties will be global for every language.
# linshare.translations.file=/etc/linshare

# webservice
webservice.attachment-memory-threshold=4000000
webservice.attachment-directory=/tmp/


#******************** VIRUS SCANNER
#uncomment those properties if you want to enable clamav virus scanner feature
#virusscanner.clamav.host=localhost
#virusscanner.clamav.port=3310


#******************** SSO 
# sso.button.hide=true
# LemonLDAP::NG / SiteMinder HTTP request authenticator
sso.header.user=Auth-User
# comma separated list of ip address to be trusted :  
sso.header.allowfrom=127.0.0.1


#******************** Syntax for CRON
# 	 Field				Mandatory	Allowed Values			Allowed Special Characters
# 1. Second				yes			0-59					, - * /	
# 2. Minutes			yes			0-59					, - * /
# 3. Hours				yes			0-23					, - * /
# 4. Day of month		yes			1-31					, - * ? / L W
# 5. Month				yes			1-2 or JAN-DEC			, - * /
# 6. Day of week		yes			1-7 or SUN-SAT			, - * ? / L #
# 7. Year 				no			empty, 1970-2099		, - * /
#
# Legend : ? : no specific value
#		 : L : last
#		 : W : weekday

#******** Document cleaner
job.document.cleaner.activation=false
job.document.cleaner.cron.expression=0 0 0 1 1 ?


#******** Domain
# If true, the user must select a domain from a combo box before authentication.
linshare.domain.visible=false
# If true, we can search an user during authentication process using his uid or his mail (as a login).
# By default, false, only the mail is used.
# Be careful if you have multiples directories, login must be unique !!!
linshare.multidomain.enable=false


#****************** LinShare Logo
linshare.logo.webapp.visible=true
linshare.logo.mails.visible=true
