<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns:b="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
 	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<b:bean name="jwtAuthenticationFilter"
		class="org.linagora.linshare.auth.jwt.JwtAuthenticationFilter">
	</b:bean>

	<b:bean id="jwtAuthenticationProvider"
		class="org.linagora.linshare.auth.jwt.JwtAuthenticationProvider">
		<b:property name="authentificationFacade" ref="authentificationFacade" />
		<b:property name="ldapUserDetailsProvider" ref="ldapUserDetailsProvider" />
		<!-- good practice ? -->
		<b:property name="jwtService" ref="jwtService" />
		<b:property name="jwtLongTimeMongoRepository" ref="jwtLongTimeMongoRepository" />
		<b:property name="userRepository" ref="userRepository" />
	</b:bean>

	<b:bean id="linShareWebAuthenticationDetailsSource"
			class="org.linagora.linshare.auth.LinShareWebAuthenticationDetailsSource">
	</b:bean>
	<b:bean id="restAuthenticationEntryPoint"
			class="org.linagora.linshare.auth.LinShareBasicAuthenticationEntryPoint">
		<b:property name="realmName" value="Name Of Your LinShare Realm" />
	</b:bean>
	<b:bean id="basicProcessingFilter" class="org.springframework.security.web.authentication.www.BasicAuthenticationFilter">
		<b:constructor-arg>
			<b:ref bean="authenticationManager" />
		</b:constructor-arg>
		<b:constructor-arg>
			<b:ref bean="restAuthenticationEntryPoint" />
		</b:constructor-arg>
		<b:property name="authenticationDetailsSource" ref="linShareWebAuthenticationDetailsSource"/>
	</b:bean>

</b:beans>
