<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxrs
	http://cxf.apache.org/schemas/jaxrs.xsd
	http://cxf.apache.org/core
	http://cxf.apache.org/schemas/core.xsd">

	<description>Upload Request API exposed on /webservice/rest/uploadrequest/v4 </description>

	<bean id="uploadRequestv4FlowUploaderRestService" class="org.linagora.linshare.webservice.uploadrequestv4.impl.FlowUploaderRestServiceImpl">
		<constructor-arg ref="wsUploadRequestUrlFacade" />
	</bean>
	<bean id="uploadRequestv4RestService" class="org.linagora.linshare.webservice.uploadrequestv4.impl.UploadRequestRestServiceImpl">
		<constructor-arg ref="wsUploadRequestUrlFacade" />
	</bean>
	<jaxrs:server id="restUploadRequestV4Container" address="/rest/uploadrequest/v4">
		<jaxrs:serviceBeans>
			<ref bean="uploadRequestv4FlowUploaderRestService"/>
			<ref bean="uploadRequestv4RestService"/>
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="json" value="application/json" />
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<jaxrs:providers>
			<!-- ExceptionMappers. -->
			<ref bean="illegalArgumentExceptionMapper" />
			<ref bean="businessExceptionMapper" />
			<ref bean="genericExceptionMapper" />
			<ref bean="webApplicationExceptionMapper" />
			<ref bean="jsonParseExceptionMapper" />
			<ref bean="unrecognizedPropertyExceptionMapper" />
			<ref bean="dataIntegrityViolationExceptionMapper" />
			<ref bean="mismatchedInputExceptionMapper" />
			<ref bean="nullPointerExceptionMapper" />
			<!-- Json provider for serialisation -->
			<ref bean="jsonProvider" />
		</jaxrs:providers>
		<jaxrs:features>
			<bean class="org.apache.cxf.jaxrs.openapi.OpenApiFeature">
				<property name="useContextBasedConfig" value="true" />
				<property name="scan" value="false" />
				<property name="scanKnownConfigLocations" value="false" />
				<property name="configLocation"
					value="openapi-configuration-uploadrequestv4.json" />
				<property name="supportSwaggerUi" value="true" />
			</bean>
			<!-- <cxf:logging /> -->
		</jaxrs:features>
		<jaxrs:inInterceptors>
			<!-- For debug only : print input message -->
			<!-- <ref bean="logInbound" /> -->
			<!-- This interceptor is designed to store some context properties in 
				message exchange context for timingOutInterceptor -->
			<!-- This interceptor is designed compute request execution time. -->
			<ref bean="timingInInterceptor" />
		</jaxrs:inInterceptors>
		<jaxrs:outInterceptors>
			<!-- For debug only : print output message -->
			<!-- <ref bean="logOutbound" /> -->
			<!-- This interceptor is designed compute request execution time. -->
			<ref bean="timingOutInterceptor" />
		</jaxrs:outInterceptors>
	</jaxrs:server>
</beans>
