<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxrs
	http://cxf.apache.org/schemas/jaxrs.xsd
	http://cxf.apache.org/core
	http://cxf.apache.org/schemas/core.xsd">

	<!-- cxf -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<bean id="adminv5AuthenticationRestService" class="org.linagora.linshare.webservice.adminv5.impl.AuthenticationRestServiceImpl">
		<constructor-arg ref="wsAdminV5UserFacade" />
		<constructor-arg ref="wsSecondFactorAuthenticationFacade" />
	</bean>
	<bean id="adminv5SharedSpaceRestService" class="org.linagora.linshare.webservice.adminv5.impl.SharedSpaceRestServiceImpl">
		<constructor-arg ref="wsAdminV5SharedSpaceFacade" />
		<constructor-arg ref="sharedSpaceMemberFacade" />
	</bean>
	<bean id="adminv5UserRestService" class="org.linagora.linshare.webservice.adminv5.impl.UserRestServiceImpl">
		<constructor-arg ref="wsAdminV5UserFacade" />
	</bean>
	<bean id="adminv5EnumRestService" class="org.linagora.linshare.webservice.adminv5.impl.EnumRestServiceImpl">
	</bean>
	<bean id="adminv5DomainRestService" class="org.linagora.linshare.webservice.adminv5.impl.DomainRestServiceImpl">
		<constructor-arg ref="wsAdminV5DomainFacade" />
	</bean>
	<bean id="adminv5RemoteServerRestService" class="org.linagora.linshare.webservice.adminv5.impl.RemoteServerRestServiceImpl">
		<constructor-arg ref="wsAdminV5RemoteServerFacade" />
	</bean>
	<bean id="adminv5DomainUserFilterRestService" class="org.linagora.linshare.webservice.adminv5.impl.DomainUserFilterRestServiceImpl">
		<constructor-arg ref="wsAdminV5DomainUserFilterFacade" />
	</bean>
	<bean id="adminv5DomainGroupFilterRestService" class="org.linagora.linshare.webservice.adminv5.impl.DomainGroupFilterRestServiceImpl">
		<constructor-arg ref="wsAdminV5DomainGroupFilterFacade" />
	</bean>
	<bean id="adminv5UserProviderRestService" class="org.linagora.linshare.webservice.adminv5.impl.UserProviderRestServiceImpl">
		<constructor-arg ref="wsAdminV5userProviderFacade" />
	</bean>
	<bean id="adminv5GroupProviderRestService" class="org.linagora.linshare.webservice.adminv5.impl.GroupProviderRestServiceImpl">
		<constructor-arg ref="wsAdminV5GroupProviderFacade" />
	</bean>
	<bean id="adminv5DriveProviderRestService" class="org.linagora.linshare.webservice.adminv5.impl.DriveProviderRestServiceImpl">
		<constructor-arg ref="wsAdminV5DriveProviderFacade" />
	</bean>
	<bean id="adminv5DomainDriveFilterRestService" class="org.linagora.linshare.webservice.adminv5.impl.DomainDriveFilterRestServiceImpl">
		<constructor-arg ref="wsAdminV5DomainDriveFilterFacade" />
	</bean>
	<bean id="adminv5FunctionalityRestService" class="org.linagora.linshare.webservice.adminv5.impl.FunctionalityRestServiceImpl">
		<constructor-arg ref="wsAdminV5FunctionalityFacade" />
	</bean>
	<bean id="adminv5WelcomeMessageRestService" class="org.linagora.linshare.webservice.adminv5.impl.WelcomeMessageRestServiceImpl">
		<constructor-arg ref="wsAdminV5WelcomeMessageFacade"/>
	</bean>



	<bean id="adminv5DomainQuotaRestService" class="org.linagora.linshare.webservice.adminv5.impl.DomainQuotaRestServiceImpl">
	<constructor-arg ref="wsAdminV5DomainQuotaFacade"/>
	</bean>
	<jaxrs:server id="restAdminV5Container" address="/rest/admin/v5">
		<jaxrs:serviceBeans>
			<ref bean="adminv5UserRestService" />
			<ref bean="adminv5AuthenticationRestService" />
			<ref bean="adminSharedSpaceRoleRestService"/>
			<ref bean="adminv5SharedSpaceRestService"/>
			<ref bean="adminv5EnumRestService"/>
			<ref bean="adminSharedSpaceMemberRestService"/>
			<ref bean="adminv5DomainRestService"/>
			<ref bean="adminv5RemoteServerRestService"/>
			<ref bean="adminv5DomainUserFilterRestService"/>
			<ref bean="adminv5DomainGroupFilterRestService"/>
			<ref bean="adminv5UserProviderRestService"/>
			<ref bean="adminv5DomainDriveFilterRestService"/>
			<ref bean="adminv5FunctionalityRestService"/>
			<ref bean="adminv5GroupProviderRestService"/>
			<ref bean="adminv5DriveProviderRestService"/>
			<ref bean="adminv5WelcomeMessageRestService"/>
			<ref bean="adminv5DomainQuotaRestService"/>
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="json" value="application/json" />
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<jaxrs:providers>
			<!--  ExceptionMappers. -->
			<ref bean="illegalArgumentExceptionMapper" />
			<ref bean="businessExceptionMapper" />
			<ref bean="genericExceptionMapper" />
			<ref bean="webApplicationExceptionMapper" />
			<ref bean="jsonParseExceptionMapper" />
			<ref bean="unrecognizedPropertyExceptionMapper" />
			<ref bean="dataIntegrityViolationExceptionMapper" />
			<ref bean="mismatchedInputExceptionMapper" />
			<ref bean="nullPointerExceptionMapper" />
			<!-- Json provider for serialisation -->
			<ref bean="jsonProvider" />
		</jaxrs:providers>
		<jaxrs:features>
			<bean class="org.apache.cxf.jaxrs.openapi.OpenApiFeature">
				<property name="useContextBasedConfig" value="true"/>
				<property name="scan" value="false"/>
				<property name="scanKnownConfigLocations" value="false"/>
				<property name="configLocation" value="openapi-configuration-adminv5.json"/>
				<property name="supportSwaggerUi" value="true"/>
			</bean>
<!-- 			<cxf:logging /> -->
		</jaxrs:features>
		<jaxrs:inInterceptors>
			<!-- For debug only : print input message -->
<!-- 			<ref bean="logInbound" /> -->
			<!-- This interceptor is designed to store some context properties in message exchange context for timingOutInterceptor -->
			<ref bean="timingInInterceptor" />
			<ref bean="contentTypeInterceptor" />
		</jaxrs:inInterceptors>
		<jaxrs:outInterceptors>
			<!-- For debug only : print output  message -->
<!--             	<ref bean="logOutbound" /> -->
			<!-- This interceptor is designed compute request execution time.-->
			<ref bean="timingOutInterceptor" />
		</jaxrs:outInterceptors>
		<jaxrs:inFaultInterceptors>
		</jaxrs:inFaultInterceptors>
		<jaxrs:outFaultInterceptors>
		</jaxrs:outFaultInterceptors>
	</jaxrs:server>
</beans>
