<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/transports/http/configuration
	http://cxf.apache.org/schemas/configuration/http-conf.xsd
	http://cxf.apache.org/jaxws
	http://cxf.apache.org/schemas/jaxws.xsd
	http://cxf.apache.org/jaxrs
	http://cxf.apache.org/schemas/jaxrs.xsd">
	<description>User v2 api exposed on /webservice/rest/user/v2 endpoint.</description>

	<!-- cxf -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<!-- REST  -->
	<bean id="userv2EnumRestService" class="org.linagora.linshare.webservice.userv2.impl.EnumRestServiceImpl">
	</bean>

	<bean id="userv2AuthenticationRestService" class="org.linagora.linshare.webservice.userv2.impl.AuthenticationRestServiceImpl">
		<constructor-arg ref="wsUserFacade" />
	</bean>

	<bean id="userv2DocumentRestService" class="org.linagora.linshare.webservice.userv2.impl.DocumentRestServiceImpl">
		<constructor-arg ref="wsDocumentFacade" />
		<constructor-arg ref="wsDocumentAsyncFacade" />
		<constructor-arg ref="wsAsyncTaskFacade" />
		<constructor-arg ref="taskExecutor" />
		<constructor-arg ref="wsAccountQuotaFacade" />
		<constructor-arg value="${linshare.rest.files.size.validation}" />
	</bean>

	<bean id="userv2ReceivedShareRestService" class="org.linagora.linshare.webservice.userv2.impl.ReceivedShareRestServiceImpl">
		<constructor-arg ref="wsShareFacade" />
	</bean>

	<bean id="userv2WorkGroupMemberRestService" class="org.linagora.linshare.webservice.userv2.impl.WorkGroupMemberRestServiceImpl">
		<constructor-arg ref="wsThreadMemberFacade" />
	</bean>

	<bean id="userv2WorkGroupRestService" class="org.linagora.linshare.webservice.userv2.impl.WorkGroupRestServiceImpl">
		<constructor-arg ref="wsThreadFacade" />
	</bean>

	<bean id="userv2WorkGroupNodeRestService" class="org.linagora.linshare.webservice.userv2.impl.WorkGroupNodeRestServiceImpl">
		<constructor-arg ref="wsWorkGroupNodeFacade" />
		<constructor-arg ref="wsThreadEntryAsyncFacade" />
		<constructor-arg ref="wsAsyncTaskFacade" />
		<constructor-arg ref="taskExecutor" />
		<constructor-arg ref="wsAccountQuotaFacade" />
		<constructor-arg value="${linshare.rest.files.size.validation}" />
	</bean>

	<bean id="userv2WorkGroupNodeLightRestService" class="org.linagora.linshare.webservice.userv2.impl.WorkGroupNodeLightRestServiceImpl">
		<constructor-arg ref="wsWorkGroupNodeFacade" />
	</bean>

	<bean id="userv2UserPreferenceRestService" class="org.linagora.linshare.webservice.userv2.impl.UserPreferenceRestServiceImpl">
		<constructor-arg ref="wsUserPreferenceFacade"/>
	</bean>

	<bean id="userv2AuditLogEntryUserRestService" class="org.linagora.linshare.webservice.userv2.impl.AuditLogEntryUserRestServiceImpl">
		<constructor-arg ref="wsAuditLogEntryUserFacade"/>
	</bean>

	<bean id="userv2ContactListRestService" class="org.linagora.linshare.webservice.userv2.impl.ContactListRestServiceImpl">
		<constructor-arg ref="wsContactListFacade" />
	</bean>

	<bean id="userv2MimeTypeRestService" class="org.linagora.linshare.webservice.userv2.impl.MimeTypeRestServiceImpl">
		<constructor-arg ref="wsMimeTypeFacade" />
	</bean>

	<bean id="userv2AutoCompleteRestService" class="org.linagora.linshare.webservice.userv2.impl.AutoCompleteRestServiceImpl">
		<constructor-arg ref="wsAutoCompleteFacade" />
	</bean>

	<bean id="userv2GuestRestService" class="org.linagora.linshare.webservice.userv2.impl.GuestRestServiceImpl">
		<constructor-arg ref="wsGuestFacade" />
	</bean>

	<bean id="userv2ShareRestService" class="org.linagora.linshare.webservice.userv2.impl.ShareRestServiceImpl">
		<constructor-arg ref="wsShareFacade" />
	</bean>

	<bean id="userv2RestService" class="org.linagora.linshare.webservice.userv2.impl.UserRestServiceImpl">
		<constructor-arg ref="wsUserFacade" />
		<constructor-arg ref="wsAutoCompleteFacade" />
	</bean>

	<bean id="userv2LogRestService" class="org.linagora.linshare.webservice.userv2.impl.LogRestServiceImpl">
		<constructor-arg ref="wsLogEntryFacade" />
	</bean>

	<bean id="userv2FunctionalityRestService" class="org.linagora.linshare.webservice.userv2.impl.FunctionalityRestServiceImpl">
		<constructor-arg ref="wsFunctionalityFacade" />
	</bean>

	<bean id="userv2ShareEntryGroupRestService" class="org.linagora.linshare.webservice.userv2.impl.ShareEntryGroupRestServiceImpl">
		<constructor-arg ref="wsShareEntryGroupFacade" />
	</bean>

	<bean id="userv2StatisticRestService" class="org.linagora.linshare.webservice.userv2.impl.StatisticRestServiceImpl">
		<constructor-arg ref="wsStatisticFacade" />
	</bean>

	<bean id="userv2AccountQuotaRestService" class="org.linagora.linshare.webservice.userv2.impl.QuotaRestServiceImpl">
		<constructor-arg ref="wsAccountQuotaFacade" />
	</bean>

	<bean id="userv2FlowDocumentUploaderRestService" class="org.linagora.linshare.webservice.userv2.impl.FlowDocumentUploaderRestServiceImpl">
		<constructor-arg ref="wsDocumentFacade" />
		<constructor-arg ref="wsWorkGroupNodeFacade" />
		<constructor-arg ref="wsAccountQuotaFacade" />
		<constructor-arg ref="wsDocumentAsyncFacade" />
		<constructor-arg ref="wsThreadEntryAsyncFacade" />
		<constructor-arg ref="wsAsyncTaskFacade" />
		<constructor-arg ref="taskExecutor" />
		<constructor-arg value="${linshare.rest.files.size.validation}" />
	</bean>

	<bean id="userv2WelcomeMessagesRestService" class="org.linagora.linshare.webservice.userv2.impl.WelcomeMessagesRestServiceImpl">
		<constructor-arg ref="wsWelcomeMessagesFacadeImpl" />
	</bean>

	<bean id="userv2UploadRequestRestService"
		class="org.linagora.linshare.webservice.userv2.impl.UploadRequestRestServiceImpl">
		<constructor-arg ref="wsUploadRequestFacade" />
	</bean>
	
	<bean id="userv2UploadRequestGroupRestService" class="org.linagora.linshare.webservice.userv2.impl.UploadRequestGroupRestServiceImpl">
		<constructor-arg ref="wsUploadRequestGroupFacade"/>
	</bean>
	
	<bean id="userv2UploadRequestEntryRestService" class="org.linagora.linshare.webservice.userv2.impl.UploadRequestEntryRestServiceImpl">
		<constructor-arg ref="wsUploadRequestEntryFacade"/>
	</bean>

	<bean id="userv2UploadRequestUrlRestService" class="org.linagora.linshare.webservice.userv2.impl.UploadRequestUrlRestServiceImpl">
		<constructor-arg ref="wsUploadRequestUrlUserFacade" />
	</bean>

	<bean id="userv2SafeDetailRestService"
		class="org.linagora.linshare.webservice.userv2.impl.SafeDetailRestServiceImpl">
		<constructor-arg ref="wsSafeDetailFacade" />
	</bean>

	<bean id="userv2UploadPropositionExceptionRuleRestService" class="org.linagora.linshare.webservice.userv2.impl.UploadPropositionExceptionRuleRestServiceImpl">
		<constructor-arg ref="wsUploadPropositionExceptionRuleFacade" />
	</bean>

	<bean id="userv2UploadPropositionRestService" class="org.linagora.linshare.webservice.userv2.impl.UploadPropositionRestServiceImpl">
		<constructor-arg ref="wsUploadPropositionFacade" />
	</bean>

	<bean id="userv2JwtPermanentTokenRestService" class="org.linagora.linshare.webservice.userv2.impl.JwtPermanentTokenRestServiceImpl">
		<constructor-arg ref="wsJwtLongTimeFacade" />
	</bean>

	<bean id="userv2SharedSpaceRestService"
		class="org.linagora.linshare.webservice.userv2.impl.SharedSpaceRestServiceImpl">
		<constructor-arg ref="sharedSpaceNodeFacade" />
		<constructor-arg ref="sharedSpaceMemberFacade" />
	</bean>	

	<bean id="userv2SharedSpaceLegacyNodeRestService"
		class="org.linagora.linshare.webservice.userv2.impl.SharedSpaceNodeLegacyRestServiceImpl">
		<constructor-arg ref="sharedSpaceNodeFacade" />
		<constructor-arg ref="sharedSpaceMemberFacade" />
	</bean>

	<bean id="userv2SharedSpaceRoleRestService"
		class="org.linagora.linshare.webservice.userv2.impl.SharedSpaceRoleRestServiceImpl">
		<constructor-arg ref="sharedSpaceRoleFacade" />
	</bean>

	<bean id="userv2SharedSpaceMemberRestService"
		class="org.linagora.linshare.webservice.userv2.impl.SharedSpaceMemberRestServiceImpl">
		<constructor-arg ref="sharedSpaceMemberFacade" />
	</bean>

	<bean id="userv2SharedSpaceNodeRestService" class="org.linagora.linshare.webservice.userv2.impl.SharedSpaceNodeRestServiceImpl">
		<constructor-arg ref="wsWorkGroupNodeFacade" />
		<constructor-arg ref="wsThreadEntryAsyncFacade" />
		<constructor-arg ref="wsAsyncTaskFacade" />
		<constructor-arg ref="taskExecutor" />
		<constructor-arg ref="wsAccountQuotaFacade" />
		<constructor-arg value="${linshare.rest.files.size.validation}" />
	</bean>


	<jaxrs:server id="userRestContainer" address="/rest/user/v2">
		<jaxrs:serviceBeans>
			<ref bean="userv2EnumRestService" />
			<ref bean="userv2AuthenticationRestService" />
			<ref bean="userv2DocumentRestService" />
			<ref bean="userv2WorkGroupRestService" />
			<ref bean="userv2WorkGroupMemberRestService" />
			<ref bean="userv2WorkGroupNodeRestService" />
			<ref bean="userv2WorkGroupNodeLightRestService" />
			<ref bean="userv2GuestRestService" />
			<ref bean="userv2ShareRestService" />
			<ref bean="userv2RestService" />
			<ref bean="userv2ReceivedShareRestService" />
			<ref bean="userv2LogRestService" />
			<ref bean="userv2FunctionalityRestService" />
			<ref bean="userv2FlowDocumentUploaderRestService" />
			<ref bean="userv2ShareEntryGroupRestService" />
			<ref bean="userv2ContactListRestService" />
			<ref bean="userv2MimeTypeRestService" />
			<ref bean="userv2AutoCompleteRestService" />
			<ref bean="userv2UploadRequestRestService" />
			<ref bean="userv2AuditLogEntryUserRestService" />
			<ref bean="userv2StatisticRestService" />
			<ref bean="userv2AccountQuotaRestService" />
			<ref bean="userv2WelcomeMessagesRestService" />
			<ref bean="userv2UploadRequestGroupRestService" />
			<ref bean="userv2UploadRequestEntryRestService" />
			<ref bean="userv2UploadRequestUrlRestService" />
			<ref bean="userv2SafeDetailRestService" />
			<ref bean="userv2UploadPropositionExceptionRuleRestService" />
			<ref bean="userv2UploadPropositionRestService" />
			<ref bean="userv2JwtPermanentTokenRestService" />
			<ref bean="userv2SharedSpaceRestService" />
			<ref bean="userv2SharedSpaceLegacyNodeRestService" />
			<ref bean="userv2SharedSpaceRoleRestService" />
			<ref bean="userv2SharedSpaceMemberRestService" />
			<ref bean="userv2SharedSpaceNodeRestService" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="json" value="application/json" />
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<jaxrs:providers>
			<!--  ExceptionMappers. -->
			<ref bean="businessExceptionMapper" />
			<ref bean="genericExceptionMapper" />
			<ref bean="webApplicationExceptionMapper" />
			<ref bean="illegalArgumentExceptionMapper" />
			<ref bean="jaxrsNoCacheFilter" />
			<ref bean="jsonParseExceptionMapper" />
			<ref bean="unrecognizedPropertyExceptionMapper" />
			<ref bean="dataIntegrityViolationExceptionMapper" />
			<!-- Json provider for serialisation -->
			<ref bean="jsonProvider" />
		</jaxrs:providers>
		<jaxrs:features>
<!-- 			<cxf:logging /> -->
		</jaxrs:features>
		<jaxrs:inInterceptors>
			<!-- For debug only : print input message -->
<!-- 			<ref bean="logInbound" /> -->
			<!-- This interceptor is designed to store some context properties in message exchange context for timingOutInterceptor -->
			<ref bean="timingInInterceptor" />
		</jaxrs:inInterceptors>
		<jaxrs:outInterceptors>
			<!-- For debug only : print output  message -->
<!--             	<ref bean="logOutbound" /> -->
			<!-- This interceptor is designed compute request execution time.-->
			<ref bean="timingOutInterceptor" />
		</jaxrs:outInterceptors>
		<jaxrs:inFaultInterceptors>
		</jaxrs:inFaultInterceptors>
		<jaxrs:outFaultInterceptors>
		</jaxrs:outFaultInterceptors>
	</jaxrs:server>
</beans>
