<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns:b="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/data/mongo
	http://www.springframework.org/schema/data/mongo/spring-mongo-2.0.xsd">

	<mongo:db-factory id="mongoDbFactory"
		client-uri="${linshare.mongo.client.uri}"
		write-concern="${linshare.mongo.write.concern}" />

	<mongo:db-factory id="mongoDbFactoryForBigFiles"
		client-uri="${linshare.mongo.gridfs.bigfiles.client.uri}"
		write-concern="${linshare.mongo.write.concern}" />

	<mongo:db-factory id="mongoDbFactoryForFiles"
		client-uri="${linshare.mongo.gridfs.smallfiles.client.uri}"
		write-concern="${linshare.mongo.write.concern}" />

</b:beans>
