<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd"
	profile="jcloud">

	<import resource="OPTIONAL-springContext-jcloud.xml" />

	<bean id="fileDataStore"
		class="org.linagora.linshare.core.dao.impl.DataKindBalancerFileDataStoreImpl">
		<constructor-arg ref="jcloudFileDataStore" />
		<constructor-arg>
			<bean class="org.linagora.linshare.core.dao.impl.MongoFileDataStoreImpl">
				<constructor-arg ref="gridFsTemplateForSmallFiles" />
			</bean>
		</constructor-arg>
	</bean>

</beans>
