<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
       default-autowire="no">
       
       
    	
	    <aop:config>
			<aop:pointcut id="linshareCoreServiceFacadeMethods" expression="execution(* org.linagora.linshare.core.facade.*.*(..))" />
	
			<aop:advisor advice-ref="txAdvice" pointcut-ref="linshareCoreServiceFacadeMethods" />
		 	<aop:advisor advice-ref="txAdviceJackRabbit" pointcut-ref="linshareCoreServiceFacadeMethods" />
		</aop:config>
	
		<tx:advice id="txAdvice" transaction-manager="transactionManager">
			<tx:attributes>
				<tx:method name="*" propagation="REQUIRES_NEW"/>
			</tx:attributes>
		</tx:advice>
	
		<tx:advice id="txAdviceJackRabbit"  transaction-manager="transactionJackRabbit">
			<tx:attributes>
				<tx:method name="*" propagation="REQUIRES_NEW"/>
			</tx:attributes>
		</tx:advice>
       
</beans>