<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="    
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-autowire="no">

	<bean id="mbeanServer" class="org.springframework.jmx.support.MBeanServerFactoryBean">
		<!-- indicate to first look for a server -->
		<property name="locateExistingServerIfPossible" value="true" />
	</bean>

	<bean id="exporter" class="org.springframework.jmx.export.MBeanExporter" lazy-init="false">  
		<property name="autodetect" value="true"/>
		<property name="beans">
			<map>
<!-- 				<entry key="LinshareJMXBeans:name=LinshareStatistics" value-ref="linshareStats" /> -->
				<entry key="LinshareJMXBeans:name=LinshareAntivirus" value-ref="linshareConfigAntivirus" />
				<entry key="LinshareJMXBeans:name=LinshareEmailServer" value-ref="linshareConfigEmailServer" />
				<entry key="LinshareJMXBeans:name=LinshareLoggers" value-ref="linshareConfigLoggers" />
			</map>
		</property>
		<property name="server" ref="mbeanServer" />
		
	</bean>

<!-- 	<bean name="linshareStats" class="org.linagora.linshare.jmx.LinshareStatsImpl"> -->
<!-- 		<constructor-arg ref="statisticsService" /> -->
<!-- 	</bean> -->
	<bean name="linshareConfigAntivirus" class="org.linagora.linshare.jmx.impl.AntivirusServerConfigImpl">
		<constructor-arg ref="virusScannerBusinessService" />
	</bean>
	<bean name="linshareConfigEmailServer" class="org.linagora.linshare.jmx.impl.EmailServerConfigImpl">
		<constructor-arg ref="notifierService" />
	</bean>
	<bean name="linshareConfigLoggers" class="org.linagora.linshare.jmx.impl.LoggersConfigImpl">
		<constructor-arg value="${linshare.available.loggers}" />
	</bean>
</beans>
