<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="repository"
		class="org.linagora.linshare.core.dao.jackRabbit.BetterRepositoryFactoryBean"
		destroy-method="destroy">
		<property name="configuration" value="classpath:repository.xml" />
		<property name="homeDir" value="${home.directory}" />
		<property name="propertyPlaceholderConfigurer" ref="propertyPlaceholder" />
	</bean>

	<bean id="jcrSessionFactory" class="org.springmodules.jcr.JcrSessionFactory">
		<property name="repository" ref="repository" />
		<property name="credentials">
			<bean class="javax.jcr.SimpleCredentials">
				<constructor-arg index="0" value="${repository.username}" />
				<constructor-arg index="1">
					<bean factory-bean="password" factory-method="toCharArray" />
				</constructor-arg>
			</bean>
		</property>
	</bean>


	<bean id="transactionJackRabbit"
		class="org.springmodules.jcr.jackrabbit.LocalTransactionManager">
		<property name="sessionFactory" ref="jcrSessionFactory" />
	</bean>

	<bean id="password" class="java.lang.String">
		<constructor-arg index="0" value="${repository.password}" />
	</bean>

	<bean id="jcrTemplate" class="org.springmodules.jcr.JcrTemplate">
		<property name="sessionFactory" ref="jcrSessionFactory" />
		<property name="allowCreate" value="true" />
	</bean>

	<bean id="jackRabbitRepository"
		class="org.linagora.linshare.core.dao.jackRabbit.JackRabbitFileSystem">
		<property name="jcrTemplate" ref="jcrTemplate" />
	</bean>

</beans>
