<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns:b="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
 	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd"
 	profile="sso">

<!--           http://www.springframework.org/schema/security/spring-security-3.0.3.xsd" -->

	<b:bean id="springSecurityFilterChainProxy" class="org.springframework.security.web.FilterChainProxy">
			<!-- allow spring security filter to apply rules on URL parameters -->
			<!-- 		<b:property name="stripQueryStringFromUrls" value="false" /> -->
	
		<b:constructor-arg>
			<b:list>

<!-- 		<sec:filter-chain-map> -->
			<sec:filter-chain pattern="/?login_error=*" filters="httpSessionIntegrationFilter,rememberMeProcessingFilter" />
			<sec:filter-chain pattern="/" filters="httpSessionIntegrationFilter,lemonLDAPFilter,rememberMeProcessingFilter" />
			<sec:filter-chain pattern="/assets/**" filters="none" />
			<sec:filter-chain pattern="/applet/**" filters="none" />
			<sec:filter-chain pattern="/css/**" filters="none" />
			<sec:filter-chain pattern="/images/**" filters="none" />
			<sec:filter-chain pattern="/videos/**" filters="none" />

			<sec:filter-chain pattern="/**/help/**" filters="none" />
			<sec:filter-chain pattern="/**/password/**" filters="none" />
			<sec:filter-chain pattern="/**/*.js" filters="none" />
			<sec:filter-chain pattern="/**/*.css" filters="none" />
			<sec:filter-chain pattern="/**/*.swf" filters="none" />

			<sec:filter-chain pattern="/**/en" filters="httpSessionIntegrationFilter,lemonLDAPFilter,rememberMeProcessingFilter" />
			<sec:filter-chain pattern="/**/fr" filters="httpSessionIntegrationFilter,lemonLDAPFilter,rememberMeProcessingFilter" />
			<sec:filter-chain pattern="/**/nl" filters="httpSessionIntegrationFilter,lemonLDAPFilter,rememberMeProcessingFilter" />
			<sec:filter-chain pattern="/**/vi" filters="httpSessionIntegrationFilter,lemonLDAPFilter,rememberMeProcessingFilter" />

			<sec:filter-chain pattern="/download/**" filters="none" />
			<sec:filter-chain pattern="/**/download.passwordpopup.formpassword" filters="none" />
			<sec:filter-chain pattern="/download.downloadthemall/**" filters="none" />
			<sec:filter-chain pattern="/localDecrypt/**" filters="none" />

			<sec:filter-chain pattern="/urentryurldownload/**" filters="none" />
			<sec:filter-chain pattern="/urentryurldownload.passwordpopup.formpassword" filters="none" />

			<!-- allow soap wsdl to be public with these rule -->
			<sec:filter-chain pattern="/webservice/soap?wsdl" filters="none" />
			<sec:filter-chain pattern="/webservice/soap?wsdl=SoapService.wsdl" filters="none" />

			<sec:filter-chain pattern="/webservice/upload?wsdl" filters="none" />
			<sec:filter-chain pattern="/webservice/upload?wsdl=MTOMUploadSoapService.wsdl" filters="none" />

			<!-- allow rest wadl to be public with these rule -->
			<sec:filter-chain pattern="/webservice/services/**" filters="none" />
			<sec:filter-chain pattern="/webservice/api-docs/**" filters="CORSRequestFilter" />
			<sec:filter-chain pattern="/webservice/rest?_wadl" filters="none" />
			<sec:filter-chain pattern="/webservice/rest/?_wadl" filters="none" />
			<sec:filter-chain pattern="/webservice/rest/admin?_wadl" filters="none" />
			<sec:filter-chain pattern="/webservice/rest/user?_wadl" filters="none" />
			<sec:filter-chain pattern="/webservice/fineuploader?_wadl" filters="none" />

			<sec:filter-chain pattern="/webservice/rest/authentication/" filters="none" />
			<sec:filter-chain pattern="/webservice/rest/user/authentication/" filters="none" />
			<sec:filter-chain pattern="/webservice/rest/user/v2/authentication/" filters="none" />
			<sec:filter-chain pattern="/webservice/rest/admin/authentication/" filters="none" />
			<sec:filter-chain pattern="/webservice/rest/uploadrequest/**" filters="none" />
			<sec:filter-chain pattern="/webservice/rest/external/**" filters="none" />

			<sec:filter-chain pattern="/webservice/rest/plugin/information" filters="none" />
			<sec:filter-chain pattern="/webservice/rest/cors" filters="none" />
			<sec:filter-chain pattern="/webservice/rest/**"
				filters="httpSessionIntegrationFilter,CORSRequestFilter,lemonLDAPFilter,basicProcessingFilter,basicExceptionTranslationFilter,filterSecurityInterceptor,logoutFilterAdmin, logoutFilterUser, logoutFilterUserV2" />

			<sec:filter-chain pattern="/webservice/fineuploader/**"
				filters="httpSessionIntegrationFilter,CORSRequestFilter,lemonLDAPFilter,basicProcessingFilter,basicExceptionTranslationFilter,filterSecurityInterceptor" />

			<sec:filter-chain pattern="/webservice/**"
				filters="httpSessionIntegrationFilter, lemonLDAPFilter, basicProcessingFilter,basicExceptionTranslationFilter ,filterSecurityInterceptor" />

			<sec:filter-chain pattern="/index.form" filters="httpSessionIntegrationFilter" />
			<sec:filter-chain pattern="/j_security_check" filters="httpSessionIntegrationFilter,authenticationProcessingFilter" />
			<sec:filter-chain pattern="/**"
				filters="httpSessionIntegrationFilter,lemonLDAPFilter,exceptionTranslationFilter,logoutFilter,rememberMeProcessingFilter,filterSecurityInterceptor" />
<!-- 		</sec:filter-chain-map> -->
		</b:list>
		</b:constructor-arg>
	</b:bean>

	<!-- REMEMBER-ME SERVICE DEFINITION -->
	<b:bean id="rememberMeAuthenticationProvider" class="org.springframework.security.authentication.RememberMeAuthenticationProvider">
		<b:constructor-arg value="springRocks" />
	</b:bean>

	<b:bean id="rememberMeAccountProvider" class="org.linagora.linshare.auth.rememberme.RememberMeAccountProvider">
		<b:constructor-arg ref="accountService" />
	</b:bean>

	<b:bean id="rememberMeService" class="org.linagora.linshare.view.tapestry.services.impl.LinshareRememberMeServices">
		<b:constructor-arg value="springRocks" />
		<b:constructor-arg ref="rememberMeAccountProvider" />
		<b:constructor-arg ref="cookieRepository" />
		<b:property name="cookieRepository" ref="cookieRepository" />
		<b:property name="alwaysRemember" value="false" />
	</b:bean>

	<b:bean id="rememberMeProcessingFilter" class="org.springframework.security.web.authentication.rememberme.RememberMeAuthenticationFilter">
		<b:constructor-arg ref="rememberMeService"/>
		<b:constructor-arg ref="authenticationManager"/>
	</b:bean>

	<!-- FILTERS DEFINITION -->
	<b:bean id="httpSessionIntegrationFilter" class="org.springframework.security.web.context.SecurityContextPersistenceFilter" >
<!-- 		<b:property name="forceEagerSessionCreation" value="true"/> -->
	</b:bean>

	<b:bean id="authenticationProcessingFilter" class="org.linagora.linshare.auth.DomainAuthenticationProcessingFilter">
		<b:property name="domainRequestHeader" value="${sso.header.domain}" />
		<b:property name="authenticationFailureHandler" ref="failureHandler" />
		<b:property name="authenticationSuccessHandler" ref="successHandler" />
		<b:property name="filterProcessesUrl" value="/j_security_check" />
		<b:property name="usernameParameter" value="login" />
		<b:property name="passwordParameter" value="password" />
		<b:property name="allowSessionCreation" value="true" />
		<b:property name="sessionAuthenticationStrategy" ref="sas" />
		<b:property name="authenticationManager" ref="authenticationManager" />
		<b:property name="rememberMeServices" ref="rememberMeService" />

	</b:bean>

	<b:bean id="successHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
		<b:property name="defaultTargetUrl" value="/startingPage" /> <!-- which is the default value -->
	</b:bean>

	<b:bean id="failureHandler" class="org.springframework.security.web.authentication.ExceptionMappingAuthenticationFailureHandler">
		<b:property name="defaultFailureUrl" value="/?login_error=1" />
		<b:property name="exceptionMappings">
			<b:props>
				<b:prop key="org.linagora.linshare.auth.exceptions.BadDomainException">/?login_error=2</b:prop>
			</b:props>
		</b:property>
	</b:bean>
	<b:bean id="sas" class="org.springframework.security.web.authentication.session.SessionFixationProtectionStrategy">
		<b:property name="migrateSessionAttributes" value="true" />
	</b:bean>

	<b:bean id="exceptionTranslationFilter" class="org.springframework.security.web.access.ExceptionTranslationFilter">
		<b:constructor-arg ref="authenticationEntryPoint"/>
<!-- 		<b:constructor-arg ref="requestCache"/> -->
	</b:bean>

	<b:bean id="authenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<b:constructor-arg value="/"/>
	</b:bean>

	<b:bean id="logoutFilter" class="org.springframework.security.web.authentication.logout.LogoutFilter">
		<b:constructor-arg value="/" />
		<b:constructor-arg>
			<b:list>
				<b:ref bean="rememberMeService" />
				<b:bean class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler" />
			</b:list>
		</b:constructor-arg>
	</b:bean>

	<b:bean id="logoutFilterAdmin" class="org.springframework.security.web.authentication.logout.LogoutFilter">
		<b:property name="filterProcessesUrl">
			<b:value>/webservice/rest/admin/authentication/logout</b:value>
		</b:property>
		<b:constructor-arg value="/webservice/rest/admin/authentication/" />
		<b:constructor-arg>
			<b:list>
				<b:ref bean="rememberMeService" />
				<b:bean class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler" />
			</b:list>
		</b:constructor-arg>
	</b:bean>

	<b:bean id="logoutFilterUser" class="org.springframework.security.web.authentication.logout.LogoutFilter">
		<b:property name="filterProcessesUrl">
			<b:value>/webservice/rest/user/authentication/logout</b:value>
		</b:property>
		<b:constructor-arg value="/webservice/rest/user/authentication/" />
		<b:constructor-arg>
			<b:list>
				<b:ref bean="rememberMeService" />
				<b:bean class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler" />
			</b:list>
		</b:constructor-arg>
	</b:bean>

	<b:bean id="logoutFilterUserV2" class="org.springframework.security.web.authentication.logout.LogoutFilter">
		<b:property name="filterProcessesUrl">
			<b:value>/webservice/rest/user/v2/authentication/logout</b:value>
		</b:property>
		<b:constructor-arg value="/webservice/rest/user/v2/authentication/" />
		<b:constructor-arg>
			<b:list>
				<b:ref bean="rememberMeService" />
				<b:bean class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler" />
			</b:list>
		</b:constructor-arg>
	</b:bean>

	<b:bean id="filterSecurityInterceptor" class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
		<b:property name="authenticationManager" ref="authenticationManager" />
		<b:property name="accessDecisionManager" ref="accessDecisionManager" />

		<b:property name="securityMetadataSource">
			<sec:filter-security-metadata-source use-expressions="false" > 
				<sec:intercept-url pattern="/**/administration/userconfig*" access="ROLE_AUTH" />
				<sec:intercept-url pattern="/**/administration/domains/**" access="ROLE_SUPERADMIN" />
				<sec:intercept-url pattern="/**/administration/thread/**" access="ROLE_SUPERADMIN" />
				<sec:intercept-url pattern="/**/administration/list/**" access="ROLE_SUPERADMIN" />
				<sec:intercept-url pattern="/**/administration/**" access="ROLE_ADMIN" />
				<sec:intercept-url pattern="/**/testpopup/" access="ROLE_ADMIN" />
				<sec:intercept-url pattern="/**/webservice/rest/admin/**" access="ROLE_ADMIN" />
				<sec:intercept-url pattern="/**/webservice/rest/delegation/**" access="ROLE_DELEGATION" />
				<sec:intercept-url pattern="/**/webservice/rest/uploadproposition/**" access="ROLE_UPLOAD_PROPOSTION" />
				<sec:intercept-url pattern="/**/webservice/rest/**" access="ROLE_USER" />
				<sec:intercept-url pattern="/**/logout" access="ROLE_AUTH" />
				<sec:intercept-url pattern="/**/startingpage" access="ROLE_AUTH" />
				<sec:intercept-url pattern="/**" access="ROLE_USER" />
			</sec:filter-security-metadata-source>
		</b:property>
	</b:bean>


	<!-- REST part / Magic lies there -->
	<b:bean id="basicProcessingFilter" class="org.springframework.security.web.authentication.www.BasicAuthenticationFilter">
		<b:constructor-arg>
			<b:ref bean="authenticationManager" />
		</b:constructor-arg>
		<b:constructor-arg>
			<b:ref bean="restAuthenticationEntryPoint" />
		</b:constructor-arg>
	</b:bean>

	<b:bean id="restAuthenticationEntryPoint" class="org.linagora.linshare.auth.LinShareBasicAuthenticationEntryPoint">
		<b:property name="realmName" value="Name Of Your LinShare Realm"/>
	</b:bean>

	<b:bean id="CORSRequestFilter" class="org.linagora.linshare.auth.CORSRequestFilter" />

	<b:bean id="basicExceptionTranslationFilter" class="org.springframework.security.web.access.ExceptionTranslationFilter">
		<b:constructor-arg ref="restAuthenticationEntryPoint" />
	</b:bean>

	<!-- AUTHENTICATION MANAGEMENT -->
	<!-- Authentication manager -->
	<b:bean id="authenticationManager" class="org.springframework.security.authentication.ProviderManager">
		<b:constructor-arg>
		<b:list>
			<b:ref bean="ssoAuthenticationProvider" />
			<b:ref bean="rememberMeAuthenticationProvider" />
			<b:ref bean="databaseAuthenticationProvider" />
			<b:ref bean="ldapAuthenticationProvider" />
		</b:list>
		</b:constructor-arg>
<!-- 		<b:constructor-arg ref="parent"/> -->
	</b:bean>

	<!-- DAO Authentification -->
	<b:bean id="passwordEncoderFactory" class="org.linagora.linshare.auth.PasswordEncoderFactory">
		<b:constructor-arg value="SHA" />
	</b:bean>

	<b:bean id="databaseUserDetailsProvider" class="org.linagora.linshare.auth.dao.DatabaseUserDetailsProvider">
		<b:constructor-arg ref="authentificationFacade" />
		<b:property name="userRepositories">
			<b:list>
				<b:ref bean="guestRepository" />
				<b:ref bean="rootUserRepository" />
				<b:ref bean="technicalAccountRepository" />
			</b:list>
		</b:property>
	</b:bean>

	<!-- database accounts : guests, root, technical accounts, ... -->
	<b:bean id="databaseAuthenticationProvider" class="org.linagora.linshare.auth.dao.DatabaseAuthenticationProvider">
		<b:constructor-arg ref="databaseUserDetailsProvider" />
		<b:property name="passwordEncoder">
			<b:bean factory-bean="passwordEncoderFactory" factory-method="getInstance" />
		</b:property>
	</b:bean>

	<!-- Domain Authentification -->
	<b:bean id="ldapUserDetailsProvider" class="org.linagora.linshare.auth.dao.LdapUserDetailsProvider">
		<b:constructor-arg ref="authentificationFacade" />
	</b:bean>

	<b:bean id="ldapAuthenticationProvider" class="org.linagora.linshare.auth.dao.LdapAuthenticationProvider">
		<b:constructor-arg ref="ldapUserDetailsProvider" />
	</b:bean>

	<!-- SSO PreAuthentification -->
	<b:bean id="ssoAuthenticationProvider" class="org.linagora.linshare.auth.sso.SSOAuthenticationProvider">
		<b:property name="authentificationFacade" ref="authentificationFacade" />
	</b:bean>

	<!-- AUTHORIZATIONS MANAGEMENT -->
	<b:bean id="accessDecisionManager" class="org.springframework.security.access.vote.UnanimousBased">
		<b:constructor-arg ref="roleVoter"/>
	</b:bean>

	<b:bean id="roleVoter" class="org.springframework.security.access.vote.RoleVoter" />

	<b:bean id="lemonLDAPFilter" class="org.linagora.linshare.auth.sso.PreAuthenticationHeader">
		<b:constructor-arg value="${sso.header.allowfrom}" />
		<b:property name="principalRequestHeader" value="${sso.header.user}" />
		<b:property name="domainRequestHeader" value="${sso.header.domain}" />
		<b:property name="authenticationManager" ref="authenticationManager" />
		<b:property name="rootUserRepository" ref="rootUserRepository" />
		<b:property name="userDetailsProvider" ref="ldapUserDetailsProvider" />
	</b:bean>

	<b:bean class="org.linagora.linshare.auth.sso.SSOInfoLogger"
		init-method="afterPropertiesSet">
		<b:constructor-arg ref="lemonLDAPFilter"/>
	</b:bean>
</b:beans>
