<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-autowire="no">

  <bean id="repository" class="org.linagora.linShare.core.dao.jackRabbit.BetterRepositoryFactoryBean" destroy-method="destroy"   >
    <property name="configuration" value="classpath:repository.xml"/>
    <property name="homeDir" value="${home.directory}"/>
  	<property name="propertyPlaceholderConfigurer" ref="propertyPlaceholder" />
  </bean>
  
  <bean id="jcrSessionFactory" class="org.springmodules.jcr.JcrSessionFactory">
    <property name="repository" ref="repository"/>
    <property name="credentials">
      <bean class="javax.jcr.SimpleCredentials">
        <constructor-arg index="0" value="${repository.username}"/>
        <constructor-arg index="1">
          <bean factory-bean="password" factory-method="toCharArray"/>
        </constructor-arg>
      </bean>
    </property>
  </bean>
  
    
    <bean id="jcrDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
       <property name="driverClassName" value="${linshare.db.driver.class}"/>
        <property name="url" value="${linshare.db-repository.url}"/>
        <property name="username" value="${linshare.db-repository.username}"/>
        <property name="password" value="${linshare.db-repository.password}"/>
        <property name="maxActive" value="${linshare.db-repository.pool.maxactive}"/>
        <property name="maxWait" value="${linshare.db-repository.pool.maxwait}"/>
        <property name="poolPreparedStatements" value="true"/>
        <property name="defaultAutoCommit" value="true"/>
    </bean>
    
    
    <bean id="transactionJackRabbit" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
  		<property name="dataSource" ref="jcrDataSource"/>
	</bean>
  
  <bean id="password" class="java.lang.String">
      <constructor-arg index="0" value="${repository.password}"/>
  </bean>
  
  <bean id="jcrTemplate" class="org.springmodules.jcr.JcrTemplate">
    <property name="sessionFactory" ref="jcrSessionFactory"/>
    <property name="allowCreate" value="true"/>
  </bean>	

  <bean id="jackRabbitRepository" class="org.linagora.linShare.core.dao.jackRabbit.JackRabbitFileSystem">
   <!--  <property name="fileFinder" ref="fileFinder"/> -->
  <property name="jcrTemplate" ref="jcrTemplate"/>
   <!--  <property name="contentSource" value="myRandomContentSource"/> -->
   <!--  <property name="parser" ref="someRandomDocumentParser"/>
    <property name="sourceDirectory" value="/path/to/my/random/content"/> -->
  </bean>	
	
</beans>	
