<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
       default-autowire="no">

    <bean name="userManagementBatch" class="org.linagora.linshare.core.batches.impl.UserManagementBatchImpl">
        <constructor-arg ref="userService"/>
    </bean>

    <bean name="shareManagementBatch" class="org.linagora.linshare.core.batches.impl.ShareManagementBatchImpl">
		<constructor-arg ref="shareEntryService"/>
		<constructor-arg ref="anonymousShareEntryService"/>
		<constructor-arg ref="shareEntryRepository"/>
		<constructor-arg ref="anonymousShareEntryRepository"/>
		<constructor-arg ref="documentEntryRepository"/>
		<constructor-arg ref="accountRepository"/>
		<constructor-arg ref="functionalityService"/>
		<constructor-arg ref="documentEntryService"/>
    </bean>

    <bean name="documentManagementBatch" class="org.linagora.linshare.core.batches.impl.DocumentManagementBatchImpl">
        <constructor-arg ref="documentRepository"/>
        <constructor-arg ref="documentEntryService"/>
        <constructor-arg ref="jackRabbitRepository"/>
        <constructor-arg value="${linshare.secured-storage.disallow}" />
        <constructor-arg value="${linshare.secured-storage.disallowed.job.file-cleaner.activate}" />
        <constructor-arg ref="notifierService" />
        <constructor-arg ref="mailContentBuildingService" />
        <constructor-arg ref="functionalityService" />
    </bean>

	<!-- Don't use that with Jackrabbit 1.4 !! -->
	<!-- https://issues.apache.org/jira/browse/JCR-2492 -->
    <bean name="jcrGarbageCollectionBatch" class="org.linagora.linshare.core.batches.impl.JcrGarbageCollectionBatchImpl">
        <constructor-arg ref="jcrTemplate"/>
    </bean>


    <!-- Transactions declaration. -->
    <aop:config>
		<aop:pointcut id="linshareCoreBatchMethods" expression="execution(* org.linagora.linshare.core.batches.*.*(..))" />

		<aop:advisor advice-ref="txBatchAdvice" pointcut-ref="linshareCoreBatchMethods" />
	 	<aop:advisor advice-ref="txBatchAdviceJackRabbit" pointcut-ref="linshareCoreBatchMethods" />
	</aop:config>

	<tx:advice id="txBatchAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRES_NEW"/>
		</tx:attributes>
	</tx:advice>

	<tx:advice id="txBatchAdviceJackRabbit"  transaction-manager="transactionJackRabbit">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRES_NEW"/>
		</tx:attributes>
	</tx:advice>
</beans>