<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
       http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

	<!-- cxf -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />



	<!-- SOAP -->

	<bean id="soapService" class="org.linagora.linshare.webservice.impl.SoapServiceImpl">
		<constructor-arg ref="wsDocumentFacade" />
		<constructor-arg ref="wsShareFacade" />
		<constructor-arg ref="wsThreadFacade" />
		<constructor-arg ref="wsUserFacade" />
	</bean>
	
	<bean id="MTOMUploadSoapService" class="org.linagora.linshare.webservice.impl.MTOMUploadSoapServiceImpl">
		<constructor-arg ref="wsDocumentFacade" />
	</bean>

	<bean id="soapExceptionInterceptor" class="org.linagora.linshare.webservice.interceptor.SoapExceptionInterceptor" />


	<cxf:bus>
		<cxf:features>
			<!-- Could be uncommented : inbound cxf messages and outbound cxf messages are written to stdout. -->
			<!-- <cxf:logging /> -->
		</cxf:features>

		<cxf:inInterceptors />
		<cxf:outInterceptors />
		<cxf:outFaultInterceptors>
			<ref bean="soapExceptionInterceptor" />
		</cxf:outFaultInterceptors>
	</cxf:bus>


	<jaxws:endpoint id="soapEndpoint" implementor="#soapService" address="/soap">
		<jaxws:outFaultInterceptors>
			<ref bean="soapExceptionInterceptor" />
		</jaxws:outFaultInterceptors>
	</jaxws:endpoint>


	<jaxws:endpoint id="MTOMUploadEndpoint" implementor="#MTOMUploadSoapService" address="/upload">
		<jaxws:properties>
			<entry key="mtom-enabled" value="true" />
			<entry key="attachment-directory" value="${webservice.attachment-directory}" />
			<!-- data exceeding the memory threshold will be written to the directory specified in bytes -->
			<entry key="attachment-memory-threshold" value="${webservice.attachment-memory-threshold}" />
		</jaxws:properties>
		<jaxws:outFaultInterceptors>
			<ref bean="soapExceptionInterceptor" />
		</jaxws:outFaultInterceptors>
	</jaxws:endpoint>

	<!-- Compatibility thunderbird -->
	<bean id="pluginCompatibilityRestService" class="org.linagora.linshare.webservice.impl.PluginCompatibilityRestServiceImpl">
		<constructor-arg ref="wsShareFacade" />
		<constructor-arg ref="wsDocumentFacade" />
	</bean>

	<!-- REST -->
	<bean id="authenticationRestService" class="org.linagora.linshare.webservice.user.impl.AuthenticationRestServiceImpl">
		<constructor-arg ref="wsUserFacade" />
	</bean>

	<bean id="documentRestService" class="org.linagora.linshare.webservice.user.impl.DocumentRestServiceImpl">
		<constructor-arg ref="wsDocumentFacade" />
	</bean>

	<bean id="shareRestService" class="org.linagora.linshare.webservice.user.impl.ShareRestServiceImpl">
		<constructor-arg ref="wsShareFacade" />
	</bean>

	<bean id="threadRestService" class="org.linagora.linshare.webservice.user.impl.ThreadRestServiceImpl">
		<constructor-arg ref="wsThreadFacade" />
	</bean>

	<bean id="threadMemberRestService" class="org.linagora.linshare.webservice.user.impl.ThreadMemberRestServiceImpl">
		<constructor-arg ref="wsThreadFacade" />
		<constructor-arg ref="wsThreadMemberFacade" />
	</bean>

	<bean id="userRestService" class="org.linagora.linshare.webservice.user.impl.UserRestServiceImpl">
		<constructor-arg ref="wsUserFacade" />
	</bean>

	<bean id="adminAuthenticationRestService" class="org.linagora.linshare.webservice.admin.impl.AuthenticationRestServiceImpl">
		<constructor-arg ref="wsAdminGenericFacade" />
	</bean>

	<bean id="domainPatternRestService" class="org.linagora.linshare.webservice.admin.impl.DomainPatternRestServiceImpl">
		<constructor-arg ref="wsAdminDomainPatternFacade" />
	</bean>

	<bean id="ldapConnectionRestService" class="org.linagora.linshare.webservice.admin.impl.LDAPConnectionRestServiceImpl">
		<constructor-arg ref="wsAdminLDAPConnectionFacade" />
	</bean>

	<bean id="domainRestService" class="org.linagora.linshare.webservice.admin.impl.DomainRestServiceImpl">
		<constructor-arg ref="wsAdminDomainFacade" />
		<constructor-arg ref="wsAdminFunctionalityFacade" />
	</bean>

	<bean id="domainPolicyRestService" class="org.linagora.linshare.webservice.admin.impl.DomainPolicyRestServiceImpl">
		<constructor-arg ref="wsAdminDomainPolicyFacade" />
	</bean>

	<bean id="userRoleRestService" class="org.linagora.linshare.webservice.admin.impl.UserRoleRestServiceImpl">
		<constructor-arg ref="wsAdminUserRoleFacade" />
	</bean>

	<bean id="fineUploaderService" class="org.linagora.linshare.webservice.user.impl.FineUploaderServiceImpl">
		<constructor-arg ref="wsDocumentFacade" />
	</bean>

	<bean id="logInbound" class="org.apache.cxf.interceptor.LoggingInInterceptor" />
	<bean id="logOutbound" class="org.apache.cxf.interceptor.LoggingOutInterceptor" />
	<bean id="timingInInterceptor" class="org.linagora.linshare.webservice.interceptor.TimingInInterceptor" />
	<bean id="timingOutInterceptor" class="org.linagora.linshare.webservice.interceptor.TimingOutInterceptor" />

	<jaxrs:server id="restContainer" address="/">
		<jaxrs:serviceBeans>
			<ref bean="authenticationRestService" />
			<ref bean="documentRestService" />
			<ref bean="shareRestService" />
			<ref bean="fineUploaderService" />
			<ref bean="pluginCompatibilityRestService" />
			<ref bean="threadRestService" />
			<ref bean="threadMemberRestService" />
			<ref bean="userRestService" />
			<ref bean="adminAuthenticationRestService" />
			<ref bean="domainPatternRestService" />
			<ref bean="ldapConnectionRestService" />
			<ref bean="domainRestService" />
			<ref bean="domainPolicyRestService" />
			<ref bean="userRoleRestService" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="json" value="application/json" />
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<jaxrs:providers>
			<ref bean="jsonProvider" />
			<!-- <bean class="org.apache.cxf.jaxrs.impl.WebApplicationExceptionMapper"> -->
			<!-- <property name="printStackTrace" value="true" /> -->
			<!-- </bean> -->
		</jaxrs:providers>
		<jaxrs:features>
<!-- 			<cxf:logging /> -->
		</jaxrs:features>
		<jaxrs:inInterceptors>
<!-- 			<ref bean="logInbound" /> -->
			<ref bean="timingInInterceptor" />
		</jaxrs:inInterceptors>
		<jaxrs:outInterceptors>
			<!-- <ref bean="logOutbound" /> -->
			<ref bean="timingOutInterceptor" />
		</jaxrs:outInterceptors>
	</jaxrs:server>

	<!-- enable json with jackson (not the default jettison) -->
	<bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
</beans>
