<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="    
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-autowire="no">


	<bean id="domainBusinessService" class="org.linagora.linshare.core.business.service.impl.DomainBusinessServiceImpl">
		<constructor-arg ref="abstractDomainRepository" />
    </bean>

	<bean id="documentEntryBusinessService" class="org.linagora.linshare.core.business.service.impl.DocumentEntryBusinessServiceImpl">
		<constructor-arg ref="jackRabbitRepository" />
		<constructor-arg ref="timeStampingService" />
		<constructor-arg ref="documentEntryRepository" />
		<constructor-arg ref="documentRepository" />
		<constructor-arg ref="signatureBusinessService" />
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="threadEntryRepository" />
		<constructor-arg ref="tagBusinessService" />
	</bean>


	<bean id="shareEntryBusinessService" class="org.linagora.linshare.core.business.service.impl.ShareEntryBusinessServiceImpl">
		<constructor-arg ref="shareEntryRepository" />
		<constructor-arg ref="accountService" />
		<constructor-arg ref="documentEntryRepository" />
	</bean>


	<bean id="anonymousShareEntryBusinessService" class="org.linagora.linshare.core.business.service.impl.AnonymousShareEntryBusinessServiceImpl">
		<constructor-arg ref="anonymousShareEntryRepository" />
		<constructor-arg ref="accountService" />
		<constructor-arg ref="documentEntryRepository" />
		<constructor-arg ref="contactRepository" />
		<constructor-arg ref="anonymousUrlBusinessService" />
	</bean>


	<bean id="anonymousUrlBusinessService" class="org.linagora.linshare.core.business.service.impl.AnonymousUrlBusinessServiceImpl">
		<constructor-arg ref="anonymousUrlRepository" />
		<constructor-arg value="download" />
		<constructor-arg ref="passwordService" />
	</bean>


	<bean id="signatureBusinessService" class="org.linagora.linshare.core.business.service.impl.SignatureBusinessServiceImpl">
		<constructor-arg ref="jackRabbitRepository" />
		<constructor-arg ref="signatureRepository" />
		<constructor-arg ref="documentRepository" />
		<constructor-arg ref="accountRepository" />
	</bean>
	
	<bean id="tagBusinessService" class="org.linagora.linshare.core.business.service.impl.TagBusinessServiceImpl">
		<constructor-arg ref="tagRepository" />
		<constructor-arg ref="threadEntryRepository" />
		<constructor-arg ref="entryTagAssociationRepository"/>
	</bean>
	<bean id="domainAccessPolicyBusinessService" class="org.linagora.linshare.core.business.service.impl.DomainAccessPolicyBusinessServiceImpl">
		<constructor-arg ref="domainAccessRuleRepository" />
	</bean>
	
	<bean id="domainPolicyBusinessService" class="org.linagora.linshare.core.business.service.impl.DomainPolicyBusinessServiceImpl">
		<constructor-arg ref="domainPolicyRepository" />
		<constructor-arg ref="abstractDomainRepository" />
	</bean>
	<bean id="functionalityBusinessService" class="org.linagora.linshare.core.business.service.impl.FunctionalityBusinessServiceImpl">
		<constructor-arg ref="functionalityRepository" />
		<constructor-arg ref="abstractDomainRepository" />
	</bean>
	<bean id="mailingListBusinessService" class="org.linagora.linshare.core.business.service.impl.MailingListBusinessServiceImpl">
		<constructor-arg ref="mailingListRepository" />
		<constructor-arg ref="mailingListContactRepository" />
	</bean>

	<bean id="mailConfigBusinessService" class="org.linagora.linshare.core.business.service.impl.MailConfigBusinessServiceImpl">
		<constructor-arg ref="abstractDomainRepository" />
		<constructor-arg ref="mailConfigRepository" />
		<constructor-arg ref="mailContentLangRepository" />
		<constructor-arg ref="mailFooterLangRepository" />
	</bean>

	<bean id="mailContentBusinessService" class="org.linagora.linshare.core.business.service.impl.MailContentBusinessServiceImpl">
		<constructor-arg ref="abstractDomainRepository" />
		<constructor-arg ref="mailContentRepository" />
		<constructor-arg ref="mailContentLangRepository" />
	</bean>

	<bean id="mailFooterBusinessService" class="org.linagora.linshare.core.business.service.impl.MailFooterBusinessServiceImpl">
		<constructor-arg ref="abstractDomainRepository" />
		<constructor-arg ref="mailFooterRepository" />
		<constructor-arg ref="mailFooterLangRepository" />
	</bean>

	<bean id="mailLayoutBusinessService" class="org.linagora.linshare.core.business.service.impl.MailLayoutBusinessServiceImpl">
		<constructor-arg ref="abstractDomainRepository" />
		<constructor-arg ref="mailLayoutRepository" />
		<constructor-arg ref="mailConfigRepository" />
	</bean>
</beans>
