<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="cleanOutdatedGuestsJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="org.linagora.linshare.core.job.quartz.CleanOutdatedGuests" />
		<property name="jobDataAsMap">
			<map>
				<entry key="batch">
					<list value-type="org.linagora.linshare.core.job.quartz.LinShareJobBean">
						<ref bean="userManagementBatch" />
					</list>
				</entry>
			</map>
		</property>
	</bean>

    <bean id="cleanOutdatedGuestsJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="cleanOutdatedGuestsJob"/>
        <property name="cronExpression" value="${job.guests.cron.expression}"/>
    </bean>


    <bean id="cleanOutdatedSharesJob" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="org.linagora.linshare.core.job.quartz.CleanOutdatedShares"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="batch" value-ref="shareManagementBatch"/>
            </map>
        </property>
    </bean>
    <bean id="cleanOutdatediSharesJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="cleanOutdatedSharesJob"/>
        <property name="cronExpression" value="${job.shares.cron.expression}"/>
    </bean>

    <bean id="checkDocumentsMimeTypeJob" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="org.linagora.linshare.core.job.quartz.CheckDocumentsMimeType"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="batch" value-ref="documentManagementBatch"/>
            </map>
        </property>
    </bean>
    <bean id="checkDocumentsMimeTypeJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="checkDocumentsMimeTypeJob"/>
        <property name="cronExpression" value="${job.mimetype.cron.expression}"/>
    </bean>


    <bean id="notifyOutdatedSharesJob" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="org.linagora.linshare.core.job.quartz.NotifyOutdatedShares"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="batch" value-ref="shareManagementBatch"/>
            </map>
        </property>
    </bean>
    <bean id="notifyOutdatedSharesJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="notifyOutdatedSharesJob"/>
        <property name="cronExpression" value="${job.outdatedshares.cron.expression}"/>
    </bean>

    <bean id="cleanInconsistentDocumentEntriesJob" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="org.linagora.linshare.core.job.quartz.CleanInconsistentDocumentEntries"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="batch" value-ref="documentManagementBatch"/>
            </map>
        </property>
    </bean>
    <bean id="cleanInconsistentDocumentEntriesJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="cleanInconsistentDocumentEntriesJob"/>
        <property name="cronExpression" value="${job.consistency.cron.expression}"/>
    </bean>

	<!-- Don't use that with Jackrabbit 1.4 !! -->
	<!-- https://issues.apache.org/jira/browse/JCR-2492 -->
    <bean id="cleanJcrUnusedFilesJob" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="org.linagora.linshare.core.job.quartz.CleanJcrUnusedFiles"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="batch" value-ref="jcrGarbageCollectionBatch"/>
            </map>
        </property>
    </bean>
    <bean id="cleanJcrUnusedFilesJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="cleanJcrUnusedFilesJob"/>
        <property name="cronExpression" value="${job.jcrgarbagecollector.cron.expression}"/>
    </bean>

    <bean id="cleanOutdatedDocumentsJob" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="org.linagora.linshare.core.job.quartz.CleanOutdatedDocuments"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="batch" value-ref="documentManagementBatch"/>
            </map>
        </property>
    </bean>
    <bean id="cleanOutdatedDocumentsJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="cleanOutdatedDocumentsJob"/>
        <property name="cronExpression" value="${job.document.cleaner.cron.expression}"/>
    </bean>

    <bean id="updateUploadRequestJob" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="org.linagora.linshare.core.job.quartz.UpdateUploadRequest"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="batch" value-ref="uploadRequestBatch"/>
            </map>
        </property>
    </bean>
    <bean id="updateUploadRequestJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="updateUploadRequestJob"/>
        <property name="cronExpression" value="${job.uploadrequest.cron.expression}"/>
    </bean>

	<bean id="cleanOutdatedUploadRequestEntryUrlJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="org.linagora.linshare.core.job.quartz.CleanOutdatedUploadRequestEntryUrlJobBean" />
		<property name="jobDataAsMap">
			<map>
				<entry key="batch">
					<list value-type="org.linagora.linshare.core.job.quartz.LinShareJobBean">
						<ref bean="uploadRequestEntryUrlBatch" />
					</list>
				</entry>
			</map>
		</property>
	</bean>

    <bean id="cleanOutdatedUploadRequestEntryUrlJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="cleanOutdatedUploadRequestEntryUrlJob"/>
        <property name="cronExpression" value="${job.uploadrequestentryurl.cleaner.cron.expression}"/>
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cleanOutdatedGuestsJobTrigger"/>
                <ref bean="cleanOutdatediSharesJobTrigger"/>
                <ref bean="checkDocumentsMimeTypeJobTrigger"/>
                <ref bean="notifyOutdatedSharesJobTrigger"/>
                <ref bean="cleanInconsistentDocumentEntriesJobTrigger"/>
                <ref bean="cleanJcrUnusedFilesJobTrigger"/>
                <ref bean="cleanOutdatedDocumentsJobTrigger"/>
                <ref bean="updateUploadRequestJobTrigger"/>
                <ref bean="cleanOutdatedUploadRequestEntryUrlJobTrigger"/>
            </list>
        </property>
    </bean>
</beans>
