<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
       http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

	<!-- cxf -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />



	<!-- SOAP -->


	<bean id="soapService" class="org.linagora.linshare.webservice.impl.SoapServiceImpl">
		<constructor-arg ref="webServiceDocumentFacade" />
		<constructor-arg ref="webServiceShareFacade" />
		<constructor-arg ref="webServiceThreadFacade" />
		<constructor-arg ref="webServiceUserFacade" />
	</bean>

	<bean id="MTOMUploadSoapService" class="org.linagora.linshare.webservice.impl.MTOMUploadSoapServiceImpl">
		<constructor-arg ref="webServiceDocumentFacade" />
	</bean>

	<bean id="soapExceptionInterceptor" class="org.linagora.linshare.webservice.interceptor.SoapExceptionInterceptor" />


	<cxf:bus>
		<cxf:features>
			<!-- Could be uncommented : inbound cxf messages and outbound cxf messages are written to stdout. -->
			<!-- <cxf:logging /> -->
		</cxf:features>

		<cxf:inInterceptors />
		<cxf:outInterceptors />
		<cxf:outFaultInterceptors>
			<ref bean="soapExceptionInterceptor" />
		</cxf:outFaultInterceptors>
	</cxf:bus>


	<jaxws:endpoint id="soapEndpoint" implementor="#soapService" address="/soap">
		<jaxws:outFaultInterceptors>
			<ref bean="soapExceptionInterceptor" />
		</jaxws:outFaultInterceptors>
	</jaxws:endpoint>


	<jaxws:endpoint id="MTOMUploadEndpoint" implementor="#MTOMUploadSoapService" address="/upload">
		<jaxws:properties>
			<entry key="mtom-enabled" value="true" />
			<entry key="attachment-directory" value="${webservice.attachment-directory}" />
			<!-- data exceeding the memory threshold will be written to the directory specified in bytes -->
			<entry key="attachment-memory-threshold" value="${webservice.attachment-memory-threshold}" />
		</jaxws:properties>
		<jaxws:outFaultInterceptors>
			<ref bean="soapExceptionInterceptor" />
		</jaxws:outFaultInterceptors>
	</jaxws:endpoint>


	<!-- REST -->
	<bean id="documentRestService" class="org.linagora.linshare.webservice.impl.DocumentRestServiceImpl">
		<constructor-arg ref="webServiceDocumentFacade" />
	</bean>

	<bean id="shareRestService" class="org.linagora.linshare.webservice.impl.ShareRestServiceImpl">
		<constructor-arg ref="webServiceShareFacade" />
	</bean>

	<bean id="pluginCompatibilityRestService" class="org.linagora.linshare.webservice.impl.PluginCompatibilityRestServiceImpl">
		<constructor-arg ref="webServiceShareFacade" />
		<constructor-arg ref="webServiceDocumentFacade" />
	</bean>

	<bean id="threadRestService" class="org.linagora.linshare.webservice.impl.ThreadRestServiceImpl">
		<constructor-arg ref="webServiceThreadFacade" />
	</bean>

	<bean id="threadMemberRestService" class="org.linagora.linshare.webservice.impl.ThreadMemberRestServiceImpl">
		<constructor-arg ref="webServiceThreadFacade" />
		<constructor-arg ref="webServiceThreadMemberFacade" />
	</bean>

	<bean id="userRestService" class="org.linagora.linshare.webservice.impl.UserRestServiceImpl">
		<constructor-arg ref="webServiceUserFacade" />
	</bean>
	
	<bean id="adminRestService" class="org.linagora.linshare.webservice.admin.impl.AdminRestServiceImpl">
		<constructor-arg ref="webServiceAdminFacade" />
	</bean>

	<bean id="logInbound" class="org.apache.cxf.interceptor.LoggingInInterceptor" />
	<bean id="logOutbound" class="org.apache.cxf.interceptor.LoggingOutInterceptor" />

	<jaxrs:server id="restContainer" address="/">
		<jaxrs:serviceBeans>
			<ref bean="documentRestService" />
			<ref bean="shareRestService" />
			<ref bean="pluginCompatibilityRestService" />
			<ref bean="threadRestService" />
			<ref bean="threadMemberRestService" />
			<ref bean="userRestService" />
			<ref bean="adminRestService" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="json" value="application/json" />
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<jaxrs:providers>
			<ref bean="jsonProvider" />
			<!-- <bean class="org.apache.cxf.jaxrs.impl.WebApplicationExceptionMapper"> -->
			<!-- <property name="printStackTrace" value="true" /> -->
			<!-- </bean> -->
		</jaxrs:providers>
		<jaxrs:features>
			<cxf:logging />
		</jaxrs:features>
<!-- 		
			<jaxrs:inInterceptors>
				<ref bean="logInbound" />
			</jaxrs:inInterceptors>
-->
<!--
 			<jaxrs:outInterceptors> 
				<ref bean="logOutbound" />
			</jaxrs:outInterceptors>
-->
	</jaxrs:server>

	<!-- enable json with jackson (not the default jettison) -->
	<bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
</beans>
