<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="    
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-autowire="no">


	<!-- =============================================================================================================== Other services 
		=============================================================================================================== -->

	<bean id="templating" class="org.linagora.linshare.view.tapestry.services.impl.MailTemplating">
	</bean>

	<bean id="logEntryService" class="org.linagora.linshare.core.service.impl.LogEntryServiceImpl">
		<constructor-arg ref="logEntryRepository" />
		<constructor-arg ref="abstractDomainService" />
	</bean>

	<bean name="passwordService" class="org.linagora.linshare.core.service.impl.PasswordServiceImpl">
	</bean>

	<bean name="accountService" class="org.linagora.linshare.core.service.impl.AccountServiceImpl">
		<constructor-arg ref="accountRepository" />
	</bean>

	<bean name="threadService" class="org.linagora.linshare.core.service.impl.ThreadServiceImpl">
		<constructor-arg ref="threadRepository" />
		<constructor-arg ref="threadMemberRepository" />
		<constructor-arg ref="documentEntryBusinessService" />
		<constructor-arg ref="logEntryService" />
		<constructor-arg ref="functionalityReadOnlyService" />
	</bean>

	<bean name="userService" class="org.linagora.linshare.core.service.impl.UserServiceImpl">
		<constructor-arg ref="userRepository" />
		<constructor-arg ref="logEntryService" />
		<constructor-arg ref="guestRepository" />
		<constructor-arg ref="recipientFavouriteService" />
		<constructor-arg ref="allowedContactRepository" />
		<constructor-arg ref="functionalityReadOnlyService" />
		<constructor-arg ref="abstractDomainService" />
		<constructor-arg ref="entryService" />
		<constructor-arg ref="threadService" />
		<constructor-arg ref="domainPermissionBusinessService" />
	</bean>

	<bean name="inconsistentUserService" class="org.linagora.linshare.core.service.impl.InconsistentUserServiceImpl">
		<constructor-arg ref="internalRepository" />
		<constructor-arg ref="abstractDomainService" />
	</bean>

	<bean id="antiSamyService" class="org.linagora.linshare.core.service.impl.AntiSamyServiceImpl">
		<constructor-arg ref="antiSamyPolicy" />
	</bean>

	<bean id="clamavVirusScannerService" class="org.linagora.linshare.core.service.impl.ClamavVirusScannerServiceImpl">
		<constructor-arg index="0" value="${virusscanner.clamav.host}" />
		<constructor-arg index="1" value="${virusscanner.clamav.port}" />
	</bean>

	<bean id="timeStampingService" class="org.linagora.linshare.core.service.impl.TimeStampingServiceImpl">
	</bean>

	<bean id="mimeTypeService" class="org.linagora.linshare.core.service.impl.MimeTypeServiceImpl">
		<constructor-arg ref="mimeTypeBusinessService" />
		<constructor-arg ref="mimePolicyBusinessService" />
		<constructor-arg ref="domainPermissionBusinessService" />
	</bean>
	<bean id="mimePolicyService" class="org.linagora.linshare.core.service.impl.MimePolicyServiceImpl">
		<constructor-arg ref="mimePolicyBusinessService" />
		<constructor-arg ref="mimeTypeBusinessService" />
		<constructor-arg ref="domainPermissionBusinessService" />
		<constructor-arg ref="domainBusinessService" />
	</bean>

	<bean id="documentEntryService" class="org.linagora.linshare.core.service.impl.DocumentEntryServiceImpl">
		<constructor-arg ref="documentEntryBusinessService" />
		<constructor-arg ref="logEntryService" />
		<constructor-arg ref="abstractDomainService" />
		<constructor-arg ref="functionalityReadOnlyService" />
		<constructor-arg ref="mimeTypeService" />
		<constructor-arg ref="clamavVirusScannerService" />
		<constructor-arg ref="mimeTypeMagicNumberDao" />
		<constructor-arg ref="antiSamyService" />
	</bean>

	<bean id="threadEntryService" class="org.linagora.linshare.core.service.impl.ThreadEntryServiceImpl">
		<constructor-arg ref="documentEntryBusinessService" />
		<constructor-arg ref="logEntryService" />
		<constructor-arg ref="abstractDomainService" />
		<constructor-arg ref="functionalityReadOnlyService" />
		<constructor-arg ref="mimeTypeService" />
		<constructor-arg ref="accountService" />
		<constructor-arg ref="clamavVirusScannerService" />
		<constructor-arg ref="threadMemberRepository" />
		<constructor-arg ref="mimeTypeMagicNumberDao" />
		<constructor-arg ref="antiSamyService" />
	</bean>

	<bean id="shareExpiryDateService" class="org.linagora.linshare.core.service.impl.ShareExpiryDateServiceImpl">
		<constructor-arg ref="functionalityReadOnlyService" />
	</bean>

	<bean id="entryService" class="org.linagora.linshare.core.service.impl.EntryServiceImpl">
		<constructor-arg ref="documentEntryService" />
		<constructor-arg ref="shareEntryService" />
		<constructor-arg ref="anonymousShareEntryService" />
	</bean>



	<bean id="shareEntryService" class="org.linagora.linshare.core.service.impl.ShareEntryServiceImpl">
		<constructor-arg ref="guestRepository" />
		<constructor-arg ref="functionalityReadOnlyService" />
		<constructor-arg ref="shareEntryBusinessService" />
		<constructor-arg ref="shareExpiryDateService" />
		<constructor-arg ref="logEntryService" />
		<constructor-arg ref="documentEntryService" />
		<constructor-arg ref="notifierService" />
		<constructor-arg ref="mailContentBuildingService" />
		<constructor-arg ref="documentEntryBusinessService" />
	</bean>

	<bean id="anonymousShareEntryService" class="org.linagora.linshare.core.service.impl.AnonymousShareEntryServiceImpl">
		<constructor-arg ref="functionalityReadOnlyService" />
		<constructor-arg ref="anonymousShareEntryBusinessService" />
		<constructor-arg ref="shareExpiryDateService" />
		<constructor-arg ref="logEntryService" />
		<constructor-arg ref="notifierService" />
		<constructor-arg ref="mailContentBuildingService" />
		<constructor-arg ref="documentEntryBusinessService" />
	</bean>

	<bean id="anonymousUrlService" class="org.linagora.linshare.core.service.impl.AnonymousUrlServiceImpl">
		<constructor-arg ref="anonymousUrlBusinessService" />
		<constructor-arg ref="anonymousShareEntryService" />
	</bean>

	<bean id="searchDocumentService" class="org.linagora.linshare.core.service.impl.SearchDocumentServiceImpl">
		<constructor-arg ref="documentEntryRepository" />
		<constructor-arg ref="shareEntryRepository" />
	</bean>

	<bean name="notifierService" class="org.linagora.linshare.core.service.impl.MailNotifierServiceImpl">
		<constructor-arg index="0" value="${mail.smtp.host}" />
		<constructor-arg index="1" value="${mail.smtp.port}" />
		<constructor-arg index="2" value="${mail.smtp.user}" />
		<constructor-arg index="3" value="${mail.smtp.password}" />
		<constructor-arg index="4" value="${mail.smtp.auth.needed}" />
		<constructor-arg index="5" value="${mail.smtp.charset}" />
		<constructor-arg index="6" value="${linshare.logo.mails.visible}" />
		<constructor-arg index="7" value="${linshare.display.licenceTerm}" />
	</bean>

	<bean name="enciphermentService" class="org.linagora.linshare.core.service.impl.EnciphermentServiceAesCryptImpl">
		<constructor-arg ref="documentEntryService" />
		<constructor-arg ref="logEntryService" />
		<constructor-arg value="${linshare.encipherment.tmp.dir}" />
	</bean>

	<bean name="recipientFavouriteService" class="org.linagora.linshare.core.service.impl.RecipientFavouriteServiceImpl">
		<constructor-arg ref="recipientFavouriteRepository" />
	</bean>

	<bean name="statisticsService" class="org.linagora.linshare.core.service.impl.StatisticsServiceImpl">
		<constructor-arg ref="userRepository" />
		<constructor-arg ref="documentRepository" />
		<constructor-arg ref="logEntryRepository" />
	</bean>

	<bean name="mailContentBuildingService" class="org.linagora.linshare.core.service.impl.MailBuildingServiceImpl">
		<constructor-arg value="${linshare.logo.mails.visible}" />
		<constructor-arg ref="abstractDomainService" />
		<constructor-arg ref="functionalityReadOnlyService" />
		<constructor-arg ref="mailConfigRepository" />
		<constructor-arg value="${linshare.display.licenceTerm}" />
	</bean>

	<bean name="mailBuildingService" class="org.linagora.linshare.core.service.impl.MailBuildingServiceImpl">
		<constructor-arg value="${linshare.logo.mails.visible}" />
		<constructor-arg ref="abstractDomainService" />
		<constructor-arg ref="functionalityReadOnlyService" />
		<constructor-arg ref="mailConfigRepository" />
		<constructor-arg value="${linshare.display.licenceTerm}" />	
	</bean>

	<bean name="userProviderService" class="org.linagora.linshare.core.service.impl.UserProviderServiceImpl">
		<constructor-arg ref="userProviderRepository" />
		<constructor-arg ref="domainPatternRepository" />
		<constructor-arg ref="ldapConnectionRepository" />
		<constructor-arg ref="ldapQueryService" />
	</bean>

	<bean name="functionalityService" class="org.linagora.linshare.core.service.impl.FunctionalityServiceImpl">
		<constructor-arg ref="functionalityBusinessService" />
		<constructor-arg ref="domainBusinessService" />
		<constructor-arg ref="domainPermissionBusinessService" />
	</bean>

	<bean name="functionalityOldService" class="org.linagora.linshare.core.service.impl.FunctionalityOldServiceImpl">
		<constructor-arg ref="functionalityRepository" />
		<constructor-arg ref="functionalityBusinessService" />
		<constructor-arg ref="abstractDomainRepository" />
	</bean>

	<bean name="functionalityReadOnlyService" class="org.linagora.linshare.core.service.impl.FunctionalityReadOnlyServiceImpl">
		<constructor-arg ref="functionalityRepository" />
		<constructor-arg ref="abstractDomainRepository" />
	</bean>


	<bean name="domainPolicyService" class="org.linagora.linshare.core.service.impl.DomainPolicyServiceImpl">
		<constructor-arg ref="domainPolicyBusinessService" />
	</bean>

	<bean name="abstractDomainService" class="org.linagora.linshare.core.service.impl.AbstractDomainServiceImpl">
		<constructor-arg ref="functionalityReadOnlyService" />
		<constructor-arg ref="abstractDomainRepository" />
		<constructor-arg ref="domainPolicyService" />
		<constructor-arg ref="userProviderService" />
		<constructor-arg ref="messagesRepository" />
		<constructor-arg ref="userRepository" />
		<constructor-arg ref="domainBusinessService" />
		<constructor-arg ref="mailConfigBusinessService" />
		<constructor-arg ref="mimePolicyBusinessService" />
	</bean>

	<bean name="userAndDomainMultiService" class="org.linagora.linshare.core.service.impl.UserAndDomainMultiServiceImpl">
		<constructor-arg ref="abstractDomainService" />
		<constructor-arg ref="userService" />
	</bean>

	<bean name="signatureService" class="org.linagora.linshare.core.service.impl.SignatureServiceImpl">
		<constructor-arg ref="signatureBusinessService" />
		<constructor-arg ref="logEntryService" />
	</bean>

	<bean name="mailingListService" class="org.linagora.linshare.core.service.impl.MailingListServiceImpl">
		<constructor-arg ref="mailingListBusinessService" />
		<constructor-arg ref="userService" />
	</bean>

	<bean name="mailConfigService" class="org.linagora.linshare.core.service.impl.MailConfigServiceImpl">
		<constructor-arg ref="abstractDomainService" />
		<constructor-arg ref="mailConfigBusinessService" />
		<constructor-arg ref="mailContentBusinessService" />
		<constructor-arg ref="mailFooterBusinessService" />
		<constructor-arg ref="mailLayoutBusinessService" />
		<constructor-arg ref="domainPermissionBusinessService" />
	</bean>

	<bean name="guestService" class="org.linagora.linshare.core.service.impl.GuestServiceImpl">
		<constructor-arg ref="guestBusinessService" />
		<constructor-arg ref="abstractDomainService" />
		<constructor-arg ref="functionalityReadOnlyService" />
		<constructor-arg ref="userService" />
		<constructor-arg ref="domainPermissionBusinessService" />
		<constructor-arg ref="notifierService" />
		<constructor-arg ref="mailBuildingService" />
	</bean>

	<bean name="uploadRequestService" class="org.linagora.linshare.core.service.impl.UploadRequestServiceImpl">
		<constructor-arg ref="abstractDomainService" />
		<constructor-arg ref="uploadRequestBusinessService" />
		<constructor-arg ref="uploadRequestEntryBusinessService" />
		<constructor-arg ref="uploadRequestGroupBusinessService" />
		<constructor-arg ref="uploadRequestHistoryBusinessService" />
		<constructor-arg ref="uploadRequestTemplateBusinessService" />
		<constructor-arg ref="uploadRequestUrlBusinessService" />
	</bean>

	<bean name="technicalAccountService" class="org.linagora.linshare.core.service.impl.TechnicalAccountServiceImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="technicalAccountBusinessService" />
	</bean>

	<bean id="technicalAccountPermissionService" class="org.linagora.linshare.core.service.impl.TechnicalAccountPermissionServiceImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="technicalAccountPermissionBusinessService" />
	</bean>
	<bean name="uploadRequestUrlService" class="org.linagora.linshare.core.service.impl.UploadRequestUrlServiceImpl">
		<constructor-arg ref="uploadRequestUrlBusinessService" />
		<constructor-arg ref="uploadRequestEntryBusinessService" />
	</bean>
</beans>
