<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd"
	default-autowire="no">

	<bean id="adminUpgradeTaskRestService" class="org.linagora.linshare.webservice.admin.impl.UpgradeTaskRestServiceImpl">
		<constructor-arg ref="wsAdminUpgradeTaskFacade" />
		<constructor-arg ref="wsAsyncTaskFacade" />
		<constructor-arg ref="wsBatchRunnerAsyncFacade" />
		<constructor-arg ref="taskExecutor" />
		<constructor-arg ref="upgradeTaskLogMongoRepository" />
		<constructor-arg ref="batchRunner" />
		<constructor-arg>
			<list>
				<bean class="org.linagora.linshare.core.upgrade.v4_0.UpdateTargetDomainUuidMailAttachmentAuditUpgradeTaskImpl">
					<constructor-arg ref="accountRepository" />
					<constructor-arg ref="mongoTemplate" />
					<constructor-arg ref="auditAdminMongoRepository" />
					<constructor-arg ref="mailAttachmentRepository" />
				</bean>
				<bean class="org.linagora.linshare.core.upgrade.v4_0.UpgradeSharedSpaceMemberStructureWithTypedSharedSpaceRoles">
					<constructor-arg ref="accountRepository" />
					<constructor-arg ref="mongoTemplate" />
					<constructor-arg ref="sharedSpaceMemberMongoRepository" />
				</bean>
				<bean class="org.linagora.linshare.core.upgrade.v4_0.UpgradeApacheTikaAddAllNewMimeTypeUpgradeTaskImpl">
					<constructor-arg ref="accountRepository" />
					<constructor-arg ref="mongoTemplate" />
					<constructor-arg ref="sharedSpaceMemberMongoRepository" />
				</bean>
				<bean class="org.linagora.linshare.core.upgrade.v4_0.NotifyAllGuestsToResetPasswordsWithOldEncodingUpgradeTaskImpl">
					<constructor-arg ref="accountRepository" />
					<constructor-arg ref="upgradeTaskLogMongoRepository" />
					<constructor-arg ref="guestRepository" />
					<constructor-arg ref="notifierService" />
					<constructor-arg ref="resetGuestPasswordMongoRepository" />
					<constructor-arg ref="mailBuildingService" />
					<constructor-arg value="${guests.notify.with.deprecated.passwords.url.expiration.days}" />
				</bean>
				<bean class="org.linagora.linshare.core.upgrade.v4_0.NotifyAllAnonymousWithNewPasswordUpgradeTaskImpl">
					<constructor-arg ref="accountRepository" />
					<constructor-arg ref="upgradeTaskLogMongoRepository" />
					<constructor-arg ref="anonymousUrlRepository" />
					<constructor-arg ref="notifierService" />
					<constructor-arg ref="passwordService" />
					<constructor-arg ref="mailBuildingService" />
				</bean>
				<bean class="org.linagora.linshare.core.upgrade.v4_1.UpgradeApacheTikaAddAllNewMimeTypeUpgradeTaskImpl">
				</bean>
				<bean class="org.linagora.linshare.core.upgrade.v4_2.DeleteEntriesOfArchivedDeletedPurgedUploadRequestsImpl">
					<constructor-arg ref="accountRepository" />
					<constructor-arg ref="upgradeTaskLogMongoRepository" />
					<constructor-arg ref="uploadRequestEntryService" />
					<constructor-arg ref="uploadRequestEntryRepository" />
				</bean>
				<bean class="org.linagora.linshare.core.upgrade.v4_2.ComputeAllWorkgroupsQuotaImpl">
					<constructor-arg ref="accountRepository" />
					<constructor-arg ref="upgradeTaskLogMongoRepository" />
					<constructor-arg ref="sharedSpaceNodeMongoRepository" />
					<constructor-arg ref="accountQuotaBusinessService" />
					<constructor-arg ref="threadService" />
					<constructor-arg ref="operationHistoryBusinessService" />
					<constructor-arg ref="mongoTemplate" />
				</bean>
				<bean class="org.linagora.linshare.core.upgrade.v4_2.ComputeCurrentValueForDomainsUpgradeTaskImpl">
					<constructor-arg ref="accountRepository" />
					<constructor-arg ref="upgradeTaskLogMongoRepository" />
					<constructor-arg ref="abstractDomainRepository" />
					<constructor-arg ref="accountQuotaRepository" />
					<constructor-arg ref="containerQuotaRepository" />
					<constructor-arg ref="domainQuotaRepository" />
				</bean>
				<bean class="org.linagora.linshare.core.upgrade.v4_2.ComputeTopAndRootDomainQuotaUpgradeTaskImpl">
					<constructor-arg ref="accountRepository" />
					<constructor-arg ref="upgradeTaskLogMongoRepository" />
					<constructor-arg ref="abstractDomainRepository" />
					<constructor-arg ref="domainQuotaRepository" />
				</bean>
				<bean class="org.linagora.linshare.core.upgrade.v4_2.AddDetailsToSharedSpaceNodeUpgradeTaskImpl">
					<constructor-arg ref="accountRepository" />
					<constructor-arg ref="upgradeTaskLogMongoRepository" />
					<constructor-arg ref="mongoTemplate" />
					<constructor-arg ref="sharedSpaceNodeMongoRepository" />
					<constructor-arg ref="auditUserMongoRepository" />
				</bean>
				<bean class="org.linagora.linshare.core.upgrade.v4_2.UpdateSystmeAccountToAnonymousOnAuditTraces">
					<constructor-arg ref="accountRepository" />
					<constructor-arg ref="upgradeTaskLogMongoRepository" />
					<constructor-arg ref="mongoTemplate" />
				</bean>
				<bean class="org.linagora.linshare.core.upgrade.v4_2.AddRelatedResourceToWorkgroupNodeAuditEntriesUpgradeTaskImpl">
					<constructor-arg ref="accountRepository" />
					<constructor-arg ref="upgradeTaskLogMongoRepository" />
					<constructor-arg ref="mongoTemplate" />
					<constructor-arg ref="auditUserMongoRepository" />
				</bean>
				<bean class="org.linagora.linshare.core.upgrade.v4_2.AddSeeAsNestedFieldToSharedSpaceMemberUpgradeTaskImpl">
					<constructor-arg ref="accountRepository" />
					<constructor-arg ref="upgradeTaskLogMongoRepository" />
					<constructor-arg ref="mongoTemplate" />
				</bean>
				<bean class="org.linagora.linshare.core.upgrade.v4_2.UpdateSeeAsNestedFieldInNestedSharedSpaceMemberUpgradeTaskImpl">
					<constructor-arg ref="accountRepository" />
					<constructor-arg ref="upgradeTaskLogMongoRepository" />
					<constructor-arg ref="mongoTemplate" />
					<constructor-arg ref="sharedSpaceMemberMongoRepository" />
					<constructor-arg ref="sharedSpaceNodeMongoRepository" />
				</bean>
				<bean class="org.linagora.linshare.core.upgrade.v4_2.AddMissingPropertiesToWorkGroupNodesUpgradeTaskImpl">
					<constructor-arg ref="accountRepository" />
					<constructor-arg ref="upgradeTaskLogMongoRepository" />
					<constructor-arg ref="threadRepository" />
					<constructor-arg ref="workGroupDocumentRevisionService" />
					<constructor-arg ref="workGroupNodeMongoRepository" />
					<constructor-arg ref="mongoTemplate" />
				</bean>
				<bean class="org.linagora.linshare.core.upgrade.v5_0.AddDomainToWorkGroupUpgradeTaskImpl">
					<constructor-arg ref="accountRepository" />
					<constructor-arg ref="upgradeTaskLogMongoRepository" />
					<constructor-arg ref="mongoTemplate" />
					<constructor-arg ref="sharedSpaceNodeMongoRepository" />
					<constructor-arg ref="threadRepository" />
				</bean>
				<bean class="org.linagora.linshare.core.upgrade.v5_0.AddDomainToDriveUpgradeTaskImpl">
					<constructor-arg ref="accountRepository" />
					<constructor-arg ref="upgradeTaskLogMongoRepository" />
					<constructor-arg ref="mongoTemplate" />
					<constructor-arg ref="sharedSpaceNodeMongoRepository" />
					<constructor-arg ref="userRepository" />
				</bean>
				<bean class="org.linagora.linshare.core.upgrade.v5_0.DeleteEventNotificationCollectionUpgradeTaskImpl">
					<constructor-arg ref="accountRepository" />
					<constructor-arg ref="upgradeTaskLogMongoRepository" />
					<constructor-arg ref="mongoTemplate" />
				</bean>
				<bean class="org.linagora.linshare.core.upgrade.v5_0.RenameDriveAuditToWorkSpaceUpgradeTaskImpl">
					<constructor-arg ref="accountRepository" />
					<constructor-arg ref="upgradeTaskLogMongoRepository" />
					<constructor-arg ref="mongoTemplate" />
				</bean>
				<bean class="org.linagora.linshare.core.upgrade.v5_0.RenameDriveToWorkSpaceUpgradeTaskImpl">
					<constructor-arg ref="accountRepository" />
					<constructor-arg ref="upgradeTaskLogMongoRepository" />
					<constructor-arg ref="mongoTemplate" />
				</bean>
				<bean class="org.linagora.linshare.core.upgrade.v5_0.RenameDriveMembersToWorkSpaceMembersUpgradeTaskImpl">
					<constructor-arg ref="accountRepository" />
					<constructor-arg ref="upgradeTaskLogMongoRepository" />
					<constructor-arg ref="mongoTemplate" />
				</bean>
				<bean class="org.linagora.linshare.core.upgrade.v5_0.RenameDriveDeletionCauseToWorkSpaceDeletionCauseInAuditLogsImpl">
					<constructor-arg ref="accountRepository" />
					<constructor-arg ref="upgradeTaskLogMongoRepository" />
					<constructor-arg ref="mongoTemplate" />
				</bean>
			</list>
		</constructor-arg>
	</bean>
</beans>
