<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	default-autowire="no">

	<bean id="wsUploadPropositionGenericFacade" class="org.linagora.linshare.core.facade.webservice.uploadproposition.impl.UploadPropositionGenericFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="functionalityReadOnlyService" />
	</bean>
	<bean id="wsUploadPropositionUploadPropositionFacade" class="org.linagora.linshare.core.facade.webservice.uploadproposition.impl.UploadPropositionFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="functionalityReadOnlyService" />
		<constructor-arg ref="uploadPropositionService" />
		<constructor-arg ref="uploadPropositionFilterService" />
	</bean>
</beans>
