<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="cmisLifecycleBean" class="org.linagora.linshare.cmis.service.CmisLifecycleBean">
		<property name="cmisServiceFactory" ref="cmisServiceFactory" />
	</bean>

	<bean id="cmisServiceFactory" class="org.linagora.linshare.cmis.service.impl.ServiceFactoryImpl">
		<constructor-arg ref="documentEntryService" />
		<constructor-arg ref="accountService" />
		<constructor-arg ref="cmisService" />
	</bean>

	<bean id="cmisExceptionMappingService"
		class="org.linagora.linshare.cmis.exceptions.impl.CmisExceptionMappingServiceImpl">
	</bean>
	<bean id="documentEntryCmisService" class="org.linagora.linshare.cmis.service.impl.DocumentEntryCmisServiceImpl">
		<constructor-arg ref="documentEntryService"></constructor-arg>
		<constructor-arg ref="cmisExceptionMappingService"></constructor-arg>
		<constructor-arg ref="cmisStrings"></constructor-arg>
		<constructor-arg ref="cmisHelpers"></constructor-arg>
	</bean>
	<bean id="cmisService" class="org.linagora.linshare.cmis.facade.impl.MainCmisFacadeImpl">
		<constructor-arg ref="accountService"></constructor-arg>
		<constructor-arg ref="documentEntryCmisService"></constructor-arg>
		<constructor-arg ref="threadEntryCmisService"></constructor-arg>
		<constructor-arg ref="cmisStrings"></constructor-arg>
		<constructor-arg ref="functionalityReadOnlyService"></constructor-arg>
		<constructor-arg ref="cmisHelpers"></constructor-arg>
	</bean>
	<bean id="threadEntryCmisService" class="org.linagora.linshare.cmis.service.impl.ThreadEntryCmisServiceImpl">
		<constructor-arg ref="workGroupNodeService"></constructor-arg>
		<constructor-arg ref="cmisExceptionMappingService"></constructor-arg>
		<constructor-arg ref="threadService"></constructor-arg>
		<constructor-arg ref="cmisStrings"></constructor-arg>
		<constructor-arg ref="cmisHelpers"></constructor-arg>
	</bean>
	<bean id="cmisStrings" class="org.linagora.linshare.cmis.constants.CmisStrings">
	</bean>
	<bean id="cmisHelpers" class="org.linagora.linshare.cmis.utils.impl.CmisHelpersImpl">
	<constructor-arg ref="accountService"></constructor-arg>
	<constructor-arg ref="functionalityReadOnlyService"></constructor-arg>
	</bean>
</beans>
