<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns:b="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/data/mongo
	http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd"
	profile="mongo">

	<mongo:db-factory
		id="mongoDbFactory"
		mongo-ref="mongo"
		host="${linshare.mongo.host}"
		port="${linshare.mongo.port}"
		dbname="${linshare.mongo.database}"
		/>

	<mongo:db-factory
		id="mongoDbFactoryForBigFiles"
		mongo-ref="mongobig"
		host="${linshare.mongo.gridfs.bigfiles.host}"
		port="${linshare.mongo.gridfs.bigfiles.port}"
		dbname="${linshare.mongo.gridfs.bigfiles.database}"
		/>

	<mongo:db-factory
		id="mongoDbFactoryForFiles"
		mongo-ref="mongosmall"
		host="${linshare.mongo.gridfs.smallfiles.host}"
		port="${linshare.mongo.gridfs.smallfiles.port}"
		dbname="${linshare.mongo.gridfs.smallfiles.database}"
		/>
</b:beans>