<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns:context="http://www.springframework.org/schema/context"
          xmlns:mongo="http://www.springframework.org/schema/data/mongo"
          xsi:schemaLocation=
          "http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/data/mongo
          http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<mongo:mongo id="mongo"
		host="${linshare.mongo.host}"
		port="${linshare.mongo.port}"
		replica-set="${linshare.mongo.replicatset}">

		<mongo:options connections-per-host="8"
			threads-allowed-to-block-for-connection-multiplier="4"
			connect-timeout="${linshare.mongo.connect.timeout}"
			max-wait-time="1500"
			auto-connect-retry="true"
			socket-keep-alive="true"
			socket-timeout="${linshare.mongo.socket.timeout}"
			slave-ok="true"
			write-number="1"
			write-timeout="0"
			write-fsync="true" />
	</mongo:mongo>

	<mongo:mongo id="mongosmall"
		host="${linshare.mongo.gridfs.smallfiles.host}"
		port="${linshare.mongo.gridfs.smallfiles.port}"
		replica-set="${linshare.mongo.gridfs.smallfiles.replicatset}">

		<mongo:options connections-per-host="8"
			threads-allowed-to-block-for-connection-multiplier="4"
			connect-timeout="${linshare.mongo.connect.timeout}"
			max-wait-time="1500"
			auto-connect-retry="true"
			socket-keep-alive="true"
			socket-timeout="${linshare.mongo.socket.timeout}"
			slave-ok="true"
			write-number="1"
			write-timeout="0"
			write-fsync="true" />
	</mongo:mongo>

	<mongo:mongo id="mongobig"
		host="${linshare.mongo.gridfs.bigfiles.host}"
		port="${linshare.mongo.gridfs.bigfiles.port}"
		replica-set="${linshare.mongo.gridfs.bigfiles.replicatset}">

		<mongo:options connections-per-host="8"
			threads-allowed-to-block-for-connection-multiplier="4"
			connect-timeout="${linshare.mongo.connect.timeout}"
			max-wait-time="1500"
			auto-connect-retry="true"
			socket-keep-alive="true"
			socket-timeout="${linshare.mongo.socket.timeout}"
			slave-ok="true"
			write-number="1"
			write-timeout="0"
			write-fsync="true" />
	</mongo:mongo>

	<mongo:repositories base-package="org.linagora.linshare.mongo" />

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>

<!-- 	<bean id="mappingContext" class="org.springframework.data.mongodb.core.mapping.MongoMappingContext" /> -->

<!-- 	<bean id="mongoEntityInformation" -->
<!-- 		class="org.springframework.data.mongodb.repository.query.MongoEntityInformation"> -->
<!-- 		<constructor-arg name="mappingContext" ref="mappingContext" /> -->
<!-- 	</bean> -->

	<mongo:mapping-converter id="converterBigFiles" db-factory-ref="mongoDbFactoryForBigFiles"/>
	<mongo:mapping-converter id="converterFiles" db-factory-ref="mongoDbFactoryForFiles"/>

	<bean id="gridFsTemplateForBigFiles" class="org.springframework.data.mongodb.gridfs.GridFsTemplate">
		<constructor-arg ref="mongoDbFactoryForBigFiles" />
		<constructor-arg ref="converterBigFiles" />
	</bean>
	<bean id="gridFsTemplateForSmallFiles" class="org.springframework.data.mongodb.gridfs.GridFsTemplate">
		<constructor-arg ref="mongoDbFactoryForFiles" />
		<constructor-arg ref="converterFiles" />
	</bean>

	<!-- 	<mongo:mongo id="replicaSetMongo" replica-set="127.0.0.1:27017,localhost:27018"/> -->

</beans>