<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	default-autowire="no">


	<bean name="accountFacade" class="org.linagora.linshare.core.facade.impl.AccountFacadeImpl">
		<constructor-arg ref="accountService" />
	</bean>


	<bean name="userFacade" class="org.linagora.linshare.core.facade.impl.UserFacadeImpl">
		<constructor-arg ref="userRepository" />
		<constructor-arg ref="userService" />
		<constructor-arg ref="guestRepository" />
		<constructor-arg ref="enciphermentService" />
		<constructor-arg ref="abstractDomainService" />
		<constructor-arg ref="accountService" />
	</bean>

	<bean name="documentFacade" class="org.linagora.linshare.core.facade.impl.DocumentFacadeImpl">
		<constructor-arg ref="userRepository" />
		<constructor-arg ref="signatureTransformer" />
		<constructor-arg ref="enciphermentService" />
		<constructor-arg ref="documentEntryService" />
		<constructor-arg ref="accountService" />
		<constructor-arg ref="documentEntryTransformer" />
		<constructor-arg ref="signatureService" />
		<constructor-arg ref="entryService" />
	</bean>
	
	<bean name="threadEntryFacade" class="org.linagora.linshare.core.facade.impl.ThreadEntryFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="threadService" />
		<constructor-arg ref="threadEntryService" />
		<constructor-arg ref="threadEntryTransformer" />
		<constructor-arg ref="tagService" />
		<constructor-arg ref="documentEntryService" />
		<constructor-arg ref="userService" />
	</bean>

	<bean name="searchDocumentFacade" class="org.linagora.linshare.core.facade.impl.SearchDocumentFacadeImpl">
		<constructor-arg ref="searchDocumentService" />
		<constructor-arg ref="documentEntryTransformer" />
		<constructor-arg ref="shareEntryTransformer" />
		<constructor-arg ref="accountService" />
		<constructor-arg ref="documentEntryService" />
	</bean>

	<bean name="shareFacade" class="org.linagora.linshare.core.facade.impl.ShareFacadeImpl">
		<constructor-arg ref="shareEntryTransformer" />
		<constructor-arg ref="userRepository" />
		<constructor-arg ref="notifierService" />
		<constructor-arg ref="mailContentBuildingService" />
		<constructor-arg ref="userService" />
		<constructor-arg ref="shareEntryService" />
		<constructor-arg ref="documentEntryTransformer" />
		<constructor-arg ref="documentEntryService" />
		<constructor-arg ref="abstractDomainService" />
		<constructor-arg ref="functionalityOldService" />
		<constructor-arg ref="anonymousShareEntryService" />
		<constructor-arg ref="signatureTransformer" />
	</bean>

	<bean name="shareExpiryDateFacade" class="org.linagora.linshare.core.facade.impl.ShareExpiryDateFacadeImpl">
		<constructor-arg ref="documentEntryService" />
		<constructor-arg ref="shareExpiryDateService" />
		<constructor-arg ref="accountService" />
	</bean>

	<bean name="securedUrlFacade" class="org.linagora.linshare.core.facade.impl.SecuredUrlFacadeImpl">
		<constructor-arg ref="anonymousUrlService" />
	</bean>

	<bean name="mimeTypeFacade" class="org.linagora.linshare.core.facade.impl.MimeTypeFacadeImpl">
		<constructor-arg ref="mimeTypeService" />
	</bean>

	<bean name="logEntryFacade" class="org.linagora.linshare.core.facade.impl.LogEntryFacadeImpl">
		<constructor-arg ref="logEntryRepository" />
		<constructor-arg ref="logEntryTransformer" />
		<constructor-arg ref="displayableLogEntryTransformer" />
		<constructor-arg ref="abstractDomainService" />
	</bean>

	<bean name="recipientFavouriteFacade" class="org.linagora.linshare.core.facade.impl.RecipientFavouriteFacadeImpl">
		<constructor-arg ref="userService" />
		<constructor-arg ref="recipientFavouriteService" />
	</bean>

	<!-- Definition of the transformers -->

	<bean name="documentEntryTransformer" class="org.linagora.linshare.core.domain.transformers.impl.DocumentEntryTransformer">
		<constructor-arg ref="documentEntryRepository" />
	</bean>
	
	<bean name="threadEntryTransformer" class="org.linagora.linshare.core.domain.transformers.impl.ThreadEntryTransformer">
		<constructor-arg ref="threadEntryRepository" />
	</bean>

	<bean name="signatureTransformer" class="org.linagora.linshare.core.domain.transformers.impl.SignatureTransformer">
		<constructor-arg ref="userTransformer" />
	</bean>

	<bean name="shareEntryTransformer" class="org.linagora.linshare.core.domain.transformers.impl.ShareEntryTransformer">
		<constructor-arg ref="shareEntryBusinessService" />
	</bean>
	<bean name="logEntryTransformer" class="org.linagora.linshare.core.domain.transformers.impl.LogEntryTransformer" />

	<bean name="displayableLogEntryTransformer" class="org.linagora.linshare.core.domain.transformers.impl.DisplayableLogEntryTransformer" />

	<bean name="userTransformer" class="org.linagora.linshare.core.domain.transformers.impl.UserTransformer">
		<constructor-arg ref="guestRepository" />
	</bean>

	<bean name="abstractDomainFacade" class="org.linagora.linshare.core.facade.impl.AbstractDomainFacadeImpl">
		<constructor-arg ref="abstractDomainService" />
		<constructor-arg ref="functionalityOldService" />
		<constructor-arg ref="userAndDomainMultiService" />
		<constructor-arg ref="userProviderService" />
		<constructor-arg ref="domainPolicyService" />
	</bean>

	<bean name="domainPolicyFacade" class="org.linagora.linshare.core.facade.impl.DomainPolicyFacadeImpl">
		<constructor-arg ref="domainPolicyService" />
		<constructor-arg ref="userService" />
	    <constructor-arg ref="abstractDomainService" />
	</bean>

	<bean name="functionalityFacade" class="org.linagora.linshare.core.facade.impl.FunctionalityFacadeImpl">
		<constructor-arg ref="functionalityOldService" />
		<constructor-arg ref="abstractDomainService" />
	</bean>

	<bean name="antiSamyPolicy" class="org.owasp.validator.html.Policy" factory-method="getInstance">
		<!-- type needed because there is also a getInstance(String) method -->
		<constructor-arg value="classpath:antisamy-strict.xml" type="java.io.InputStream" />
	</bean>
	
	<bean id="mailingListFacade" class="org.linagora.linshare.core.facade.impl.MailingListFacadeImpl">
		<constructor-arg ref="mailingListService" />
		<constructor-arg ref="userService" />
		<constructor-arg ref="abstractDomainService" />
		<constructor-arg ref="accountService" />
	</bean>
	
	<bean id="mailingListAdminFacade" class="org.linagora.linshare.core.facade.impl.MailingListAdminFacadeImpl">
		<constructor-arg ref="mailingListService" />
		<constructor-arg ref="userService" />
		<constructor-arg ref="abstractDomainService" />
	</bean>
	
	<!-- WEB SERVICES -->
	
	<bean id="wsDocumentFacade" class="org.linagora.linshare.core.facade.webservice.user.impl.DocumentFacadeImpl">
		<constructor-arg ref="documentEntryService" />
		<constructor-arg ref="accountService" />
	</bean>
	<bean id="wsShareFacade" class="org.linagora.linshare.core.facade.webservice.user.impl.ShareFacadeImpl">
		<constructor-arg ref="documentEntryService" />
		<constructor-arg ref="accountService" />
		<constructor-arg ref="shareFacade" />
		<constructor-arg ref="shareEntryService" />
	</bean>
	<bean id="wsThreadFacade" class="org.linagora.linshare.core.facade.webservice.user.impl.ThreadFacadeImpl">
		<constructor-arg ref="threadService" />
		<constructor-arg ref="accountService" />
		<constructor-arg ref="userService" />
		<constructor-arg ref="functionalityOldService" />
	</bean>
	<bean id="wsThreadMemberFacade" class="org.linagora.linshare.core.facade.webservice.user.impl.ThreadMemberFacadeImpl">
		<constructor-arg ref="threadService" />
		<constructor-arg ref="accountService" />
	</bean>
	<bean id="wsThreadEntryFacade" class="org.linagora.linshare.core.facade.webservice.user.impl.ThreadEntryFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="threadService" />
		<constructor-arg ref="threadEntryService" />
		<constructor-arg ref="functionalityOldService" />
	</bean>
	<bean id="wsUserFacade" class="org.linagora.linshare.core.facade.webservice.user.impl.UserFacadeImpl">
		<constructor-arg ref="userService" />
		<constructor-arg ref="accountService" />
		<constructor-arg ref="functionalityOldService" />
	</bean>

	<bean id="wsAdminGenericFacade" class="org.linagora.linshare.core.facade.webservice.admin.impl.AdminGenericFacadeImpl">
		<constructor-arg ref="accountService" />
	</bean>
	<bean id="wsAdminDomainPatternFacade" class="org.linagora.linshare.core.facade.webservice.admin.impl.DomainPatternFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="userProviderService" />
	</bean>
	<bean id="wsAdminLDAPConnectionFacade" class="org.linagora.linshare.core.facade.webservice.admin.impl.LDAPConnectionFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="userProviderService" />
	</bean>
	<bean id="wsAdminDomainFacade" class="org.linagora.linshare.core.facade.webservice.admin.impl.DomainFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="abstractDomainService" />
		<constructor-arg ref="userProviderService" />
	</bean>
	<bean id="wsAdminDomainPolicyFacade" class="org.linagora.linshare.core.facade.webservice.admin.impl.DomainPolicyFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="domainPolicyService" />
	</bean>
	<bean id="wsAdminThreadFacade" class="org.linagora.linshare.core.facade.webservice.admin.impl.ThreadFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="threadService" />
	</bean>
	<bean id="wsAdminThreadMemberFacade" class="org.linagora.linshare.core.facade.webservice.admin.impl.ThreadMemberFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="threadService" />
	</bean>
	<bean id="wsAdminUserRoleFacade" class="org.linagora.linshare.core.facade.webservice.admin.impl.UserRoleFacadeImpl">
		<constructor-arg ref="accountService" />
	</bean>
	<bean id="wsAdminUserFacade" class="org.linagora.linshare.core.facade.webservice.admin.impl.UserFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="userService" />
	</bean>
	<bean id="wsAdminFunctionalityFacade" class="org.linagora.linshare.core.facade.webservice.admin.impl.FunctionalityFacadeImpl">
		<constructor-arg ref="accountService" />
        <constructor-arg ref="abstractDomainService" />
        <constructor-arg ref="functionalityService" />
        <constructor-arg ref="functionalityOldService" />
	</bean>		
</beans>
