<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="    
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-autowire="no">


	<!-- 
		=============================================================================================================== 
		Other services
		=============================================================================================================== 
	-->

	<bean id="templating" class="org.linagora.linShare.view.tapestry.services.impl.MailTemplating">
    </bean>

    <!-- aperture  -->
    <bean id="mimeTypeMagicNumberDao"
		class="org.linagora.linShare.core.dao.apperture.MimeTypeMagicNumberImpl">
    </bean>
    
    <bean name="userService" class="org.linagora.linShare.core.service.impl.UserServiceImpl">
        <constructor-arg ref="userRepository"/>
        <constructor-arg ref="notifierService"/>
        <constructor-arg ref="LdapDao" />
        <constructor-arg ref="logEntryRepository" />
        <constructor-arg ref="guestRepository"/>
        <constructor-arg ref="parameterService"/>
        <constructor-arg ref="shareService"/>
    </bean>
    
    <bean id="clamavVirusScannerService" class="org.linagora.linShare.core.service.impl.ClamavVirusScannerServiceImpl">
    	<constructor-arg index="0" value="${virusscanner.clamav.host}"/>
    	<constructor-arg index="1" value="${virusscanner.clamav.port}"/>
    </bean>
    
    <bean id="mimeTypeService" class="org.linagora.linShare.core.service.impl.MimeTypeServiceImpl">
        <constructor-arg index="0" ref="allowedMimeTypeRepository" />
        <constructor-arg index="1" ref="mimeTypeMagicNumberDao" />
    </bean>

   	<bean id="documentService" class="org.linagora.linShare.core.service.impl.DocumentServiceImpl">
        <constructor-arg index="0" ref="documentRepository" />
        <constructor-arg index="1" ref="jackRabbitRepository"/>
        <constructor-arg index="2" ref="userRepository" />
        <constructor-arg index="3" ref="mimeTypeService" />
        <constructor-arg index="4" ref="parameterRepository" />
        <constructor-arg index="5" ref="shareService" />
        <constructor-arg index="6" ref="logEntryRepository" />
        <constructor-arg index="7" ref="clamavVirusScannerService" />
    </bean>
	     
    
    <bean id="shareExpiryDateService" class="org.linagora.linShare.core.service.impl.ShareExpiryDateServiceImpl">
    	<constructor-arg ref="parameterService"/>
    </bean>
	     
   
    <bean id="securedUrlService" class="org.linagora.linShare.core.service.impl.SecuredUrlServiceImpl">
    	<constructor-arg ref="securedUrlRepository"/>
    	<constructor-arg ref="parameterService"/>
    	<constructor-arg value="download"/>
    	<constructor-arg ref="logEntryRepository" />
    </bean>
    
   
    <bean id="shareService" class="org.linagora.linShare.core.service.impl.ShareServiceImpl">
        <constructor-arg index="0" ref="userRepository" />
        <constructor-arg index="1" ref="shareRepository"/>
        <constructor-arg index="2" ref="logEntryRepository" />
        <constructor-arg index="3" ref="parameterService" />
        <constructor-arg index="4" ref="securedUrlRepository" />
        <constructor-arg index="5" ref="documentRepository" />
        <constructor-arg index="6" ref="securedUrlService" />
        <constructor-arg index="7" ref="jackRabbitRepository" />
    </bean>

	   
    <bean id="searchDocumentService" class="org.linagora.linShare.core.service.impl.SearchDocumentServiceImpl">
        <constructor-arg ref="searchDocumentDao" />
        <constructor-arg ref="userRepository" />
 		<constructor-arg ref="documentAdapter"/>
    </bean>
    
    
    <bean id="parameterService" class="org.linagora.linShare.core.service.impl.ParameterServiceImpl">
        <constructor-arg index="0" ref="parameterRepository" />
    </bean>


    <bean name="notifierService" class="org.linagora.linShare.core.service.impl.MailNotifierServiceImpl">
        <constructor-arg index="0" value="${mail.smtp.host}"/>
        <constructor-arg index="1" value="${mail.smtp.sender}"/>
        <constructor-arg index="2" value="${mail.smtp.user}"/>
        <constructor-arg index="3" value="${mail.smtp.password}"/>
        <constructor-arg index="4" value="${mail.smtp.auth.needed}"/>
        <constructor-arg index="5" value="${mail.smtp.charset}"/>
        <constructor-arg index="6" value="${linshare.info.urlShare}"/>
    </bean>
    
    <bean name="enciphermentService" class="org.linagora.linShare.core.service.impl.EnciphermentServiceImpl">
        <constructor-arg ref="userService"/>
        <constructor-arg ref="documentService"/>
        <constructor-arg ref="documentRepository"/>
        <constructor-arg ref="logEntryRepository"/>
        <constructor-arg value="${linshare.encipherment.tmp.dir}"/>
    </bean>
    
    <bean name="recipientFavouriteService" class="org.linagora.linShare.core.service.impl.RecipientFavouriteServiceImpl">
        <constructor-arg ref="recipientFavouriteRepository"/>
    </bean>
    
</beans>
