<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd"
	default-autowire="no">

	<bean name="deleteGuestBatch"
		class="org.linagora.linshare.core.batches.impl.DeleteGuestBatchImpl">
		<constructor-arg ref="guestService" />
		<constructor-arg ref="accountRepository" />
	</bean>

	<bean name="markUserToPurgeBatch"
		class="org.linagora.linshare.core.batches.impl.MarkUserToPurgeBatchImpl">
		<constructor-arg ref="userService" />
		<constructor-arg ref="accountRepository" />
		<constructor-arg value="${job.users.delay.before.purge}" />
	</bean>

	<bean name="purgeUserBatch"
		class="org.linagora.linshare.core.batches.impl.PurgeUserBatchImpl">
		<constructor-arg ref="userService" />
		<constructor-arg ref="accountRepository" />
	</bean>

	<bean name="purgeDomainBatch"
		class="org.linagora.linshare.core.batches.impl.PurgeDomainBatchImpl">
		<constructor-arg ref="abstractDomainService" />
		<constructor-arg ref="accountRepository" />
	</bean>

	<bean name="undownloadedSharedDocumentsBatch"
		class="org.linagora.linshare.core.batches.impl.UndownloadedSharedDocumentsBatchImpl">
		<constructor-arg ref="shareEntryGroupService" />
		<constructor-arg ref="mailBuildingService" />
		<constructor-arg ref="notifierService" />
		<constructor-arg ref="logEntryService" />
		<constructor-arg ref="accountRepository" />
	</bean>

	<bean name="deleteShareEntryGroupBatch"
		class="org.linagora.linshare.core.batches.impl.DeleteShareEntryGroupBatchImpl">
		<constructor-arg ref="shareEntryGroupService" />
		<constructor-arg ref="accountRepository" />
	</bean>

	<bean name="deleteExpiredShareEntryBatch"
		class="org.linagora.linshare.core.batches.impl.DeleteExpiredShareEntryBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="shareEntryService" />
		<constructor-arg ref="functionalityReadOnlyService" />
		<constructor-arg ref="documentEntryService" />
	</bean>

	<bean name="deleteExpiredAnonymousShareEntryBatch"
		class="org.linagora.linshare.core.batches.impl.DeleteExpiredAnonymousShareEntryBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="anonymousShareEntryService" />
		<constructor-arg ref="functionalityReadOnlyService" />
		<constructor-arg ref="documentEntryService" />
	</bean>

	<bean name="deleteExpiredAnonymousUrlBatch"
		class="org.linagora.linshare.core.batches.impl.DeleteExpiredAnonymousUrlBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="anonymousUrlService" />
	</bean>

	<bean name="deleteExpiredDocumentEntryBatch"
		class="org.linagora.linshare.core.batches.impl.DeleteExpiredDocumentEntryBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="documentEntryService" />
		<constructor-arg ref="functionalityReadOnlyService" />
		<constructor-arg value="${job.document.cleaner.activation}" />
	</bean>

	<bean name="deleteMissingDocumentsBatch"
		class="org.linagora.linshare.core.batches.impl.DeleteMissingDocumentsBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="documentRepository" />
		<constructor-arg ref="documentEntryBusinessService" />
		<constructor-arg ref="documentEntryService" />
		<constructor-arg ref="workGroupDocumentService" />
		<constructor-arg ref="shareService" />
		<constructor-arg ref="fileDataStore" />
	</bean>

	<bean name="computeDocumentMimeTypeBatch"
		class="org.linagora.linshare.core.batches.impl.ComputeDocumentMimeTypeBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="documentRepository" />
		<constructor-arg ref="fileDataStore" />
		<constructor-arg ref="mimeTypeMagicNumberDao" />
	</bean>

	<bean name="enableUploadRequestBatch"
		class="org.linagora.linshare.core.batches.impl.EnableUploadRequestBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="uploadRequestService" />
		<constructor-arg ref="uploadRequestGroupBusinessService" />
	</bean>

	<bean name="closeExpiredUploadRequestBatch"
		class="org.linagora.linshare.core.batches.impl.CloseExpiredUploadRequestBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="uploadRequestService" />
		<constructor-arg ref="mailBuildingService" />
		<constructor-arg ref="notifierService" />
	</bean>

	<bean name="closeExpiredUploadRequestGroupBatch"
		class="org.linagora.linshare.core.batches.impl.CloseExpiredUploadRequestGroupBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="uploadRequestGroupService" />
	</bean>

	<bean name="notifyBeforeExpirationUploadRequestBatch"
		class="org.linagora.linshare.core.batches.impl.NotifyBeforeExpirationUploadRequestBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="mailBuildingService" />
		<constructor-arg ref="notifierService" />
		<constructor-arg ref="uploadRequestService" />
	</bean>

	<bean name="inconsistentUserBatch"
		class="org.linagora.linshare.core.batches.impl.InconsistentUserBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="inconsistentUserService" />
		<constructor-arg ref="userService" />
		<constructor-arg ref="abstractDomainService" />
	</bean>

	<bean name="checkIfUserStillInconsistentBatch"
		class="org.linagora.linshare.core.batches.impl.CheckIfUserStillInconsistentBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="inconsistentUserService" />
		<constructor-arg ref="userService" />
		<constructor-arg ref="abstractDomainService" />
	</bean>

	<bean name="documentGarbageCollectorBatch"
		class="org.linagora.linshare.core.batches.impl.DocumentGarbageCollectorBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="documentRepository" />
		<constructor-arg ref="documentEntryRepository" />
		<constructor-arg ref="uploadRequestEntryRepository" />
		<constructor-arg ref="documentEntryBusinessService" />
		<constructor-arg ref="mongoTemplate" />
		<constructor-arg ref="documentGarbageCollectorMongoRepository" />
		<constructor-arg ref="workGroupNodeMongoRepository" />
	</bean>

	<bean name="computeThumbnailBatch"
		class="org.linagora.linshare.core.batches.impl.ComputeThumbnailBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="documentRepository" />
		<constructor-arg ref="fileDataStore" />
		<constructor-arg ref="documentEntryBusinessService"/>
		<constructor-arg ref="thumbnailGeneratorBusinessService" />
	</bean>

	<bean name="batchRunner"
		class="org.linagora.linshare.core.runner.impl.BatchRunnerImpl">
	</bean>

	<bean name="warnOwnerAboutGuestExpirationBatch"
		class="org.linagora.linshare.core.batches.impl.WarnModeratorAboutGuestExpirationBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="guestRepository" />
		<constructor-arg ref="moderatorBusinessService" />
		<constructor-arg ref="mailBuildingService" />
		<constructor-arg ref="notifierService" />
		<constructor-arg ref="accountService" />
		<constructor-arg value="${linshare.warn.owner.about.guest.expiration.days.before}" />
	</bean>

	<bean name="warnSenderAboutShareExpirationWithoutDownloadBatch"
		class="org.linagora.linshare.core.batches.impl.WarnSenderAboutShareExpirationWithoutDownloadBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="shareEntryRepository" />
		<constructor-arg ref="mailBuildingService" />
		<constructor-arg ref="notifierService" />
		<constructor-arg value="${linshare.warn.owner.about.share.expiration.days.before}" />
	</bean>

	<bean name="shareNotifyUpcomingOutdatedSharesBatch"
		class="org.linagora.linshare.core.batches.impl.ShareNotifyUpcomingOutdatedSharesBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="shareEntryRepository" />
		<constructor-arg ref="functionalityReadOnlyService"/>
		<constructor-arg ref="notifierService" />
		<constructor-arg ref="mailBuildingService" />
	</bean>

	<bean name="anonymousShareNotifyUpcomingOudatedSharesBatch"
		class="org.linagora.linshare.core.batches.impl.AnonymousShareNotifyUpcomingOudatedSharesBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="anonymousShareEntryRepository" />
		<constructor-arg ref="functionalityReadOnlyService"/>
		<constructor-arg ref="notifierService" />
		<constructor-arg ref="mailBuildingService" />
	</bean>

	<bean name="synchronizeLDAPGroupsInWorkgroupsBatch"
		class="org.linagora.linshare.core.batches.impl.SynchronizeLDAPGroupsInWorkgroupsBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="ldapConnectionService" />
		<constructor-arg ref="groupLdapPatternService"/>
		<constructor-arg ref="ldapGroupSyncService" />
	</bean>
	
	<bean name="computeNewExpirationUnsharedDocumentBatch"
		class="org.linagora.linshare.core.batches.impl.ComputeNewExpirationUnsharedDocumentBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="documentEntryRepository" />
		<constructor-arg ref="abstractDomainRepository" />
		<constructor-arg ref="functionalityReadOnlyService"/>
	</bean>

	<bean name="synchronizeLDAPGroupsInWorkSpacesBatch"
		class="org.linagora.linshare.core.batches.impl.SynchronizeLDAPGroupsInWorkSpaceBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="ldapConnectionService" />
		<constructor-arg ref="groupLdapPatternService"/>
		<constructor-arg ref="ldapWorkSpaceSyncService" />
	</bean>

	<bean name="deleteOutdatedFavouriteRecipientBatch"
		class="org.linagora.linshare.core.batches.impl.DeleteOutdatedFavouriteRecipientBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="hibernateTemplate" />
		<constructor-arg ref="timeService" />
	</bean>

	<bean name="GDPRUserBatch"
		class="org.linagora.linshare.core.batches.impl.GDPRUserBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="timeService" />
		<constructor-arg ref="userRepository" />
		<constructor-arg ref="mongoTemplate" />
		<constructor-arg name="gdprActivated" value="${linshare.gdpr.enable}"/>
	</bean>

	<bean name="GDPRUploadRequestBatch"
		class="org.linagora.linshare.core.batches.impl.GDPRUploadRequestBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="timeService" />
		<constructor-arg ref="uploadRequestRepository" />
		<constructor-arg ref="uploadRequestUrlRepository" />
		<constructor-arg ref="contactRepository" />
		<constructor-arg ref="mongoTemplate" />
		<constructor-arg name="gdprActivated" value="${linshare.gdpr.enable}"/>
	</bean>

	<bean name="GDPRFavouriteRecipientBatch"
		class="org.linagora.linshare.core.batches.impl.GDPRFavouriteRecipientBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="timeService" />
		<constructor-arg ref="gdprExternalRecipientFavouriteRepository" />
		<constructor-arg ref="recipientFavouriteRepository" />
		<constructor-arg name="gdprActivated" value="${linshare.gdpr.enable}"/>
	</bean>

	<bean name="topSharesMailNotificationBatch"
		  class="org.linagora.linshare.core.batches.impl.TopSharesMailNotificationBatchImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="shareEntryService" />
		<constructor-arg ref="notifierService" />
		<constructor-arg ref="abstractDomainService" />
		<constructor-arg value="${job.topSharesNotification.recipient.mails}" />
	</bean>
</beans>
