<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"
	default-autowire="no">

	<bean id="wsAdminV5UserFacade" class="org.linagora.linshare.core.facade.webservice.adminv5.impl.UserFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="userService2" />
		<constructor-arg ref="abstractDomainService" />
		<constructor-arg ref="guestService" />
		<constructor-arg ref="quotaService" />
		<constructor-arg ref="userService" />
		<constructor-arg ref="functionalityReadOnlyService" />
		<constructor-arg ref="accountQuotaService" />
		<constructor-arg ref="domainPermissionBusinessService" />
		<constructor-arg ref="logEntryService" />
	</bean>

	<bean id="wsAdminV5SharedSpaceFacade" class="org.linagora.linshare.core.facade.webservice.adminv5.impl.SharedSpaceFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="sharedSpaceNodeService" />
	</bean>
	<bean id="wsAdminV5DomainFacade" class="org.linagora.linshare.core.facade.webservice.adminv5.impl.DomainFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="abstractDomainService" />
	</bean>
	<bean id="wsAdminV5LdapServerFacade" class="org.linagora.linshare.core.facade.webservice.adminv5.impl.LDAPServerFacadeImpl">
		<constructor-arg ref="ldapConnectionService" />
	</bean>
</beans>	