<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	default-autowire="no">

	<bean id="wsDelegationUserFacade" class="org.linagora.linshare.core.facade.webservice.delegation.impl.UserFacadeImpl">
		<constructor-arg ref="userService" />
		<constructor-arg ref="accountService" />
	</bean>

	<bean id="wsDelegationGenericFacade" class="org.linagora.linshare.core.facade.webservice.delegation.impl.DelegationGenericFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="userService" />
	</bean>

	<bean id="wsDelegationDocumentFacade" class="org.linagora.linshare.core.facade.webservice.delegation.impl.DocumentFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="userService" />
		<constructor-arg ref="documentEntryService" />
	</bean>

	<bean id="wsDelegationGuestFacade" class="org.linagora.linshare.core.facade.webservice.delegation.impl.GuestFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="userService" />
		<constructor-arg ref="guestService" />
	</bean>

	<bean id="wsDelegationThreadFacade" class="org.linagora.linshare.core.facade.webservice.delegation.impl.ThreadFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="userService" />
		<constructor-arg ref="threadService" />
		<constructor-arg ref="quotaService" />
	</bean>

	<!--  deprecated bean -->
	<bean id="wsDelegationThreadEntryFacade" class="org.linagora.linshare.core.facade.webservice.delegation.impl.ThreadEntryFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="userService" />
		<constructor-arg ref="threadService" />
		<constructor-arg ref="workGroupNodeService" />
		<constructor-arg ref="documentEntryService" />
	</bean>

	<bean id="wsDelegationThreadMemberFacade" class="org.linagora.linshare.core.facade.webservice.delegation.impl.ThreadMemberFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="userService" />
		<constructor-arg ref="threadService" />
	</bean>

	<bean id="wsDelegationShareFacade" class="org.linagora.linshare.core.facade.webservice.delegation.impl.ShareFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="userService" />
		<constructor-arg ref="shareService" />
	</bean>

	<bean id="wsDelegationAsyncTaskFacade" class="org.linagora.linshare.core.facade.webservice.delegation.impl.AsyncTaskFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="userService" />
		<constructor-arg ref="asyncTaskService" />
	</bean>

	<bean id="wsDelegationShareEntryGroupFacade" class="org.linagora.linshare.core.facade.webservice.delegation.impl.ShareEntryGroupFacadeImpl">
		<constructor-arg ref="accountService" />
		<constructor-arg ref="userService" />
		<constructor-arg ref="shareEntryGroupService" />
	</bean>

</beans>
