<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/transports/http/configuration
	http://cxf.apache.org/schemas/configuration/http-conf.xsd
	http://cxf.apache.org/jaxws
	http://cxf.apache.org/schemas/jaxws.xsd
	http://cxf.apache.org/jaxrs
	http://cxf.apache.org/schemas/jaxrs.xsd">
	<description>User v1 api exposed on /webservice/rest/user endpoint.</description>

	<!-- cxf -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<!-- REST  -->

	<bean id="userEnumRestService" class="org.linagora.linshare.webservice.userv1.impl.EnumRestServiceImpl">
	</bean>

	<bean id="userAuthenticationRestService" class="org.linagora.linshare.webservice.userv1.impl.AuthenticationRestServiceImpl">
		<constructor-arg ref="wsUserFacade" />
	</bean>

	<bean id="userDocumentRestService" class="org.linagora.linshare.webservice.userv1.impl.DocumentRestServiceImpl">
		<constructor-arg ref="wsDocumentFacade" />
		<constructor-arg ref="wsDocumentAsyncFacade" />
		<constructor-arg ref="wsAsyncTaskFacade" />
		<constructor-arg ref="taskExecutor" />
		<constructor-arg ref="wsAccountQuotaFacade" />
		<constructor-arg value="${linshare.rest.files.size.validation}" />
	</bean>

	<bean id="userThreadMemberRestService" class="org.linagora.linshare.webservice.userv1.impl.ThreadMemberRestServiceImpl">
<!-- 		<constructor-arg ref="wsThreadFacade" /> -->
		<constructor-arg ref="wsThreadMemberFacade" />
	</bean>

	<bean id="userThreadRestService" class="org.linagora.linshare.webservice.userv1.impl.ThreadRestServiceImpl">
		<constructor-arg ref="wsThreadFacade" />
	</bean>

	<bean id="userThreadEntryRestService" class="org.linagora.linshare.webservice.userv1.impl.ThreadEntryRestServiceImpl">
		<constructor-arg ref="wsWorkGroupNodeFacade" />
		<constructor-arg ref="wsThreadEntryAsyncFacade" />
		<constructor-arg ref="wsAsyncTaskFacade" />
		<constructor-arg ref="taskExecutor" />
		<constructor-arg ref="wsAccountQuotaFacade" />
		<constructor-arg value="${linshare.rest.files.size.validation}" />
	</bean>

	<bean id="userGuestRestService" class="org.linagora.linshare.webservice.userv1.impl.GuestRestServiceImpl">
		<constructor-arg ref="wsGuestFacade" />
	</bean>

	<bean id="userShareRestService" class="org.linagora.linshare.webservice.userv1.impl.ShareRestServiceImpl">
		<constructor-arg ref="wsShareFacade" />
	</bean>

	<bean id="userRestService" class="org.linagora.linshare.webservice.userv1.impl.UserRestServiceImpl">
		<constructor-arg ref="wsUserFacade" />
		<constructor-arg ref="wsAutoCompleteFacade" />
	</bean>	

	<bean id="userReceivedShareRestService" class="org.linagora.linshare.webservice.userv1.impl.ReceivedShareRestServiceImpl">
		<constructor-arg ref="wsShareFacade" />
	</bean>

	<bean id="userLogRestService" class="org.linagora.linshare.webservice.userv1.impl.LogRestServiceImpl">
		<constructor-arg ref="wsLogEntryFacade" />
	</bean>

	<bean id="userFunctionalityRestService" class="org.linagora.linshare.webservice.userv1.impl.FunctionalityRestServiceImpl">
		<constructor-arg ref="wsFunctionalityFacade" />
	</bean>

	<bean id="userShareEntryGroupRestService" class="org.linagora.linshare.webservice.userv1.impl.ShareEntryGroupRestServiceImpl">
		<constructor-arg ref="wsShareEntryGroupFacade" />
	</bean>

	<bean id="userMailingListRestService" class="org.linagora.linshare.webservice.userv1.impl.MailingListRestServiceImpl">
		<constructor-arg ref="wsMailingListFacade" />
	</bean>

	<bean id="userMimeTypeRestService" class="org.linagora.linshare.webservice.userv1.impl.MimeTypeRestServiceImpl">
		<constructor-arg ref="wsMimeTypeFacade" />
	</bean>

	<bean id="userAutoCompleteRestService" class="org.linagora.linshare.webservice.userv1.impl.AutoCompleteRestServiceImpl">
		<constructor-arg ref="wsAutoCompleteFacade" />
	</bean>

<!-- For now, upload request UI is not implement in linshare v2. Audit and notifications are not implemented too.
	<bean id="userUploadRequestRestService" class="org.linagora.linshare.webservice.userv1.impl.UploadRequestRestServiceImpl">
		<constructor-arg ref="wsUploadRequestFacade" />
	</bean>

	<bean id="userUploadRequestGroupRestService" class="org.linagora.linshare.webservice.userv1.impl.UploadRequestGroupRestServiceImpl">
		<constructor-arg ref="wsUploadRequestGroupFacade"/>
	</bean>

	<bean id="userUploadRequestTemplateRestService" class="org.linagora.linshare.webservice.userv1.impl.UploadRequestTemplateRestServiceImpl">
		<constructor-arg ref="wsUploadRequestTemplateFacade"/>
	</bean>
 -->

	<jaxrs:server id="restContainer" address="/rest/user">
		<jaxrs:serviceBeans>
			<ref bean="userEnumRestService" />
			<ref bean="userAuthenticationRestService" />
			<ref bean="userDocumentRestService" />
			<ref bean="userThreadRestService" />
			<ref bean="userThreadMemberRestService" />
			<ref bean="userThreadEntryRestService" />
			<ref bean="userGuestRestService" />
			<ref bean="userShareRestService" />
			<ref bean="userRestService" />
			<ref bean="userReceivedShareRestService" />
			<ref bean="userLogRestService" />
			<ref bean="userFunctionalityRestService" />
			<ref bean="userShareEntryGroupRestService" />
			<ref bean="userMailingListRestService" />
			<ref bean="userMimeTypeRestService" />
			<ref bean="userAutoCompleteRestService" />
<!-- 			<ref bean="userUploadRequestRestService" /> -->
<!-- 			<ref bean="userUploadRequestGroupRestService" /> -->
<!-- 			<ref bean="userUploadRequestTemplateRestService" /> -->
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="json" value="application/json" />
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<jaxrs:providers>
			<!--  ExceptionMappers. -->
			<ref bean="businessExceptionMapper" />
			<ref bean="genericExceptionMapper" />
			<ref bean="webApplicationExceptionMapper" />
			<ref bean="illegalArgumentExceptionMapper" />
			<ref bean="jaxrsNoCacheFilter" />
			<ref bean="jsonParseExceptionMapper" />
			<ref bean="unrecognizedPropertyExceptionMapper" />
			<!-- Json provider for serialisation -->
			<ref bean="jsonProvider" />
		</jaxrs:providers>
		<jaxrs:features>
<!-- 			<cxf:logging /> -->
		</jaxrs:features>
		<jaxrs:inInterceptors>
			<!-- For debug only : print input message -->
<!-- 			<ref bean="logInbound" /> -->
			<!-- This interceptor is designed to store some context properties in message exchange context for timingOutInterceptor -->
			<ref bean="timingInInterceptor" />
		</jaxrs:inInterceptors>
		<jaxrs:outInterceptors>
			<!-- For debug only : print output  message -->
<!--             	<ref bean="logOutbound" /> -->
			<!-- This interceptor is designed compute request execution time.-->
			<ref bean="timingOutInterceptor" />
		</jaxrs:outInterceptors>
		<jaxrs:inFaultInterceptors>
		</jaxrs:inFaultInterceptors>
		<jaxrs:outFaultInterceptors>
		</jaxrs:outFaultInterceptors>
	</jaxrs:server>
</beans>
