<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxrs
	http://cxf.apache.org/schemas/jaxrs.xsd
	http://cxf.apache.org/core
	http://cxf.apache.org/schemas/core.xsd
	">

	<!-- cxf -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />


	<!-- REST -->
	<bean id="adminv4AuthenticationRestService" class="org.linagora.linshare.webservice.adminv4.impl.AuthenticationRestServiceImpl">
		<constructor-arg ref="wsAdminGenericFacade" />
		<constructor-arg ref="wsAdminUserFacade" />
	</bean>
	
	<bean id="adminv4UserRestService" class="org.linagora.linshare.webservice.adminv4.impl.UserRestServiceImpl">
		<constructor-arg ref="wsAdminUserFacade" />
		<constructor-arg ref="wsAdminAutocompleteFacade" />
	</bean>
	
	<bean id="adminv4TechnicalAccountRestService" class="org.linagora.linshare.webservice.adminv4.impl.TechnicalAccountRestServiceImpl">
		<constructor-arg ref="wsAdminTechnicalAccountFacade" />
	</bean>

	<jaxrs:server id="restAdminV4Container" address="/rest/admin/v4">
		<jaxrs:serviceBeans>
			<ref bean="adminv4AuthenticationRestService" />
			<ref bean="adminLdapConnectionRestService" />
			<ref bean="adminDomainPatternRestService" />
			<ref bean="adminDomainPolicyRestService" />
			<ref bean="adminDomainRestService" />
			<ref bean="adminFunctionalityRestService" />
			<ref bean="adminThreadRestService" />
			<ref bean="adminMailingListRestService" />
			<ref bean="adminThreadMemberRestService" />
			<ref bean="adminv4UserRestService" />
			<ref bean="adminLogRestService" />
			<ref bean="adminEnumRestService" />
			<ref bean="adminMailConfigRestService" />
			<ref bean="adminMailLayoutRestService" />
			<ref bean="adminMailFooterRestService" />
			<ref bean="adminMailFooterLangRestService" />
			<ref bean="adminMailContentRestService" />
			<ref bean="adminMailContentLangRestService" />
			<ref bean="adminMimePolicyRestService" />
			<ref bean="adminMimeTypeRestService" />
			<ref bean="adminv4TechnicalAccountRestService" />
			<ref bean="adminTechnicalAccountPermissionRestService" />
			<ref bean="adminUploadRequestRestService" />
			<ref bean="adminUploadPropositionFilterRestService" />
			<ref bean="adminWelcomeMessagesRestService" />
			<ref bean="adminSystemConfigurationRestService" />
			<ref bean="adminMailActivationRestService" />
			<ref bean="adminAuditLogEntryRestService" />
			<ref bean="adminStatisticRestService" />
			<ref bean="adminDomainQuotaRestService" />
			<ref bean="adminContainerQuotaRestService" />
			<ref bean="adminAccountQuotaRestService" />
			<ref bean="adminUpgradeTaskRestService" />
			<ref bean="adminPublicKeyRestService"/>
			<ref bean="adminJwtPermanentTokenRestService"/>
			<ref bean="adminSharedSpaceMemberRestService"/>
			<ref bean="adminSharedSpaceRestService"/>
			<ref bean="adminSharedSpaceNodesLegacyRestService"/>
			<ref bean="adminSharedSpaceRoleRestService"/>
			<ref bean="adminBasicStatisticRestService" />
			<ref bean="adminExceptionStatisticRestService" />
			<ref bean="adminAdvancedStatisticRestService" />
			<ref bean="adminGroupPatternRestService"/>
			<ref bean="adminMailAttachmentRestService" />
			<ref bean="adminGuestRestService" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="json" value="application/json" />
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<jaxrs:providers>
			<!--  ExceptionMappers. -->
			<ref bean="illegalArgumentExceptionMapper" />
			<ref bean="businessExceptionMapper" />
			<ref bean="genericExceptionMapper" />
			<ref bean="webApplicationExceptionMapper" />
			<ref bean="jsonParseExceptionMapper" />
			<ref bean="unrecognizedPropertyExceptionMapper" />
			<ref bean="dataIntegrityViolationExceptionMapper" />
			<ref bean="mismatchedInputExceptionMapper" />
			<ref bean="nullPointerExceptionMapper" />
			<!-- Json provider for serialisation -->
			<ref bean="jsonProvider" />
		</jaxrs:providers>
		<jaxrs:features>
			<bean class="org.apache.cxf.jaxrs.openapi.OpenApiFeature">
				<property name="useContextBasedConfig" value="true"/>
				<property name="scan" value="false"/>
				<property name="scanKnownConfigLocations" value="false"/>
				<property name="configLocation" value="openapi-configuration-adminv4.json"/>
				<property name="supportSwaggerUi" value="true"/>
			</bean>
<!-- 			<cxf:logging /> -->
		</jaxrs:features>
		<jaxrs:inInterceptors>
			<!-- For debug only : print input message -->
<!-- 			<ref bean="logInbound" /> -->
			<!-- This interceptor is designed to store some context properties in message exchange context for timingOutInterceptor -->
			<ref bean="timingInInterceptor" />
		</jaxrs:inInterceptors>
		<jaxrs:outInterceptors>
			<!-- For debug only : print output  message -->
<!--             	<ref bean="logOutbound" /> -->
			<!-- This interceptor is designed compute request execution time.-->
			<ref bean="timingOutInterceptor" />
		</jaxrs:outInterceptors>
		<jaxrs:inFaultInterceptors>
		</jaxrs:inFaultInterceptors>
		<jaxrs:outFaultInterceptors>
		</jaxrs:outFaultInterceptors>
	</jaxrs:server>
</beans>
