<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://cxf.apache.org/jaxws
       http://cxf.apache.org/schemas/jaxws.xsd
       http://cxf.apache.org/jaxrs
       http://cxf.apache.org/schemas/jaxrs.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://cxf.apache.org/core
       http://cxf.apache.org/schemas/core.xsd">

	<!-- cxf -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<!-- SOAP -->

	<bean id="soapExceptionInterceptor" class="org.linagora.linshare.webservice.interceptor.SoapExceptionInterceptor" />

	<cxf:bus>
		<cxf:features>
			<!-- Could be uncommented : inbound cxf messages and outbound cxf messages are written to stdout. -->
			<!-- <cxf:logging /> -->
		</cxf:features>

		<cxf:inInterceptors />
		<cxf:outInterceptors />
		<cxf:outFaultInterceptors>
			<ref bean="soapExceptionInterceptor" />
		</cxf:outFaultInterceptors>
	</cxf:bus>
	
	
	<!-- REST  -->

	<bean id="logInbound" class="org.apache.cxf.interceptor.LoggingInInterceptor" />
	<bean id="logOutbound" class="org.apache.cxf.interceptor.LoggingOutInterceptor" />

	<!-- enable json with jackson (not the default jettison) -->
	<bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />

	<!--  ExceptionMappers. -->
	<bean id="businessExceptionMapper" class="org.linagora.linshare.webservice.interceptor.BusinessExceptionMapper" />
	<bean id="illegalArgumentExceptionMapper" class="org.linagora.linshare.webservice.interceptor.IllegalArgumentExceptionMapper" />
	<bean id="genericExceptionMapper" class="org.linagora.linshare.webservice.interceptor.GenericExceptionMapper" />
	<bean id="webApplicationExceptionMapper" class="org.apache.cxf.jaxrs.impl.WebApplicationExceptionMapper">
		<property name="printStackTrace" value="false" />
	</bean>
	<bean id="jsonParseExceptionMapper" class="org.linagora.linshare.webservice.interceptor.JsonParseExceptionMapper" />
	<bean id="unrecognizedPropertyExceptionMapper" class="org.linagora.linshare.webservice.interceptor.UnrecognizedPropertyExceptionMapper" />
	<!-- Timing interceptors.  -->
	<bean id="timingInInterceptor" class="org.linagora.linshare.webservice.interceptor.TimingInInterceptor" />
	<bean id="timingOutInterceptor" class="org.linagora.linshare.webservice.interceptor.TimingOutInterceptor" />

	<bean id="jaxrsNoCacheFilter" class="org.linagora.linshare.webservice.filters.NoCacheFilter"/>
	
	<!-- Code legacy -->
	<!-- Compatibility thunderbird -->
	<bean id="pluginCompatibilityRestServiceV1" class="org.linagora.linshare.webservice.legacy.impl.PluginCompatibilityRestServiceImpl">
		<constructor-arg ref="wsShareFacade" />
		<constructor-arg ref="wsDocumentFacade" />
		<constructor-arg ref="wsAccountQuotaFacade" />
	</bean>

	<jaxrs:server id="legacyContainer" address="/rest">
		<jaxrs:serviceBeans>
			<ref bean="pluginCompatibilityRestServiceV1" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="json" value="application/json" />
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<jaxrs:providers>
			<!--  ExceptionMappers. -->
			<ref bean="businessExceptionMapper" />
			<ref bean="genericExceptionMapper" />
			<ref bean="webApplicationExceptionMapper" />
			<ref bean="illegalArgumentExceptionMapper" />
			<!-- Json provider for serialisation -->
			<ref bean="jsonProvider" />
		</jaxrs:providers>
		<jaxrs:features>
<!-- 			<cxf:logging /> -->
		</jaxrs:features>
		<jaxrs:inInterceptors>
			<!-- For debug only : print input message -->
<!-- 			<ref bean="logInbound" /> -->
			<!-- This interceptor is designed to store some context properties in message exchange context for timingOutInterceptor -->
			<ref bean="timingInInterceptor" />
		</jaxrs:inInterceptors>
		<jaxrs:outInterceptors>
			<!-- For debug only : print output  message -->
<!--             	<ref bean="logOutbound" /> -->
			<!-- This interceptor is designed compute request execution time.-->
			<ref bean="timingOutInterceptor" />
		</jaxrs:outInterceptors>
		<jaxrs:inFaultInterceptors>
		</jaxrs:inFaultInterceptors>
		<jaxrs:outFaultInterceptors>
		</jaxrs:outFaultInterceptors>
	</jaxrs:server>
</beans>
