<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-autowire="no">

	<!-- **************************************************************** -->
	<!--Start Open DS -->
	<!-- **************************************************************** -->
	<bean id="opends" class="org.linagora.opends.LdapServer" init-method="start"/>

</beans>
