<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Un utilisateur anonyme a téléchargé des fichiers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Language" content="fr-FR" />
<style type="text/css">
pre {
	margin-top: .25em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: blue;
}
ul {
	margin-top: .25em;
	padding-left: 1.5em;
}
</style>
</head>

<body>
	
	<img src="cid:image.part.1@linshare.org" /><br/><br/> 

	Bonjour ${firstName} ${lastName},<br/>
	<br/>

	Un utilisateur anonyme ${email} a téléchargé une archive des fichiers que vous avez mis en partage.<br/>
	<br/>

	The <strong>LinShare</strong> dream team

</body>
</html>
