<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Un utilisateur anonyme a téléchargé des fichiers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Language" content="fr-FR" />
<style type="text/css">
pre {
	margin-top: .25em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: blue;
}
ul {
	margin-top: .25em;
	padding-left: 1.5em;
}
</style>
</head>

<body>
	
	<img src="cid:image.part.1@linshare.org" /><br/><br/> 

	Bonjour ${firstName} ${lastName},<br/>
	<br/>

	${recipientFirstName} ${recipientLastName} a téléchargé le(s) fichier(s) suivant que vous lui avez mis en partage via LinShare&nbsp;:
	<ul>
		${documentNames}
	</ul>
	<hr/>
	<a href="http://linshare.org/" title="LinShare"><strong>LinShare</strong></a> - Logiciel libre de partage de fichiers sécurisé

</body>
</html>
