<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Your account on LinShare has been created</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Language" content="en-US" />
<style type="text/css">
pre {
	margin-top: .25em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: blue;
}
ul {
	margin-top: .25em;
	padding-left: 1.5em;
}
code {
	font-size: 16px;
}
</style>
</head>

<body>

	<img src="cid:image.part.1@linshare.org" /><br/><br/> 

	<strong>Personal message from ${ownerCN}, via LinShare</strong>
	<pre>${message}</pre>
	<hr/>

	Welcome ${firstName} ${lastName},<br/>
	<br/>

	<strong>${ownerCN}</strong> invite you to use LinShare.<br/>
	<br/>

	You can now login to this address: <a href="${url}">${url}</a><br/>
	<br/>

	Your LinShare account:
	<ul>
		<li>Login: <code>${mail}</code> &nbsp;(your e-mail address)</li>
		<li>Password: <code>${password}</code></li>
	</ul>

	The <strong>LinShare</strong> dream team

</body>
</html>
