<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
<title>Votre compte LinShare a été créé</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Language" content="fr-FR" />
<style type="text/css">
pre {
	margin-top: .25em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: blue;
}
ul {
	margin-top: .25em;
	padding-left: 1.5em;
}
code {
	font-size: 16px;
}
</style>
</head>

<body>

	<img src="cid:image.part.1@linshare.org" /><br/><br/> 

	<strong>Message personnel de ${ownerCN}, via LinShare</strong>
	<pre>${message}</pre>
	<hr/>

	Bienvenue ${firstName} ${lastName},<br/>
	<br/>

	<strong>${ownerCN}</strong> vous invite à utiliser LinShare.<br/>
	<br/>

	Vous pouvez maintenant vous connecter à cette adresse&nbsp;: <a href="${url}">${url}</a><br/>
	<br/>

	Votre compte LinShare&nbsp;:
	<ul>
		<li>Identifiant&nbsp;: <code>${mail}</code> &nbsp;(votre adresse électronique)</li>
		<li>Mot de passe&nbsp;: <code>${password}</code></li>
	</ul>

	The <strong>LinShare</strong> dream team

</body>
</html>
