<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
<title>Un utilisateur vous a déposé des fichiers en partage</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Language" content="fr-FR" />
<style type="text/css">
pre {
	margin-top: .25em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: blue;
}
ul {
	margin-top: .25em;
	padding-left: 1.5em;
}
</style>
</head>

<body>
	
	<img src="cid:image.part.1@linshare.org" /><br/><br/> 

	<strong>Message personnel de ${firstName} ${lastName}, via LinShare</strong>
	<pre>${message}</pre>
	<hr/>

	Bonjour,<br/>
	<br/>

	<strong>${firstName} ${lastName}</strong> a mis en partage ${number} fichier(s) à votre attention&nbsp;:
	<ul>
		${documentNames}
	</ul>

	Pour télécharger les fichiers, cliquez sur le lien ou copiez le dans votre navigateur&nbsp;: <a href="${url}${urlparam}">${url}${urlparam}</a><br/>
	<br/>

	Le mot de passe à utiliser est&nbsp;: <code>${password}</code><br/>

	<hr/>
	<a href="http://linshare.org/" title="LinShare"><strong>LinShare</strong></a> - Logiciel libre de partage de fichiers sécurisé
</body>
</html>
