.spinner {
    display:inline-block;
    vertical-align:middle;
    height:18px;
    width:18px;
    margin:0 25px;
    position:relative;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border:3px solid rgba(0,174,239,.15);
    border-radius:100%;
}

.spinner:before {
    content:"";
    display:block;
    position:absolute;
    left:-3px;
    top:-3px;
    height:100%;
    width:100%;
    border-top:3px solid rgba(0,174,239,.8);
    border-left:3px solid transparent;
    border-bottom:3px solid transparent;
    border-right:3px solid transparent;
    border-radius:70%;
}

.qq-upload-list li {
    margin: 0;
    padding: 9px;
    line-height: 20px;
    font-size: 16px;
    background-color: #FFF0BD;
    margin-top: 3px;
    border-radius: 12px;
}

.qq-upload-list li.qq-upload-fail {
    background-color: #C75B47;
    color: #FFFFFF;
    border-radius: 12px;
    margin-top: 3px;
}

.qq-upload-list li.qq-upload-success {
/*     background-color: #5DA30C; */
    background-color: #72A578;
    color: #FFFFFF;
    border-radius: 12px;
    margin-top: 3px;
}

.ls-async-processing-spinner {
    display: inline-block;
    background: url("../images/icons/processing.gif");
    width: 20px;
    height: 20px;
    margin-left: 15px;
    vertical-align: middle;
}

.qq-upload-list li.qq-upload-async-check {
    background-color: #E6EFC2;
    color: #000000;
    border-radius: 12px;
    margin-top: 3px;
}

.qq-upload-list li.qq-upload-async-progress {
    background-color: #5DA30C;
    color: #FFFFFF;
}

.qq-upload-list li.qq-upload-async-success {
    background-color: #72A578;
    color: #FFFFFF;
    border-radius: 12px;
    margin-top: 3px;
}

#formShareSubmit:hover, #formShareSubmit a:focus, #formShareSubmit a:active {
    color: #FFFFFF !important;
}

.ls-async-processing-text{
    float: right;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
