.spinner {
    display:inline-block;
    vertical-align:middle;
    height:18px;
    width:18px;
    margin:0 25px;
    position:relative;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border:3px solid rgba(0,174,239,.15);
    border-radius:100%;
}

.spinner:before {
    content:"";
    display:block;
    position:absolute;
    left:-3px;
    top:-3px;
    height:100%;
    width:100%;
    border-top:3px solid rgba(0,174,239,.8);
    border-left:3px solid transparent;
    border-bottom:3px solid transparent;
    border-right:3px solid transparent;
    border-radius:100%;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
