


/*#sideBar {
	min-height: 20em;
	margin-bottom: 0em;
	padding-bottom: 0em;
}*/




/***************************************************************************
* LAYOUT (local)
*/

/*--------------------------------------------------------------------------
* BODY > Menu bar > Content
*/

#menuBar {
	margin-top: 0px;
}

/* Tab : Left background */
#menuBar li a {
	line-height: 17px;
}

/* Tab : Right background, and Text */
#menuBar li a span {
	border: none;
	border-top: 3px solid #666A6D;
}
#menuBar li a:hover span,
#menuBar li a:active span {
	border-top: 3px solid #848484;
}
#menuBar li a.menu-labelhighlight span {
	border: 3px solid #FFF;
}
#menuBar li a.menu-labelhighlight:hover span,
#menuBar li a.menu-labelhighlight:active span {
	border: 3px solid #FFF;
}



/***************************************************************************
* COMPONENTS
*/

/*--------------------------------------------------------------------------
* Components > Tables
*/

table.t-data-grid {
	border: 3px solid silver !important;
}

table.t-data-grid thead tr th {		/* Impossible to style 'tr' tags (5.5, 6, 7) */
	background-color: #5A93AF !important;
}

/*--------------------------------------------------------------------------
* Components > Sorter  (Files, Users)
*/

#pageContent #list form#form label {
	position: relative;
	bottom: .25em;
}



/***************************************************************************
* PAGES
*/

#files #list td.fileProperties {
	width: 430px !important;
}
#files #list td.fileProperties div {
	width: 430px !important;
}



/***************************************************************************
* CONTENTS
*/

/*--------------------------------------------------------------------------
* Contents > MIME Types (files)
*/

/* MSIE: Selectors works only with IE7+ (not IE6, not IE5.5) */

/*** Generic file extensions ***/

#content a.fileName {		/* Keep it */
	content: normal;
	padding-left: 22px;
	background: transparent url("../images/icons/mimetype/file.png") no-repeat scroll left center;
}

#content a.fileName.image_bmp,
#content a.fileName.image_cis-cod,
#content a.fileName.image_gif,
#content a.fileName.image_ief,
#content a.fileName.image_jpeg,
#content a.fileName.image_pipeg,
#content a.fileName.image_png,
#content a.fileName.image_svg__xml,
#content a.fileName.image_tiff,
#content a.fileName.image_x-cmu-raster,
#content a.fileName.image_x-cmx,
#content a.fileName.image_x-icon,
#content a.fileName.image_x-portable-anymap,
#content a.fileName.image_x-portable-bitmap,
#content a.fileName.image_x-portable-graymap,
#content a.fileName.image_x-portable-pixmap,
#content a.fileName.image_x-rgb,
#content a.fileName.image_x-xbitmap,
#content a.fileName.image_x-xpixmap,
#content a.fileName.image_x-xwindowdump {
	background-image: url("../images/icons/mimetype/image.png");	
}
#content a.fileName.video_mpeg,
#content a.fileName.video_quicktime,
#content a.fileName.video_x-la-asf,
#content a.fileName.video_x-ms-asf,
#content a.fileName.video_x-msvideo,
#content a.fileName.video_x-sgi-movie {
	background-image: url("../images/icons/mimetype/video.png");
}
#content a.fileName.audio_basic,
#content a.fileName.audio_mid,
#content a.fileName.audio_mpeg,
#content a.fileName.audio_x-aiff,
#content a.fileName.audio_x-mpegurl,
#content a.fileName.audio_x-pn-realaudio,
#content a.fileName.audio_x-wav {
	background-image: url("../images/icons/mimetype/audio.png");
}


/*** Specific file extensions ***/

/* MIME types already known in LinShare (with specific icon) */

#content a.fileName.audio_x-aiff {
	background-image: url("../images/icons/mimetype/aiff.png");
}
#content a.fileName.application_bzip2 {
	background-image: url("../images/icons/mimetype/bz2.png");
}
#content a.fileName.application_x-chm {
	background-image: url("../images/icons/mimetype/chm.png");
}
#content a.fileName.text_css {
	background-image: url("../images/icons/mimetype/css.png");
}
#content a.fileName.video_mp4 {
	background-image: url("../images/icons/mimetype/divx.png");
}
#content a.fileName.application_vnd_-_ms-word,
#content a.fileName.application_vnd_-_openxmlformats-officedocument_-_wordprocessingml {
	background-image: url("../images/icons/mimetype/doc.png");
}
#content a.fileName.message_rfc822 {
	background-image: url("../images/icons/mimetype/eml.png");
}
#content a.fileName.image_gif {
	background-image: url("../images/icons/mimetype/gif.png");
}
#content a.fileName.application_gzip {
	background-image: url("../images/icons/mimetype/gz.png");
}
#content a.fileName.application_winhlp {
	background-image: url("../images/icons/mimetype/hlp.png");
}
#content a.fileName.text_html,
#content a.fileName.application_xhtml__xml {
	background-image: url("../images/icons/mimetype/html.png");
}
#content a.fileName.image_jpeg {
	background-image: url("../images/icons/mimetype/jpg.png");
}
#content a.fileName.text_javascript {
	background-image: url("../images/icons/mimetype/js.png");
}
#content a.fileName.application_x-freemind {
	background-image: url("../images/icons/mimetype/mm.png");
}
#content a.fileName.video_quicktime {
	background-image: url("../images/icons/mimetype/mov.png");
}
#content a.fileName.audio_mpeg {
	background-image: url("../images/icons/mimetype/mp3.png");
}
#content a.fileName.video_mpeg {
	background-image: url("../images/icons/mimetype/mpg.png");
}
#content a.fileName.application_vnd_-_oasis_-_opendocument_-_formula,
#content a.fileName.application_vnd_-_sun_-_xml_-_math {
	background-image: url("../images/icons/mimetype/odf.png");
}
#content a.fileName.application_vnd_-_oasis_-_opendocument_-_graphics,
#content a.fileName.application_vnd_-_sun_-_xml_-_draw {
	background-image: url("../images/icons/mimetype/odg.png");
}
#content a.fileName.application_vnd_-_oasis_-_opendocument_-_presentation,
#content a.fileName.application_vnd_-_sun_-_xml_-_impress {
	background-image: url("../images/icons/mimetype/odp.png");
}
#content a.fileName.application_vnd_-_oasis_-_opendocument_-_spreadsheet,
#content a.fileName.application_vnd_-_sun_-_xml_-_calc {
	background-image: url("../images/icons/mimetype/ods.png");
}
#content a.fileName.application_vnd_-_oasis_-_opendocument_-_text,
#content a.fileName.application_vnd_-_sun_-_xml_-_writer {
	background-image: url("../images/icons/mimetype/odt.png");
}
#content a.fileName.application_x-ogg {
	background-image: url("../images/icons/mimetype/ogg.png");
}
#content a.fileName.application_pdf {
	background-image: url("../images/icons/mimetype/pdf.png");
}
#content a.fileName.image_png {
	background-image: url("../images/icons/mimetype/png.png");
}
#content a.fileName.application_vnd_-_ms-powerpoint,
#content a.fileName.application_vnd_-_openxmlformats-officedocument_-_presentationml {
	background-image: url("../images/icons/mimetype/ppt.png");
}
#content a.fileName.application_postscript {
	background-image: url("../images/icons/mimetype/ps.png");
}
#content a.fileName.application_vnd_-_rn-realmedia {
	background-image: url("../images/icons/mimetype/ram.png");
}
#content a.fileName.application_x-rar-compressed {
	background-image: url("../images/icons/mimetype/rar.png");
}
#content a.fileName.text_rtf {
	background-image: url("../images/icons/mimetype/rtf.png");
}
#content a.fileName.application_x-installshield-compressedfile {
	background-image: url("../images/icons/mimetype/setup.png");
}
#content a.fileName.application_pgp-signature {
	background-image: url("../images/icons/mimetype/sig.png");
}
#content a.fileName.application_x-shockwave-flash {
	background-image: url("../images/icons/mimetype/swf.png");
}
#content a.fileName.application_x-tar {
	background-image: url("../images/icons/mimetype/tar.png");
}
#content a.fileName.text_plain {
	background-image: url("../images/icons/mimetype/txt.png");
}
#content a.fileName.text_x-vcard {
	background-image: url("../images/icons/mimetype/vcf.png");
}
#content a.fileName.audio_x-wav {
	background-image: url("../images/icons/mimetype/wav.png");
}
#content a.fileName.audio_x-ms-wma {
	background-image: url("../images/icons/mimetype/wma.png");
}
#content a.fileName.video_x-ms-wmv {
	background-image: url("../images/icons/mimetype/wmv.png");
}
#content a.fileName.application_vnd_-_ms-excel,
#content a.fileName.application_vnd_-_openxmlformats-officedocument_-_spreadsheetml {
	background-image: url("../images/icons/mimetype/xls.png");
}
#content a.fileName.text_xml {
	background-image: url("../images/icons/mimetype/xml.png");
}
#content a.fileName.application_zip {
	background-image: url("../images/icons/mimetype/zip.png");
}


/* MIME types already known in LinShare (with substitued icon) */

#content a.fileName.application_x-bittorrent {
	background-image: url("../images/icons/mimetype/conf.png");
}
#content a.fileName.application_x-url {
	background-image: url("../images/icons/mimetype/html.png");
}
#content a.fileName.application_x-winamp-playlist {
	background-image: url("../images/icons/mimetype/mp3.png");
}
#content a.fileName.application_x-compress,
#content a.fileName.application_stuffit,
#content a.fileName.application_vnd_-_ms-cab-compressed,
#content a.fileName.application_java-archive,
#content a.fileName.application_x-java-webarchive,
#content a.fileName.application_x-java-enterprisearchive {
	background-image: url("../images/icons/mimetype/tar.png");
}
#content a.fileName.text_java,
#content a.fileName.application_x-java-manifest,
#content a.fileName.application_bat,
#content a.fileName.application_x-sh,
#content a.fileName.application_x-csh,
#content a.fileName.application_x-bash,
#content a.fileName.application_x-ksh,
#content a.fileName.application_x-tsh,
#content a.fileName.application_x-applescript,
#content a.fileName.application_x-ms-registry,
#content a.fileName.application_x-md5,
#content a.fileName.application_x-sha {
	background-image: url("../images/icons/mimetype/txt.png");
}
#content a.fileName.application_x-mozilla-addressbook {
	background-image: url("../images/icons/mimetype/vcf.png");
}
#content a.fileName.application_xslt__xml,
#content a.fileName.application_rdf__xml,
#content a.fileName.application_owl__xml,
#content a.fileName.application_xspf__xml {
	background-image: url("../images/icons/mimetype/xml.png");
}
#content a.fileName.application_vnd_-_adobe_-_air-application-installer-package__zip {
	background-image: url("../images/icons/mimetype/zip.png");
}


/* Other MIME types (unknown in LinShare, on 2009-06-10), for future use */

#content a.fileName.application_x-7z-compressed {
	background-image: url("../images/icons/mimetype/7z.png");
}
#content a.fileName.text_x-c {
	background-image: url("../images/icons/mimetype/c.png");
}
#content a.fileName.text_x-c____ {
	background-image: url("../images/icons/mimetype/cpp.png");
}
#content a.fileName.application_x-python {
	background-image: url("../images/icons/mimetype/py.png");
}
#content a.fileName.application_x-rpm {
	background-image: url("../images/icons/mimetype/rpm.png");
}
#content a.fileName.application_x-tex,
#content a.fileName.application_x-latex {
	background-image: url("../images/icons/mimetype/tex.png");
}
#content a.fileName.application_x-xpinstall {
	background-image: url("../images/icons/mimetype/xpi.png");
}

#content a.fileName.text_java,
#content a.fileName.application_x-java-manifest {
	background-image: url("../images/icons/mimetype/java.png");
}
#content a.fileName.application_x-java-class {
	background-image: url("../images/icons/mimetype/class.png");
}
#content a.fileName.application_java-archive,
#content a.fileName.application_x-java-applet,
#content a.fileName.application_x-java-bean,
#content a.fileName.application_x-java-vm {
	background-image: url("../images/icons/mimetype/jar.png");		/* .jar */
}
#content a.fileName.application_x-java-webarchive {
	background-image: url("../images/icons/mimetype/jar.png");		/* .war */
}
#content a.fileName.application_x-java-enterprisearchive {
	background-image: url("../images/icons/mimetype/jar.png");		/* .ear */
}

#content a.fileName.application_x-executable,
#content a.fileName.application_x-ms-dos-executable {
	background-image: url("../images/icons/mimetype/exe.png");
}
#content a.fileName.application_octet-stream {
	background-image: url("../images/icons/mimetype/bin.png");
}

#content a.fileName.application_pgp-keys {
	background-image: url("../images/icons/mimetype/pgp.png");
}
#content a.fileName.application_pgp-signature {	/* Cf. sig.png */
}
#content a.fileName.application_pgp,
#content a.fileName.application_pgp-encrypted {
	background-image: url("../images/icons/mimetype/enc.png");
}



/***************************************************************************
* POPUPS
*/

/*--------------------------------------------------------------------------
* Popups > Guest creation, User edition
*/

#guestEditFormComponent .edit-form-label,
#memberEditFormComponent .edit-form-label,
#userEditFormComponent .edit-form-label {
	float: left;
}
#guestEditFormComponent .edit-form-field,
#memberEditFormComponent .edit-form-field,
#userEditFormComponent .edit-form-field {
	width: 19em;
}
#guestEditFormComponent .edit-form-checkbox,
#memberEditFormComponent .edit-form-checkbox,
#userEditFormComponent .edit-form-checkbox {
	margin-top: -1.30em;
	margin-right: 10em;		/* Safe margin */
}
#guestEditFormComponent textarea,
#memberEditFormComponent textarea,
#userEditFormComponent textarea {
	width: 41em;
}


/* Min-width doesn't exists, so : fixed width */
body {
	width: 1200px;
}

/* Trick to have the right column having the same height as the left column */
.yui-t6 .yui-b {
	margin-bottom: -3000px; 
	padding-bottom: 3000px;
}

#menuBar {
	background-image: none !important;
	background-color: #444 !important;
	border-top: 2px solid #666;
}

#menuBar li a span {
border:3px solid #444 !important;
}

#menuBar li a.menu-labelhighlight span {
border:3px solid #FFF !important;
}

#menuBar li a:hover {
	background-image: none !important;
	background-color: #555 !important;
}
#menuBar li a:hover span {
border:3px solid #555 !important;
}

#content #actionBar {
	float:none !important;
	margin-bottom: 0 !important;
	position: static !important;
}

#sideBar div.widget div.widget_body {
	padding: 10px;
}






#searchWidget div #switch {
	float: right;
	display: block;
	margin-top: -32px;
	margin-right: 6px;
	text-align: right;
}

#searchWidget div #switch strong {
	display: none;
}

#searchWidget div #switch a {
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
}
#searchWidget div #switch a:link,
#searchWidget div #switch a:visited {
	color: #C8DCE6;
}
#searchWidget div #switch a:hover,
#searchWidget div #switch a:active {
	color: #F57088;
}
#searchWidget div #switch a img {
	margin: auto -8px auto 0em;
	vertical-align: -.14em;
}
/* + cf. Components > Search panels */


/* Widget > Information */
#infoWidget div ul {
	margin: 0em;
	padding: 0em;
}

#infoWidget div ul li {
	margin-bottom: .25em;
	list-style: none outside none;
	text-align: center;
}

#infoWidget div ul li strong {
	color: #808080;
	font-size: 1.15em;
	white-space: nowrap;
}

#infoWidget div ul li span {
	color: #3D697F;
	font-size: 1.4em;
	white-space: nowrap;
}

/* User space : Indicator bar */
#infoWidget div ul li #userTotalSpaceDiv {
	width: 200px !important;
	height: 12px !important;
	margin: auto;
	border: 1px solid #5A93AF;
	text-align: left;
}
#infoWidget div ul li #userTotalSpaceDiv #userFreeSpaceDiv {
	height: inherit !important;
	background: #C8DCE6 url("../images/theme0/bg-userspace.png") repeat-x scroll left bottom !important;
	border-right: 1px solid #5A93AF;
}
#infoWidget div ul li #userTotalSpaceDiv #userFreeSpaceDiv span {
	position: relative;
	bottom: 1px;
	margin-left: .30em;
	color: #333;
	font-size: .85em;
}


/* Widget > Actions */

#actionsWidget div ul {
	margin: -.5em;
	padding: 0em;
	text-align: left;
}

#actionsWidget div ul li {
	list-style: none outside none;
	font-size: 1.1em;
}

#actionsWidget div ul li a {
	display: block;
	margin: 0em;
	padding: .25em 0em;
	color: #222 !important;
	text-decoration: none !important;
}

#actionsWidget div ul li a img {
	width: 16px;
	height: 16px;
	margin-left: .4em;
	margin-right: .15em;
	padding-bottom: 2px;
	vertical-align: middle;
}

#actionsWidget div ul li a:link,
#actionsWidget div ul li a:visited {
	border: 1px solid #EAF1F5;
}
#actionsWidget div ul li a:hover,
#actionsWidget div ul li a:active {
	background-color: #D9E6ED;
	border: 1px solid #8CB4C8;
	color: #C00D2D;
}


/* Widget > Share */

#sideBar #shareWidget div {
}

#shareWidget div div.t-data-grid {
	width: 104.5%;
	margin: 0em -.45em;
}



#searchWidget div form {
	margin-top: -.25em;
	font-size: 1.1em;
}
#searchWidget div form label {
	white-space: nowrap;
}
#searchWidget div form input {
	margin-top: .5em;
}

#searchWidget div form input.fileSearchPattern,
#searchWidget div form input.userSearchPattern,
#searchWidget div form input.datepicker {
	padding-left: 5px;
	height: 16px !important;
	padding: 1px 2px 1px 2px !important;
	background: #F0F0F0 url("../images/theme0/form-input-gradient.png") no-repeat;
	border: 1px solid #3D697F;
	color: #222;
}
#searchWidget div form input.tsubmit,
#shareWidget div form input.tsubmit,
#searchWidget div form input.treset,
#shareWidget div form input.treset {
	background: #C8DCE6 url("../images/theme0/magnify-small.png") no-repeat scroll 6px 5px;
	border: 1px solid #83AEC3;
	color: #3D697F;
	font-weight: bold;
	cursor: pointer;
	padding-left: 5px;
}
#searchWidget div form input.tsubmit:hover,
#searchWidget div form input.tsubmit:focus,
#shareWidget div form input.tsubmit:hover,
#shareWidget div form input.tsubmit:focus, 
#searchWidget div form input.treset:hover,
#searchWidget div form input.treset:focus,
#shareWidget div form input.treset:hover,
#shareWidget div form input.treset:focus {
	background-color: #FCCFD7;
	border-color: #F5758C;
	color: #C00D2D;
}
#searchWidget div form input.tsubmit:active,
#shareWidget div form input.tsubmit:active,
#searchWidget div form input.treset:active,
#shareWidget div form input.treset:active  {
	background-color: #E3BBC2;
	border-color: #E2697F;
	color: #8F0A22;
}
#shareWidget div form input.tsubmit[name="share"] {
	background-image: url('../images/icons/share-on-small.png');
}
#searchWidget div form input.treset {
	background-image: url('../images/icons/reset-small.png');
}

.t-beaneditor-submit {
	background-color:#EAF1F5;
border:1px solid #5A93AF !important;
color:#222222;
cursor:pointer;
float:none !important;
margin-left:5px;
padding-top:0 !important;
}


#formReport input, #formReport textarea {
	border:1px solid #DDDDDD;
}

#formReport input#fileNameMatchModeStart,
#formReport input#fileNameMatchModeAnywhere {
	border: none;
}

#content {
	width: 863px !important;	
}


#helpHome dl dt {
	background-color: #FFF;
	color: #C00D2D;
}



#sideBar {
font-size: 0.9em;
}

#shareWidget div div.t-data-grid table td img {
height:16px;
width:16px;
}

#tabSetGroup li {
	display: block;
	float: left;
	height: 18px;
}
#tabSetGroup li a.notSelected {
	padding:0px 10px 0;
}
ul#tabSetGroup {
	height: 26px;
}
#tabSetGroup li.selected a {
	background: #fff;
	padding:0px 10px 15px;
}
#tabSetGroup li.selected {
	border-bottom: 1px solid #fff;
	padding:4px 0 3px;
}

#pageContent h2 {
	clear: both;
}

a.button {
	display: block;
	width:90px;
}


a.button:hover, a.button:focus {
	background-position: left 0;
}
a.button:active {
	background-position: left 0;
}

a.button span {
	text-align: center !important;
	width:90px;
}

div.dialog a.button_wide {
	width:290px;
}
div.dialog a.button_wide span {
	width:290px;
}
a.button_wide {
	width:240px;
}
a.button_wide span {
	width:240px;
}

div.dialog div.button img {
	display:none;
}

div.dialog div.dialog div.button {
clear: both;
}


div.dialog div.button a.button span {
	position: static;
	background: none;
	margin-left: 10px;
}

div.dialog div.button a.button {
	border: none;
	background:transparent url(../images/theme0/button.png) no-repeat scroll center 0;
}

/*
* History 
*/
table.t-data-grid tbody td {
	ms-text-overflow:ellipsis;
}


div#rights {
	background-color: #dddddd; /* used to simulate transparency */
	border: solid 1px #ffffff;
	zoom: 1;
   	filter: progid:DXImageTransform.Microsoft.Shadow(Color=#555555, Strength=0, Direction=0), /* Shadow on the top*/
            progid:DXImageTransform.Microsoft.Shadow(Color=#555555, Strength=2, Direction=90), /* Shadow on the right*/
            progid:DXImageTransform.Microsoft.Shadow(Color=#555555, Strength=2, Direction=180), /* Shadow on the bottom*/ 
            progid:DXImageTransform.Microsoft.Shadow(Color=#555555, Strength=2, Direction=270), /* Shadow on the left*/
            progid:DXImageTransform.Microsoft.Chroma(Color='#dddddd'); /* delete background color to simulate transparency*/
}