#sortable { 
	list-style-type: none;
	margin: 0; 
	padding: 0; 
	width: 60%; 
}

#sortable li { 
	margin: 0 3px 3px 3px; 
	padding: 0.4em; 
	padding-left: 1.5em; 
	font-size: 1.0em; 
	height: 18px; 
}

#sortable li #position {
	display:inline-block;
	width:3em;
	align:center;
	float:left;
}

#sortable li span.ui-icon-arrowthick-2-n-s {
	float:right;
}

#pageContent p{
	margin-bottom:1em;
}

#pageContent .ui-state-default{
	cursor:move;
}