.overlay___invisible__ {
  background-color: #666;
	-moz-opacity: 0;
	opacity: 0;
}

.top_draggable, .bottom_draggable {
	cursor:move;
}

.status_bar {
	font-size:12px;
}
.status_bar input{
	font-size:12px;
}

.wired_frame {
	display:block;
	position:absolute;
	border:1px #000 dashed;
}



.overlay_bluelighting {
	background-color:#FFF;
	-moz-opacity:0.6;
	opacity:0.6;
}

.bluelighting_wired_frame {
	background:#FFF;
	-moz-opacity:0.6;
	opacity:0.6;	
}

.bluelighting_nw {
	background:transparent url(lighting/top-left-blue.png) no-repeat 0 0;			
	width:9px;
	height:28px;
}

.bluelighting_n {
	background:transparent url(lighting/top-middle-blue.png) repeat-x 0 0;			
	height:28px;
}

.bluelighting_ne {
	background:transparent url(lighting/top-right-blue.png) no-repeat 0 0;			
	width:15px;	  
	height:28px;
}

.bluelighting_w {
	background:transparent url(lighting/left-blue.png) repeat-y top left;			
	width:9px;
}

.bluelighting_e {
	background:transparent url(lighting/right-blue.png) repeat-y top right;			
	width:15px;	  
}

.bluelighting_sw {
	background:transparent url(lighting/bottom-left-blue.png) no-repeat 0 0;			
	width:9px;
	height:15px;
}

.bluelighting_s {
	background:transparent url(lighting/bottom-middle-blue.png) repeat-x 0 0;			
	height:15px;
}

.bluelighting_se, .bluelighting_sizer  {
	background:transparent url(lighting/bottom-right-blue.png) no-repeat 0 0;			
	width:15px;
	height:15px;
}

.bluelighting_sizer {
	cursor:se-resize;	
}

.bluelighting_close {
	width:15px;
	height:9px;
	background:transparent url(lighting/button-close-blue.png) no-repeat 0 0;			
	position:absolute;
	top:11px;
	right:10px;
	cursor:pointer;
	z-index:1000;
}

.bluelighting_maximize {
	width:15px;
	height:9px;
	background:transparent url(lighting/button-maximize-blue.png) no-repeat 0 0;			
	position:absolute;
	top:11px;
	right:25px;
	cursor:pointer;
	z-index:1000;
}

.bluelighting_minimize {
	width:15px;
	height:9px;
	background:transparent url(lighting/button-minimize-blue.png) no-repeat 0 0;			
	position:absolute;
	top:11px;
	right:40px;
	cursor:pointer;
	z-index:1000;
}

.bluelighting_title {
	float:left;
	height:14px;
	font-size:14px;
	font-weight:bold;
	font-family:Verdana, Arial, sans-serif;
	text-align:center;
	margin-top:2px;
	width:100%;
	color:#17385B;
}

.bluelighting_content {
	overflow:auto;
	color:#000;
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
	background:#BFDBFF;
}

/* For alert/confirm dialog */
.bluelighting_window {
	border:1px solid #F00;	
	background:#FFF;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	width:400px;
}

.bluelighting_message {
  	font-size:12px;
	text-align:center;
	width:100%;
	padding-bottom:10px;
}

.bluelighting_buttons {
	text-align:center;
	width:100%;
}

.bluelighting_buttons input {
	border:1px solid #999;
	border-top-color:#CCC;
	border-left-color:#CCC;
	padding:2px;
	background-color:#FFF;
	color:#333;
	background-image:url(lighting/background_buttons.gif);
	background-repeat:repeat-x;
	font-family:Verdana, Arial, sans-serif;
	font-size:10px;
	font-weight:bold;
	text-align:center;
}

.bluelighting_progress {
	float:left;
	margin:auto;
	text-align:center;
	width:100%;
	height:16px;
	background:transparent url('lighting/spinner.gif') no-repeat center center
}

/* FOR IE */
* html .bluelighting_nw {
	background-color: transparent;
	background-image: none;
}

* html .bluelighting_n {
	background-color: transparent;
	background-image: none;
}

* html .bluelighting_ne {
	background-color: transparent;
	background-image: none;
}

* html .bluelighting_w {
	background-color: transparent;
	background-image: none;
}

* html .bluelighting_e {
	background-color: transparent;
	background-image: none;
}

* html .bluelighting_sw {
	background-color: transparent;
	background-image: none;
}

* html .bluelighting_s {
	background-color: transparent;
	background-image: none;
}

* html .bluelighting_se, * html .bluelighting_sizer {
	background-color: transparent;
	background-image: none;
}

* html .bluelighting_close {
	background-color: transparent;
	background-image: none;
}

* html .bluelighting_minimize {
	background-color: transparent;
	background-image: none;
}

* html .bluelighting_maximize {
	background-color: transparent;
	background-image: none;
}

* html .bluelighting_content {
	background:#B8D7FF;
}
