ldap.auth.url=ldap://localhost:389
ldap.auth.base=dc=yourdomain,dc=com
ldap.auth.userDN=cn=nss,dc=yourdomain,dc=com
ldap.auth.password=nss
ldap.auth.baseDN=ou=test,o=linShare
ldap.auth.key=uid=%s
ldap.hash.algo=SHA

role.admin=admin
role.user=simple
role.public=public

mail.smtp.host=smtp.yourdomain.com
mail.smtp.user=user
mail.smtp.password=password
mail.smtp.auth.needed=false
mail.smtp.charset=UTF-8

linshare.db.username=sa
linshare.db.password=
linshare.db.driver.class=org.hsqldb.jdbcDriver
linshare.db.url=jdbc:hsqldb:mem:linshare_test
linshare.db.dialect=org.hibernate.dialect.HSQLDialect
linshare.db.show_sql=true
linshare.db.format_sql=true
linshare.db.gen_stats=false
linshare.db.hbm2ddl.auto=create

#These mails are using for unit testing about sharing in order to the mail sending 
linshare.test.mail.sender=mailSender@mailSender.test
linshare.test.mail.recipient=mailRecipient@mailRecipient.test

virusscanner.clamav.host=localhost
virusscanner.clamav.port=3310
virusscanner.clamav.filetocheck=/path/to/the/file/to/check