<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
	default-autowire="no">
	<bean name="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
		<constructor-arg ref="sessionFactory" />
		<property name="checkWriteOperations" value="false"></property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
		<property name="dataSource">
			<ref bean="dataSourceHibernate" />
		</property>
	<property name="hibernateProperties">
		<props>
			<prop key="hibernate.dialect">${linshare.db.dialect}</prop>
			<prop key="hibernate.show_sql">${linshare.db.show_sql}</prop>
			<prop key="hibernate.format_sql">${linshare.db.format_sql}</prop>
			<prop key="hibernate.generate_statistics">${linshare.db.gen_stats}</prop>
			<prop key="hibernate.hbm2ddl.auto">${linshare.db.hbm2ddl.auto}</prop>
			<prop key="hibernate.hbm2ddl.import_files">sql/common/import-domains.sql,sql/common/import-welcome-messages.sql,sql/common/import-functionalities.sql,sql/common/import-mail-activation.sql,sql/common/import-quota.sql,sql/common/import_mail_structure.sql,sql/h2/import-tests-domains-and-accounts.sql,sql/h2/import-all-emails.sql
			</prop>
			<prop key="hibernate.hbm2ddl.import_files_sql_extractor">${linshare.hbm2ddl.import_files_sql_extractor}</prop>
		</props>
	</property>
	</bean>

	<bean id="dataSourceHibernate" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${linshare.db.driver.class}" />
		<property name="url" value="${linshare.db.url}" />
		<property name="username" value="${linshare.db.username}" />
		<property name="password" value="${linshare.db.password}" />
		<property name="maxActive" value="${linshare.db.pool.maxactive}" />
		<property name="maxWait" value="${linshare.db.pool.maxwait}" />
		<property name="maxIdle" value="${linshare.db.pool.maxidle}" />
		<property name="poolPreparedStatements" value="true" />
		<property name="defaultAutoCommit" value="true" />
		<property name="testWhileIdle" value="true" />
		<property name="validationQuery" value="SELECT 1" />
		<property name="testOnBorrow" value="true" />
		<property name="timeBetweenEvictionRunsMillis"
			value="${linshare.db.pool.timebetweenevictionrunsmillis}" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSourceHibernate"></property>
	</bean> 
</beans>
