<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="    
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-autowire="no">


	<bean name="functionalityService" class="org.linagora.linShare.core.service.impl.FunctionalityServiceImpl">
	        <constructor-arg ref="functionalityRepository"/>
        	<constructor-arg ref="abstractDomainRepository"/>
	</bean>
	
	<bean name="ldapQueryService" class="org.linagora.linShare.core.service.impl.LDAPQueryServiceImpl">
    </bean>
    
    <bean name="userProviderService" class="org.linagora.linShare.core.service.impl.UserProviderServiceImpl">
        <constructor-arg ref="userProviderRepository"/>
        <constructor-arg ref="domainPatternRepository"/>
        <constructor-arg ref="ldapConnectionRepository"/>
        <constructor-arg ref="ldapQueryService"/>
    </bean>
    
      <bean name="domainPolicyService" class="org.linagora.linShare.core.service.impl.DomainPolicyServiceImpl">
        <constructor-arg ref="domainPolicyRepository"/>
    </bean>
    
     <bean name="abstractDomainService" class="org.linagora.linShare.core.service.impl.AbstractDomainServiceImpl">
        <constructor-arg ref="functionalityService"/>
        <constructor-arg ref="abstractDomainRepository"/>
        <constructor-arg ref="domainPolicyService"/>
        <constructor-arg ref="userProviderService"/>
        <constructor-arg ref="messagesRepository"/>
    </bean>
    
</beans>
